.show-for-mobile {
    display: block;
}

.lightbox-info-block
{
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;

	.modal-overlay
	{
		width: 80%;
		margin-left: -40%;
	}
}

#share-modal-display .close-overlay {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 45px;
	height: 45px;
	border-radius: 26px;
	// behavior: url(gng/css/PIE.htc);
	cursor: pointer;
	background-position: 12px -800px;
	background-color: #333;
}

#share-modal-display .overlay-content .share-fig img {
	margin: 15px;
}
