<!-- BEGIN THE CONTENT GRID FRAGMENT -->
<li class="content-item"><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-brookstone.jpg"/>
    </figure>
    <section class="content-detail">
      <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
      <div class="price">$189.00<span class="sale"><span class="original-price">$399.99</span></span></div>
      <div class="rating stars three-half">(21)</div>

    </section>
  </a>
  <div class="content-hover">
    <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
    <div class="color-picker">
      <ul class="colors">
        <li class="color"><a href="#pick-color" title="black">
          <img src="img/product-category-listing/pick-blk.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="gray">
          <img src="img/product-category-listing/pick-gry.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="white">
          <img src="img/product-category-listing/pick-wht.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="orange">
          <img src="img/product-category-listing/pick-org.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="yellow">
          <img src="img/product-category-listing/pick-ylw.png"/>
        </a></li>
      </ul>
    </div>
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div>
  <div class="content-item-offer">
	<img src="img/sprites/product-listing/sp-ofr-sale.png"/>
    <span>Sale 10% Off</span>
  </div></form>
</li>
<!-- END CONTENT GRID FRAGMENT -->

<!-- REPEATING CONTENT GRID FRAGMENT TO FILL IN TEMPLATE FOR VIEWING PURPOSES -->
<li class="content-item"><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-denon.jpg" />
    </figure>
    <section class="content-detail">
      <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
      <div class="price">$189.00<span class="sale"><span class="original-price">$399.99</span></span></div>
      <div class="rating stars three-half">(21)</div>

    </section>
  </a>
  <div class="content-hover">
    <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
    <div class="color-picker">
      <ul class="colors">
        <li class="color"><a href="#pick-color" title="black">
          <img src="img/product-category-listing/pick-blk.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="gray">
          <img src="img/product-category-listing/pick-gry.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="white">
          <img src="img/product-category-listing/pick-wht.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="orange">
          <img src="img/product-category-listing/pick-org.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="yellow">
          <img src="img/product-category-listing/pick-ylw.png"/>
        </a></li>
      </ul>
    </div>
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div>
  <div class="content-item-offer">
  	<img src="img/sprites/product-listing/sp-ofr-sale.png"/>
    <span>Sale 10% Off</span>
  </div></form>
</li>

<li class="content-item"><!-- item 3 --><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-isound.jpg" />
    </figure>
    <section class="content-detail">
      <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
      <div class="price">$189.00<span class="sale"><span class="original-price">$399.99</span></span></div>
      <div class="rating stars three-half">(21)</div>

    </section>
  </a>
  <div class="content-hover">
    <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
    <div class="color-picker">
      <ul class="colors">
        <li class="color"><a href="#pick-color" title="black">
          <img src="img/product-category-listing/pick-blk.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="gray">
          <img src="img/product-category-listing/pick-gry.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="white">
          <img src="img/product-category-listing/pick-wht.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="orange">
          <img src="img/product-category-listing/pick-org.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="yellow">
          <img src="img/product-category-listing/pick-ylw.png"/>
        </a></li>
      </ul>
    </div>
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div>
  <div class="content-item-offer">
	<img src="img/sprites/product-listing/sp-ofr-sale.png"/>
    <span>Sale 10% Off</span>
  </div></form>
</li>

<li class="content-item"><!-- item 4 --><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-jabra-soulmate.jpg" />
    </figure>
    <section class="content-detail">
      <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
      <div class="price">$189.00<span class="sale"><span class="original-price">$399.99</span></span></div>
      <div class="rating stars three-half">(21)</div>

    </section>
  </a>
  <div class="content-hover">
    <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
    <div class="color-picker">
      <ul class="colors">
        <li class="color"><a href="#pick-color" title="black">
          <img src="img/product-category-listing/pick-blk.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="gray">
          <img src="img/product-category-listing/pick-gry.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="white">
          <img src="img/product-category-listing/pick-wht.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="orange">
          <img src="img/product-category-listing/pick-org.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="yellow">
          <img src="img/product-category-listing/pick-ylw.png"/>
        </a></li>
      </ul>
    </div>
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div>
  <div class="content-item-offer">
	<img src="img/sprites/product-listing/sp-ofr-sale.png"/>
    <span>Sale 10% Off</span>
  </div></form>
</li>


<li class="content-item bundle"><!-- item 5 --><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-detail-page/plp-spcl/plp-bundle-item.png" />
    </figure>
    <section class="content-detail">
      <h1 class="name"><span>Nokia Lumia 822 Bundle</span></h1>
      <div class="price">$79.99<span class="sale"><span class="original-price">$99.99</span></span></div>
      <div class="rating stars three-half">(21)</div>

    </section>
  </a>
  <div class="content-hover">
    <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
    <div class="color-picker">
      <ul class="colors">
        <li class="color"><a href="#pick-color" title="black">
          <img src="img/product-category-listing/pick-blk.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="gray">
          <img src="img/product-category-listing/pick-gry.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="white">
          <img src="img/product-category-listing/pick-wht.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="orange">
          <img src="img/product-category-listing/pick-org.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="yellow">
          <img src="img/product-category-listing/pick-ylw.png"/>
        </a></li>
      </ul>
    </div>
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div>
  <div class="content-item-offer bundle">
	<img src="img/sprites/product-listing/plp-bundle-icon.png"/>
    <span>Bundle</span>
  </div></form>
</li>

<li class="content-item"><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-nixon.jpg" />
    </figure>
    <section class="content-detail">
      <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
      <div class="price">$189.00<span class="sale"><span class="original-price">$399.99</span></span></div>
      <div class="rating stars three-half">(21)</div>

    </section>
  </a>
  <div class="content-hover">
    <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
    <div class="color-picker">
      <ul class="colors">
        <li class="color"><a href="#pick-color" title="black">
          <img src="img/product-category-listing/pick-blk.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="gray">
          <img src="img/product-category-listing/pick-gry.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="white">
          <img src="img/product-category-listing/pick-wht.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="orange">
          <img src="img/product-category-listing/pick-org.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="yellow">
          <img src="img/product-category-listing/pick-ylw.png"/>
        </a></li>
      </ul>
    </div>
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div>
  <div class="content-item-offer">
	<img src="img/sprites/product-listing/sp-ofr-sale.png"/>
    <span>Sale 10% Off</span>
  </div></form>
</li>

<li class="content-item"><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-skullcandy.jpg" />
    </figure>
    <section class="content-detail">
      <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
      <div class="price">$189.00<span class="sale"><span class="original-price">$399.99</span></span></div>
      <div class="rating stars three-half">(21)</div>

    </section>
  </a>
  <div class="content-hover">
    <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
    <div class="color-picker">
      <ul class="colors">
        <li class="color"><a href="#pick-color" title="black">
          <img src="img/product-category-listing/pick-blk.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="gray">
          <img src="img/product-category-listing/pick-gry.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="white">
          <img src="img/product-category-listing/pick-wht.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="orange">
          <img src="img/product-category-listing/pick-org.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="yellow">
          <img src="img/product-category-listing/pick-ylw.png"/>
        </a></li>
      </ul>
    </div>
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div>
  <div class="content-item-offer">
	<img src="img/sprites/product-listing/sp-ofr-sale.png"/>
    <span>Sale 10% Off</span>
  </div></form>
</li>

<li class="content-item"><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-brookstone.jpg" />
    </figure>
    <section class="content-detail">
      <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
      <div class="price">$189.00<span class="sale"><span class="original-price">$399.99</span></span></div>
      <div class="rating stars three-half">(21)</div>

    </section>
  </a>
  <div class="content-hover">
    <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
    <div class="color-picker">
      <ul class="colors">
        <li class="color"><a href="#pick-color" title="black">
          <img src="img/product-category-listing/pick-blk.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="gray">
          <img src="img/product-category-listing/pick-gry.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="white">
          <img src="img/product-category-listing/pick-wht.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="orange">
          <img src="img/product-category-listing/pick-org.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="yellow">
          <img src="img/product-category-listing/pick-ylw.png"/>
        </a></li>
      </ul>
    </div>
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div>
  <div class="content-item-offer">
	<img src="img/sprites/product-listing/sp-ofr-sale.png"/>
    <span>Sale 10% Off</span>
  </div></form>
</li>

<li class="content-item"><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-denon.jpg" />
    </figure>
    <section class="content-detail">
      <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
      <div class="price">$189.00<span class="sale"><span class="original-price">$399.99</span></span></div>
      <div class="rating stars three-half">(21)</div>

    </section>
  </a>
  <div class="content-hover">
    <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
    <div class="color-picker">
      <ul class="colors">
        <li class="color"><a href="#pick-color" title="black">
          <img src="img/product-category-listing/pick-blk.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="gray">
          <img src="img/product-category-listing/pick-gry.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="white">
          <img src="img/product-category-listing/pick-wht.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="orange">
          <img src="img/product-category-listing/pick-org.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="yellow">
          <img src="img/product-category-listing/pick-ylw.png"/>
        </a></li>
      </ul>
    </div>
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div>
  <div class="content-item-offer">
	<img src="img/sprites/product-listing/sp-ofr-sale.png"/>
    <span>Sale 10% Off</span>
  </div></form>
</li>

<li class="content-item"><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-isound.jpg" />
    </figure>
    <section class="content-detail">
      <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
      <div class="price">$189.00<span class="sale"><span class="original-price">$399.99</span></span></div>
      <div class="rating stars three-half">(21)</div>

    </section>
  </a>
  <div class="content-hover">
    <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
    <div class="color-picker">
      <ul class="colors">
        <li class="color"><a href="#pick-color" title="black">
          <img src="img/product-category-listing/pick-blk.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="gray">
          <img src="img/product-category-listing/pick-gry.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="white">
          <img src="img/product-category-listing/pick-wht.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="orange">
          <img src="img/product-category-listing/pick-org.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="yellow">
          <img src="img/product-category-listing/pick-ylw.png"/>
        </a></li>
      </ul>
    </div>
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div>
  <div class="content-item-offer">
	<img src="img/sprites/product-listing/sp-ofr-sale.png"/>
    <span>Sale 10% Off</span>
  </div></form>
</li>

<li class="content-item"><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-jabra-soulmate.jpg" />
    </figure>
    <section class="content-detail">
      <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
      <div class="price">$189.00<span class="sale"><span class="original-price">$399.99</span></span></div>
      <div class="rating stars three-half">(21)</div>

    </section>
  </a>
  <div class="content-hover">
    <div class="content-message"><a href="#content-message" title="Sale!">sale 15% off</a></div>
    <div class="color-picker">
      <ul class="colors">
        <li class="color"><a href="#pick-color" title="black">
          <img src="img/product-category-listing/pick-blk.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="gray">
          <img src="img/product-category-listing/pick-gry.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="white">
          <img src="img/product-category-listing/pick-wht.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="orange">
          <img src="img/product-category-listing/pick-org.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="yellow">
          <img src="img/product-category-listing/pick-ylw.png"/>
        </a></li>
      </ul>
    </div>
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div>
  <div class="content-item-offer">
	<img src="img/sprites/product-listing/sp-ofr-sale.png"/>
    <span>Sale 10% Off</span>
  </div></form>
</li>
