<li class="featured content-item"><form method="post" action="#">

  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img src="img/product-category-listing/pcl-beats.jpg" alt="Beats by Dre" />
    </figure>
    <section class="content-detail">
      <h1 class="name"><span><span class="brand">Beats by Dre</span> Pro Headphones</span></h1>
      <div class="price">$299.00<span class="original-price">$399.99</span></div>
      <div class="rating"><img src="img/stars-gray.png" /></div>
    </section>
  </a>
  <div class="content-hover">
    <div class="content-message"><a href="#content-message" title="Sale">sale 15% off</a></div>
    <div class="color-picker">
      <ul class="colors">
        <li class="color"><a href="#pick-color" title="black">
          <img src="img/product-category-listing/pick-blk.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="gray">
          <img src="img/product-category-listing/pick-gry.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="white">
          <img src="img/product-category-listing/pick-wht.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="orange">
          <img src="img/product-category-listing/pick-org.png"/>
        </a></li>
        <li class="color"><a href="#pick-color" title="yellow">
          <img src="img/product-category-listing/pick-ylw.png"/>
        </a></li>
      </ul>
    </div>
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div>
  <div class="content-item-offer">
	<img src="img/sprites/product-listing/sp-ofr-sale.png"/>
    <span>Sale 10% Off</span>
  </div>
</form></li>
