<div id="quick-view-overlay" class="quick-view-overlay bundle">
    <div class="wrapper">
        <div class="quick-view-header">
            <ul class="quick-view-offers">
                <li class="first offer">free shipping</li>
                <!-- if more than one offer..
                <li class="offer"></li>
                <li class="last offer"></li> -->
            </ul>
            <a id="close-quick-view" class="quick-view-close" href="#close-quick-view">close</a>
        </div>
        <section class="quick-view-item">

        	<div class="offer-box">
				<div class="offer-amt">20</div>
				<div class="offer-unit">%</div>
				<div class="offer-off">Off</div>
			</div>

            <!-- main carousel slider -->
            <div id="quick-view-slider" class="bundle">
               <img src="img/product-detail-page/plp-spcl/plp-bundle-item.png" title="Nokia Lumia 822 Bundle">
            </div>
        </section>
        <section class="quick-view-details bundle"><form method="post" action="#">
            <div class="column">
                <header class="product-header">
                    <h1 class="product-name">Nokia Lumia 822 Bundle</h1>
                </header> <!-- end quick view header-->

                <div class="bundle-details">
                	<p>Nemo enim ipsam voluptatem quia voluptas sit
                		aspernatur aut odit aut fugit.  This bundle includes:</p>

                    <ul id="bundle-pieces">
                        <li>Nokia Lumia 822 Anti-Scratch Display Protectors</li>
                        <li>Nokia Lumia 822 Phone Case </li>
                        <li>Verizon Vehicle Charger with Dual Output</li>
                    </ul>
                </div> <!-- end bundle details -->
            </div><!-- end quick view details -->

            <div class="column">
            	<div class="product-pricing">
                    <div class="sale">Reg.$<span>299.99</span></div>
                    <div class="price">$<span>249<sup>99</sup></span></div>
                </div>

                <div class="value-add">
                	You save 20% when you buy all three together.
                </div>
            </div>

            <div class="column">
                <div class="product-actions">
                    <input class="product-action add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add Bundle to Cart" />
                </div>
            </div></form>
        </section>
    </div>
</div>
<div id="quick-view-modal" class="quick-view-modal"></div>
