<div id="quick-view-overlay" class="quick-view-overlay">
    <div class="wrapper">
        <div class="quick-view-header">
            <ul class="quick-view-offers">
                <li class="first offer">free shipping</li>
                <!-- if more than one offer..
                <li class="offer"></li>
                <li class="last offer"></li> -->
            </ul>
            <a id="close-quick-view" class="quick-view-close" href="#close-quick-view">close</a>
        </div>
        <section class="quick-view-item">

        	<div class="offer-box">
				<div class="offer-amt">10</div>
				<div class="offer-unit">%</div>
				<div class="offer-off">Off</div>
			</div>

            <!-- main carousel slider -->
            <div id="quick-view-slider" class="slider">
                <ul class="slides">
                    <li class="first slide">
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                    </li>
                    <li class="slide">
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                    </li>
                    <li class="slide">
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                    </li>
                    <li class="last slide">
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                    </li>
                </ul>
            </div>
            <div id="slider-controls">
                <ol class="flex-control-thumbs">
                    <li>
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                        <div class="decoration"></div>
                    </li>
                    <li>
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                        <div class="decoration"></div>
                    </li>
                    <li>
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                        <div class="decoration"></div>
                    </li>
                    <li>
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                        <div class="decoration"></div>
                    </li>
                </ol>
            </div>
            <!-- end main carousel slider -->
        </section>
        <section class="quick-view-details"><form method="post" action="#">
            <div class="column">
                <header class="product-header">
                    <!-- product header -->
                    <h2 class="product-name"><span class="brand">jawbone</span>Up Wristband</h2>
                    <!-- end product header -->
                    <!-- product rating inside this block -->
                    <div class="product-rating"></div>
                    <!-- end product rating -->
                </header> <!-- end quick view header-->
                <div class="rating"><img src="img/stars-gray.png" /> <a href="#">(23)</a></div>
                <div class="product-color"> <!-- color selector -->
                    <div class="color-info"><span class="color-option">Black</span></div>
                    <ul id="product-colors" class="product-colors inline-list">
                        <li class="color black active">
                            <a href="#select-color" class="action" title="black">
                                <img src="img/product-category-listing/pick-blk.png"/>
                            </a>
                        </li>
                        <li class="color grey">
                            <a href="#select-color" class="action" title="grey">
                                <img src="img/product-category-listing/pick-gry.png"/>
                            </a>
                        </li>
                        <li class="color white">
                            <a href="#select-color" class="action" title="white">
                                <img src="img/product-category-listing/pick-wht.png"/>
                            </a>
                        </li>
                        <li class="color blue">
                            <a href="#select-color" class="action" title="yellow">
                                <img src="img/product-category-listing/pick-ylw.png"/>
                            </a>
                        </li>
                    </ul>
                </div> <!-- end color selector -->
            </div>
            <div class="column">
                <div class="product-pricing">
                    <div class="sale">Reg.$<span>299.99</span></div>
                    <div class="price">$<span>249<sup>99</sup></span></div>
                </div>
                <div class="product-actions">
                    <input class="add-cart-cta product-action" type="submit" title="Add to Cart" value="Add to Cart">
                    <a class="product-details product-action" href="#" title="See Details"><span>See Details</span></a>
                </div>
            </div></form>
        </section>
    </div>
</div>
<div id="quick-view-modal" class="quick-view-modal"></div>
