<section id="add-cart-server-error" class="lightbox" data-modal-id="#add-cart-server-error">
    <div class="lightbox-info-block">
        <h3 class="lightbox-headline">Insert Add-to-Cart Error Headline Here</h3>
        <div class="lightbox-details">Insert details about the error and instructions to help them resolve.</div>
        <div class="lightbox-fineprint">
            <h5 class="headline">Questions?</h5>
            <div class="call">
                <span>Call:</span>
                <a href="#" title="Call Verizon Customer Service" class="modal-call-link">1-800-555-6789</a>
            </div>
            <div class="chat">
                <a href="#" title="Chat with Verizon Customer Service" class="modal-chat-link">Chat</a>
            </div>
        </div>
        <div class="lightbox-close"></div>
    </div>
</section>
