<div id="quick-view-overlay" class="quick-view-overlay">
    <div class="wrapper data-product-attributes">

        <div class="quick-view-header">
            <ul class="quick-view-offers">
                <li class="first offer">free shipping</li>
                <!-- if more than one offer..
                <li class="offer"></li>
                <li class="last offer"></li> -->
            </ul>
            <a id="close-quick-view" class="quick-view-close" href="#close-quick-view">close</a>
        </div>
        <section class="quick-view-item">
            <!-- main carousel slider -->
            <div id="quick-view-slider" class="slider">
                <ul class="slides">
                    <li class="first slide">
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                    </li>
                    <li class="slide">
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                    </li>
                    <li class="last slide">
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                    </li>
                </ul>
            </div>
            <div class="slider-controls">
                <ol class="slides">
                    <li>
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png" alt="Beats by Dre - On-Ear Wireless Headphones" >
                        <div class="decoration vzn-active"></div>
                    </li>
                    <li>
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png" alt="Beats by Dre - On-Ear Wireless Headphones" >
                        <div class="decoration vzn-active"></div>
                    </li>
                    <li>
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png" alt="Beats by Dre - On-Ear Wireless Headphones" >
                        <div class="decoration vzn-active"></div>
                    </li>
                </ol>
            </div>
            <!-- end main carousel slider -->
        </section>
        <section class="quick-view-details">
            <form method="post" action="#">
                <div class="pdp-size-color column">
                    <header class="product-header">


                        <!-- product header -->
                        <h1 class="product-name"><span class="brand"></span>Samsung Galaxy S III <br> Bundle</h1>
                        <p>
                    Neque porro quisquam est qui <br>
                    dolorem ipsum. The bundle includes:
                  </p>

                  <ul>
                    <li>Samsung Anti-Scratch</li>
                    <li>Display Protectors</li>
                    <li>Samsung Galaxy Black Phone Case</li>
                    <li>Verizon Vehicle Charger with </li>
                    <li>Dual Output</li>
                  </ul>
                        <!-- end product rating -->
                    </header> <!-- end quick view header-->

                </div>
                <div class="column">
                    <div class="product-pricing">
                        <!-- <div class="sale">Reg.$<span>299.99</span></div> -->
                        <div class="price">$<span>69<sup>99</sup></span></div>
                    </div>

                    <p class="you-save">
                      You save 40% <br>
                      when you buy <br>
                      all three
                    </p>

                    <div class="product-actions">
                        <div class="pdp-cart-red-cta-box">
                            <input id="pdp-add-to-cart-submit" class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" />
                        </div>

                        <div class="no-cta-button">
                            <span class="OOS-text">coming soon</span>
                            <span class="expired-text">not available</span>
                        </div>

                        <a class="product-details product-action" href="#" title="See Details"><span>See Details</span></a>
                    </div>
                </div>
            </form>
        </section>
    </div>

    <div id="quick-view-modal" class="quick-view-modal"></div>
</div>
