<header class="category-list-header">

  <section class="category-header-promo">
    <h1 class="promo-header">bundle up <br /> your device</h1>
    <div class="category-image">
      <img src="img/bb/bb-landing-hero.png" alt="bundle">
    </div>

    <div class="offer-box">
        <span class="offer-msg">save up to</span>
        <div class="offer-amt">45</div>
        <div class="offer-unit">%</div>
        <!-- <div class="offer-off">save up to</div> -->
    </div>



    <div class="promo-info">
      <p class="promo-copy">
        <span class="hyphen">-</span>
        <span class="copy">showyour device some love<br />
          and save up to $39 with a case, <br />
          display protector, and a charger</span>
      </p>

      <span class="caret show-for-mobile"></span>
      <div class="mobile-details show-for-mobile">
      <p class="mobile-copy">show your device some love with <br /> accessories that protect and power it up</p>
      <p class="mobile-cta"><span><a class="see-details" href="#">See details</a></span></p>
    </div>
    </div>
  </section>
</header>
