<header class="category-list-header">
    <div class="wrapper">
        <section class="category-header-promo">
            <h1 class="promo-header"><img src="img/brand-landing/logo-sony.png" alt="Sony"></h1>
            <div class="category-image">
                <img src="img/brand-landing/sony-x-headphones.jpg" alt="Sony X Headphones">
            </div>
            <div class="header-message promo-info">
              <p class="content-header-message hide-for-mobile promo-copy">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
            </div> 
            <!-- <div class="promo-info">
                <p class="promo-copy">
                Check out Sony-X and Sony products
                </p>
                <a href="#" class="button promo-cta"><span>see details</span></a>
            </div> --> 
           </section>

        <div class="content-grid-heading">
            <h1 class="content-grid-category">Headphones</h1>
            <h3 id="content-filter-count" class="content-filter-count"><strong>298</strong><br /> Sony Products</h3>
        </div>

        <div class="header-info">
            <h1 class="category-header">music &amp; audio</h1>
            <p class="category-header-message">Free 3-5 Day Ground Shipping on All Orders</p>
        </div>


        <!-- Sort Options -->
        <div id="sort-options" class="sort-options hide-for-small">
          <h2>SORT BY:</h2>
          <ul class="inline-list">
              <li class="fltr-featured active hide-for-medium-down" data-type="featured">
                  <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001&amp;sort_by=featured">featured</a><a href="#" class="hover"></a>
              </li>
              <li class="fltr-newest hide-for-medium-down" data-type="newest">
                  <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001&amp;sort_by=newest">newest</a><a href="#" class="hover"></a>
              </li>
              <li class="fltr-price-asc hide-for-medium-down" data-type="price-asc">
                  <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001&amp;sort_by=price">price</a><a href="#" class="hover"></a>
              </li>
              <li class="fltr-price-desc hide-for-medium-down" data-type="price-desc">
                  <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001&amp;sort_by=featured">price</a><a href="#" class="hover"></a>
              </li>
              <li class="fltr-high-rated hide-for-medium-down" data-type="highest-rated">
                  <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001&amp;sort_by=highest_rated">highest rated</a><a href="#" class="hover"></a>
              </li>
              <li class="fltr-best-selling hide-for-medium-down" data-type="best-selling">
                  <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001&amp;sort_by=best_selling">best selling</a><a href="#" class="hover"></a>
              </li>
              <!--<li id="drawer-filter" class="show-for-touch"><a href="#">filter</a></li>-->
              <li id="drawer-sort" class="sort show-for-medium">
                <label for="sort-options">Sort By</label>
                <select id="sort-options">
                  <option value="featured">Featured</option>
                  <option value="newest">Newest</option>
                  <option value="price-asc">Price (Ascending)</option>
                  <option value="price-desc">Price (Descending)</option>
                  <option value="highest-rated">Highest Rated</option>
                  <option value="best-selling">Best Selling</option>
                </select>
              </li>
          </ul>
        </div>


        <!-- Filters -->
        <div id="mobile-sort-filter" class="mobile-sort-filter show-for-small">
          <a href="#" class="dropdown-cta sort"><span>sort</span></a>
          <span class="dropdown-cta sort-by-label hide-for-small">Sort By: </span>
          <a href="#" class="dropdown-cta filter hide-for-medium"><span>filter</span></a>
          <div class="dropdown-menu">
              <ul class="submenu-list sort-options-list">
                  <li class="sort-option" data-type="featured">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">featured</a>
                  </li>
                  <li class="sort-option" data-type="newest">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">newest</a>
                  </li>
                  <li class="sort-option" data-type="price-asc">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">price ascending</a>
                  </li>
                  <li class="sort-option" data-type="price-desc">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">price descending</a>
                  </li>
                  <li class="sort-option" data-type="highest-rated">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">highest rated</a>
                  </li>
                  <li class="sort-option" data-type="best-selling">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">best selling</a>
                  </li>

              </ul>
              <ul class="submenu-list filter-options-list">
                  <li class="filter-option active" data-type="compatibility">Compatibility</li>
                  <li class="filter-option" data-type="special-offers">Special Offers</li>
                  <li class="filter-option" data-type="colors">Colors</li>
                  <li class="filter-option" data-type="lifestyles">Lifestyles</li>
                  <li class="filter-option" data-type="brand">Brand</li>
              </ul>
          </div>
        </div>

        <!-- Filter panels -->
        <div class="filter-panels">
          <a href="#closePanel" class="close">close x</a>
          <div class="filter-panel compatibility" data-dimension="compatibility">
              <h2 class="dimension-title">Compatibility</h2>
                <div class="compatibility-filter">
                    <form method="post" action="#">
                        <input class="device type-ahead" name="search" placeholder="enter device or brand"/>
                        <span class="icon"></span>

                        <select class="device-type" name="device-type">
                            <option>Devices Type</option>
                            <option value="N=102351+42966602&amp;Nr=sku.siteId%3A1000001">E-readers</option>
                            <option value="N=102351+42966602&amp;Nr=sku.siteId%3A1000001">MP3 Players</option>
                            <option value="N=102351+42966602&amp;Nr=sku.siteId%3A1000001">Notebooks</option>
                            <option value="N=102351+42966602&amp;Nr=sku.siteId%3A1000001">Smartphones</option>
                            <option value="N=102351+42966602&amp;Nr=sku.siteId%3A1000001">Tablets</option>
                        </select>
                        <select class="brand" name="brand">
                          <option>Brand</option>
                            <option value="N=102351+42966602&amp;Nr=sku.siteId%3A1000001">Apple</option>
                            <option value="N=102351+42966602&amp;Nr=sku.siteId%3A1000001">Blackbery</option>
                            <option value="N=102351+42966602&amp;Nr=sku.siteId%3A1000001">Gateway</option>
                            <option value="N=102351+42966602&amp;Nr=sku.siteId%3A1000001">HP</option>
                            <option value="N=102351+42966602&amp;Nr=sku.siteId%3A1000001">HTC</option>
                        </select>
                    </form>

                    <div class="compat-results">
                        <div class="tab-inner">
                            <div class="device-scroll">
                                <div class="scrollbar">
                                    <div class="track">
                                        <div class="thumb">
                                            <div class="container">
                                                <div class="end"></div>
                                                <div class="bottom"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="viewport">
                                    <div class="overview">
                                        <ul class="items"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
          <div class="filter-panel special-offers" data-dimension="special-offers">
              <h2 class="dimension-title">Special Offers</h2>
              <ul class="dimension-list single-select">
                  <li class="list-option first">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option last">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="filter-panel colors" data-dimension="colors">
              <h2 class="dimension-title">Colors</h2>
              <ul class="dimension-list multi-select">
                  <li class="list-option first" data-facet="white">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option" data-facet="purple">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option" data-facet="red">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option" data-facet="orange">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option last" data-facet="green">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="filter-panel lifestyles" data-dimension="lifestyles">
              <h2 class="dimension-title">Lifestyles</h2>
              <ul class="dimension-list multi-select">
                  <li class="list-option first">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option last">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="filter-panel brand" data-dimension="brand">
              <h2 class="dimension-title">Brand</h2>
              <ul class="dimension-list multi-select">
                  <li class="list-option first">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
                  <li class="list-option last">
                      <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                          <span class="facet-check"></span>
                          <span class="facet-name">facet</span>
                          <span class="facet-count">(25)</span>
                      </a>
                  </li>
              </ul>
          </div>
        </div>
      </div>
</header>
