<article id="bundle-deals" class="bundle-deals category-section">
    <header class="content-header">
        <h2 class="title"><strong>Bundle</strong> Deals<a href="#see-all" title="See All">see all</a></h2>
        <div class="slide-nav"></div>
    </header>
    <ul class="bundle-deals-slider slides">
        <li class="bundle-deals-slide bundle"><form method="post" action="#">
            <input type="hidden" name="ProductId" value="droid-razr-by-moto-black-travel-vb" />
            <div class="wrapper">
                <section class="quick-view-item">
                    <div class="offer-bundle">
                        <div class="offer-box">
                            <div class="offer-amt">20</div>
                            <div class="offer-unit">%</div>
                            <div class="offer-off">Off</div>
                        </div>
                        <!-- main carousel slider -->
                        <div class="bundle">
                            <img src="http://s7.vzw.com/is/image/VerizonWireless/droid-razr-by-moto-black-travel-vb?$acc-lg$" title="Nokia Lumia 822 Bundle">
                        </div>
                    </div>
                </section>
                <section class="quick-view-details bundle">
                    <div class="column">
                        <header class="product-header">
                            <h3 class="product-name">Nokia Lumia 822 Bundle</h3>
                        </header>
                        <!-- end quick view header-->
                        <div class="bundle-details">
                            <p>Neque porro quisquam est qui dolorem ipsum. The bundle includes:</p>
                            <ul class="bundle-pieces">
                                <li>Nokia Lumia 822 Anti-Scratch Display Protectors</li>
                                <li>Nokia Lumia 822 Phone Case</li>
                                <li>Verizon Vehicle Charger with Dual Output</li>
                            </ul>
                        </div>
                        <!-- end bundle details -->
                    </div>
                    <!-- end quick view details -->
                    <div class="column pricing">
                        <div class="value-add">
                            You save 20% when you buy all three
                        </div>
                        <div class="product-pricing">
                            <div class="sale">Reg.$<span>99.99</span></div>
                            <div class="price">$<span>79<sup>99</sup></span></div>
                        </div>
                    </div>
                    <div class="column add-cart">
                        <div class="product-actions">
                            <input class="product-action add-cart-cta data-cart-add" type="submit" title="Add Bundle to Cart" value="Add Bundle to Cart" >
                        </div>
                    </div>
                </section>
            </div></form>
        </li>

        <li class="bundle-deals-slide bundle"><form method="post" action="#">
            <input type="hidden" name="ProductId" value="droid-razr-by-moto-black-travel-vb" />
            <div class="wrapper">
                <section class="quick-view-item">
                    <div class="offer-bundle">
                        <div class="offer-box">
                            <div class="offer-amt">20</div>
                            <div class="offer-unit">%</div>
                            <div class="offer-off">Off</div>
                        </div>
                        <!-- main carousel slider -->
                        <div class="bundle">
                            <img src="http://s7.vzw.com/is/image/VerizonWireless/droid-razr-by-moto-black-travel-vb?$acc-lg$" title="Nokia Lumia 822 Bundle">
                        </div>
                    </div>
                </section>
                <section class="quick-view-details bundle">
                    <div class="column">
                        <header class="product-header">
                            <h3 class="product-name">Nokia Lumia 822 Bundle</h3>
                        </header>
                        <!-- end quick view header-->
                        <div class="bundle-details">
                            <p>Neque porro quisquam est qui dolorem ipsum. The bundle includes:</p>
                            <ul class="bundle-pieces">
                                <li>Nokia Lumia 822 Anti-Scratch Display Protectors</li>
                                <li>Nokia Lumia 822 Phone Case</li>
                                <li>Verizon Vehicle Charger with Dual Output</li>
                            </ul>
                        </div>
                        <!-- end bundle details -->
                    </div>
                    <!-- end quick view details -->
                    <div class="column pricing">
                        <div class="value-add">
                            You save 20% when you buy all three
                        </div>
                        <div class="product-pricing">
                            <div class="sale">Reg.$<span>99.99</span></div>
                            <div class="price">$<span>79<sup>99</sup></span></div>
                        </div>
                    </div>
                    <div class="column add-cart">
                        <div class="product-actions">
                            <input class="product-action add-cart-cta data-cart-add" type="submit" title="Add Bundle to Cart" value="Add Bundle to Cart" >
                        </div>
                    </div>
                </section>
            </div></form>
        </li>

        <li class="bundle-deals-slide bundle"><form method="post" action="#">
            <input type="hidden" name="ProductId" value="Profile-fitnessfan-1" />
            <div class="wrapper">
                <section class="quick-view-item">
                    <div class="offer-bundle">
                        <div class="offer-box">
                            <div class="offer-amt">20</div>
                            <div class="offer-unit">%</div>
                            <div class="offer-off">Off</div>
                        </div>
                        <!-- main carousel slider -->
                        <div class="bundle">
                            <img src="img/product-detail-page/plp-spcl/plp-bundle-item.png" title="Nokia Lumia 822 Bundle">
                        </div>
                    </div>
                </section>
                <section class="quick-view-details bundle">
                    <div class="column">
                        <header class="product-header">
                            <h3 class="product-name">Nokia Lumia 822 Bundle</h3>
                        </header>
                        <!-- end quick view header-->
                        <div class="bundle-details">
                            <p>Neque porro quisquam est qui dolorem ipsum. The bundle includes:</p>
                            <ul class="bundle-pieces">
                                <li>Nokia Lumia 822 Anti-Scratch Display Protectors</li>
                                <li>Nokia Lumia 822 Phone Case</li>
                                <li>Verizon Vehicle Charger with Dual Output</li>
                            </ul>
                        </div>
                        <!-- end bundle details -->
                    </div>
                    <!-- end quick view details -->
                    <div class="column pricing">
                        <div class="value-add">
                            You save 20% when you buy all three
                        </div>
                        <div class="product-pricing">
                            <div class="sale">Reg.$<span>99.99</span></div>
                            <div class="price">$<span>79<sup>99</sup></span></div>
                        </div>
                    </div>
                    <div class="column add-cart">
                        <div class="product-actions">
                            <input class="product-action add-cart-cta data-cart-add" type="submit" title="Add Bundle to Cart" value="Add Bundle to Cart" >
                        </div>
                    </div>
                </section>
            </div></form>
        </li>

        <li class="bundle-deals-slide bundle"><form method="post" action="#">
            <input type="hidden" name="ProductId" value="Profile-fitnessfan-1" />
            <div class="wrapper">
                <section class="quick-view-item">
                    <div class="offer-bundle">
                        <div class="offer-box">
                            <div class="offer-amt">20</div>
                            <div class="offer-unit">%</div>
                            <div class="offer-off">Off</div>
                        </div>
                        <!-- main carousel slider -->
                        <div class="bundle">
                            <img src="img/product-detail-page/plp-spcl/plp-bundle-item.png" title="Nokia Lumia 822 Bundle">
                        </div>
                    </div>
                </section>
                <section class="quick-view-details bundle">
                    <div class="column">
                        <header class="product-header">
                            <h3 class="product-name">Nokia Lumia 822 Bundle</h3>
                        </header>
                        <!-- end quick view header-->
                        <div class="bundle-details">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit
                                aspernatur aut odit aut fugit.  This bundle includes:
                            </p>
                            <ul class="bundle-pieces">
                                <li>Nokia Lumia 822 Anti-Scratch Display Protectors</li>
                                <li>Nokia Lumia 822 Phone Case </li>
                                <li>Verizon Vehicle Charger with Dual Output</li>
                            </ul>
                        </div>
                        <!-- end bundle details -->
                    </div>
                    <!-- end quick view details -->
                    <div class="column pricing">
                        <div class="value-add">
                            You save 20% when you buy all three together.
                        </div>
                        <div class="product-pricing">
                            <div class="sale">Reg.$<span>299.99</span></div>
                            <div class="price">$<span>249<sup>99</sup></span></div>
                        </div>
                    </div>
                    <div class="column add-cart">
                        <div class="product-actions">
                            <input class="add-cart-cta product-action" type="submit" title="Add Bundle to Cart" value="Add Bundle to Cart">
                        </div>
                    </div>
                </section>
            </div></form>
        </li>

    </ul>
</article>
