<header class="category-list-header">
  <div class="category-main-heading">
    <h4><a href="#">MUSIC &AMP; AUDIO</a></h4>
  </div> 
  <section class="category-header-promo">
    <h1 class="promo-header"><small>shop</small> audio</h1>
    <div class="category-image">
      <img src="http://s7.vzw.com/is/image/VerizonWireless/Hero-cat-lp-audio?$defaultScale$" alt="Beats by Dre">
    </div>
    <div class="header-message promo-info">
      <h3 class="promo-title hide-for-mobile">Amplify it</h3>
      <p class="content-header-message hide-for-mobile promo-copy">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
      <span class="caret show-for-mobile"></span>
      <div class="mobile-details show-for-mobile">
        <p class="mobile-copy">Check out our entire selection of headphones</p>
        <p class="mobile-cta"><span><a class="see-details" href="#">See details</a></span></p>
      </div>
    </div>
  </section>
  <div class="special-header">
    <strong>Shop</strong><span> Music &amp; Audio</span>
  </div>
</header>
