<link rel="stylesheet" href="//preprodecache.vzw.com/imageFiles/Myacct/gn/css/vzw_jquery.css" />
<link rel="stylesheet" href="//preprodecache.vzw.com/imageFiles/Myacct/gn/css/globalnav.css" />
<link rel="stylesheet" href="//tcache.vzw.com/globalnav/css/globalnav-js.css" />
<link rel="stylesheet" href="//tcache.vzw.com/gng/css/globalnavigation.css" />

<script type="text/javascript" src="//preprodecache.vzw.com/imageFiles/Myacct/gn/scripts/vzw_jquery.js"></script>
<script type="text/javascript" src="//preprodecache.vzw.com/imageFiles/Myacct/gn/scripts/globalnav.js"></script>
<script type="text/javascript" src="//tcache.vzw.com/scripts/accessible/mootools131.js"></script>
<script type="text/javascript" src="//tcache.vzw.com/globalnav/globalnav.js"></script>
<script type="text/javascript" src="http://tcache.vzw.com/gng/js/s_code.js"></script>
<script type="text/javascript" src="http://tcache.vzw.com/gng/js/sc_custom.js"></script>

<script type="text/javascript">
  var responsiveGN ='1';
  var contextPath = '';
</script>

<script type="text/javascript" src="http://cache.vzw.com/scripts/liveperson/mtagconfig.js"></script>
<script type="text/javascript"> 
  lpAddVars = typeof lpAddVars == 'function' ? lpAddVars : function() {};
  lpMTagConfig  = typeof lpMTagConfig != 'undefined' ? lpMTagConfig : {};

  var chatAddVars = lpAddVars;
  var propInfo = "0 , 0"; 
  if (typeof(lpMarket)=='undefined')  var lpMarket='South'.toLowerCase();
  chatAddVars('page','Market',lpMarket);
  if (typeof(lpUnit)=='undefined')  var lpUnit=lpMarket + '-consumer';
  chatAddVars('page','unit',lpUnit);
  if (typeof(lpLanguage)=='undefined')  var lpLanguage='english';
  chatAddVars('session','language',lpLanguage);
  if (typeof(channel)=='undefined') var lpChannel='B2C';
  chatAddVars('session','channel',lpChannel);
  if (typeof(lpExistingCustomer)=='undefined')  var lpExistingCustomer='N';
  chatAddVars('page','ExistingCustomer',lpExistingCustomer);
  if (typeof(lpLNPCustomer)=='undefined') var lpLNPCustomer='N';
  chatAddVars('page','LNPCustomer',lpLNPCustomer);
  if (typeof(lpPromoCode)=='undefined') var lpPromoCode='';
  chatAddVars('page','PromoCode',lpPromoCode);
  if (typeof(lpQuickLookVisible)=='undefined')  var lpQuickLookVisible='False';
  chatAddVars('page','QuickLookVisible',lpQuickLookVisible);
  if (typeof(lpShoppingAssistantVisible)=='undefined')  var lpShoppingAssistantVisible='False';
  chatAddVars('page','ShoppingAssistantVisible',lpShoppingAssistantVisible);
  if (typeof(lpUpgradeCustomer)=='undefined') var lpUpgradeCustomer='N';
  chatAddVars('page','UpgradeCustomer',lpUpgradeCustomer);
</script> 

<script type="text/javascript">
  var chatAddVars = lpAddVars;
  var propInfo = "0 , 0";
  if (typeof(lpConversionStage)=='undefined') var lpConversionStage='Home page'.toLowerCase();
  chatAddVars('page','ConversionStage',lpConversionStage);
  if (typeof(lpErrorCounter)=='undefined')  var lpErrorCounter='0';
  chatAddVars('page','ErrorCounter',lpErrorCounter);
  if (typeof(lpTitle)=='undefined') var lpTitle='Verizon MLS';
  chatAddVars('page','Title',lpTitle);
  if (typeof(lpSection)=='undefined') var lpSection='Store';
  chatAddVars('page','Section',lpSection);
</script>

<script src="js/all-concat.js"></script>
<!--[if lt IE 9]><script src='js/ie.js' type='text/javascript'></script><![endif]-->

<script type="text/javascript">
  function sitecatParam(param1,param2) { }
  function siteCatalyst(){ }
  window.onload = siteCatalyst;
</script>

<div class="vzglobalnavbar">
  <div id="globalNavId"><div id="GlobalNavigation"></div></div>
</div>

<header id="site-header" class="header">
  <!-- <div class="top-band">
    <a href="http://www.verizon.com/" title="Back to Verizon.com">&lt; verizon.com</a>
  </div> -->
  <nav id="mls-nav" class="mls-nav">
    <ul id="nav-tabs-primary" class="nav-tabs tab-menu left">
      <li class="logo first">
        <h2>
          <a href="/" title="VZW: MLS">Gadgets <span class="and">&amp;</span> Gear</a>
        </h2>
      </li>
    </ul>
    <ul id="nav-search-cat" class="nav-tabs tab-menu nav-search-cart right">
      <li class="nav-item nav-help first" id="nav-help">
        <strong class="need-help">Need Help?</strong>
        
        <div class="help-options-container">
          <span class="marker"></span>
          <ul class="help-options">
            <li class="help-option first">
              <!-- new markup -->
              <div class="grey inactive">
                <a href="#">chat</a>

                <div class="dropdown-panel">
                  <div class="dropdown-pointer"></div>
                  Chat is only available<br />Monday–Friday, <br />5:30am–11:59pm (EST).
                </div>
              </div>

              <!--
              <div id="lpchatdynamicbuttondiv" style="visibility: visible;"><div style="float: left; color: #B00000; font-family: arial; font-size: 1em; padding-right:25px;">Contact A Sales Associate</div><a style="margin-right:5px; text-decoration:none; border:none; outline:none;" onclick="lpMTagConfig.dynButton0.actionHook();" href="javascript:void(null);"><img style="border: none;" src="https://scache.vzw.com/images_b2c/liveperson/chat-button/chat_online.gif"></a></div>
                <script type="text/javascript">
                  if(typeof(lpMTagConfig.dynButton)!="undefined")
                    // lpMTagConfig.dynButton[lpMTagConfig.dynButton.length] = {'name':lpUnit+'-'+lpLanguage,'pid':'lpchatdynamicbuttondiv','ovr':'lpMTagConfig.dbDual'};
                </script>
              -->
            </li>
            <li class="help-option last">
              <!-- new markup -->
              <div class="grey inactive">
                <a href="#">call</a>

                <div class="dropdown-panel">
                  <div class="dropdown-pointer"></div>
                  Call a sales associate<br />877-228-5774.
                </div>
              </div>

              <!-- old markup
              <div id="lpVoiceButton" style="visibility: visible;"><a href="javascript:void(null);"><img style="text-decoration:none; border:none; outline:none;" class="smallLink tooltip" src="https://scache.vzw.com/images_b2c/liveperson/chat-button/repoffline.gif"></a><div class="tip" style="margin-top: 4px; margin-left: -36px; width: 125px; display: none;">                <p>Call a sales associate <br>877-228-5774</p></div></div>
              <script type="text/javascript">
                // lpMTagConfig.ifVisitorCode = new Array();
                if(typeof(lpMTagConfig.dynButton)!="undefined") {
                   // lpMTagConfig.dynButton[lpMTagConfig.dynButton.length] = {'name':'voice-consumer-'+lpLanguage,'pid':'lpVoiceButton','ovr':'lpMTagConfig.db1'};
                }
              </script>
              -->
            </li>
          </ul>
        </div>
      </li>
      
      <li id="nav-cart" class="tab nav-item nav-cart last"><a href="#nav-cart" title="Cart">cart</a><span class="count">999</span></li>
    </ul>
    <ul id="mls-nav-content" class="mls-nav-content tab-content">
      <li id="nav-tab1" class="tab">
        <ul class="tall-tab-section">
          <li class="tall-tab item-1 first">
            <a href="#" title="Fashionista">
              <img class="tab-bg" src="img/nav/bgFashionista.jpg">
              <figure class="tab-fig">
                <img src="img/nav/fashionista.png" alt="Fashionista">
                <figcaption>Fashionista</figcaption>
              </figure>
            </a>
          </li>
          <li class="tall-tab item-2">
            <a href="#" title="Fitness Buff">
              <img class="tab-bg" src="img/nav/bgFitness.jpg">
              <figure class="tab-fig">
                <img src="img/nav/fitness.png" alt="Fitness Buff">
                <figcaption>Fitness Buff</figcaption>
              </figure>
            </a>
          </li>
          <li class="tall-tab item-3">
            <a href="#" title="Medialorem">
              <img class="tab-bg" src="img/nav/bgMedialorem.jpg">
              <figure class="tab-fig">
                <img src="img/nav/medialorem.png" alt="Medialorem">
                <figcaption>Medialorem</figcaption>
              </figure>
            </a>
          </li>
          <li class="tall-tab item-4">
            <a href="#" title="Traveler">
              <img class="tab-bg" src="img/nav/bgTraveler.jpg">
              <figure class="tab-fig">
                <img src="img/nav/traveler.png" alt="Traveler">
                <figcaption>Traveler</figcaption>
              </figure>
            </a>
          </a>
          </li>
          <li class="tall-tab item-5">
            <a href="#" title="Modern Family">
              <img class="tab-bg" src="img/nav/bgFamily.jpg">
              <figure class="tab-fig">
                <img src="img/nav/family.png" alt="Modern Family">
                <figcaption>Modern Family</figcaption>
              </figure>
            </a>
          </a>
          </li>
          <li class="tall-tab item-6 last">
            <a href="#" title="Fun Seeker">
              <img class="tab-bg" src="img/nav/bgFunseeker.jpg">
              <figure class="tab-fig">
                <img src="img/nav/funseeker.png" alt="Fun Seeker">
                <figcaption>Fun Seeker</figcaption>
              </figure>
            </a>
          </a>
          </li>
        </ul>
      </li>
      <li id="nav-tab2" class="tab">
        <ul id="nav-tab2-subnav" class="tab-menu subnav">
          <li class="tab first">
            <a href="#" title="Photo &amp; Video">
              <span class="category">photo &amp; video</span>
            </a>
            <span class="indicator"></span>
          </li>
          <li class="tab">
            <a href="#" title="Cases &amp; Protection">
              <span class="category">cases &amp; protection</span>
            </a>
            <span class="indicator"></span>
          </li>
          <li class="tab">
            <a href="#" title="Chargers &amp; Power">
              <span class="category">chargers &amp; power</span>
            </a>
            <span class="indicator"></span>
          </li>
          <li class="tab">
            <a href="#" title="Health &amp; Fitness">
              <span class="category">health &amp; fitness</span>
            </a>
            <span class="indicator"></span>
          </li>
          <li class="tab">
            <a href="#"title="Home &amp; Family">
              <span class="category">home &amp; family</span>
            </a>
            <span class="indicator"></span>
          </li>
          <li class="tab">
            <a href="#" title="Memory &amp; Storage">
              <span class="category">memory &amp; storage</span>
            </a>
            <span class="indicator"></span>
          </li>
          <li class="tab">
            <a href="#" title="Configuration">
              <span class="subnav-icon"><img src="img/nav/subnav-ico-productivity.png"></span>
              <span class="category">Configuration</span>
            </a>
            <span class="indicator"></span>
          </li>
          <li class="tab last">
            <a href="#" title="See All">
              <span class="subnav-icon"><img src="img/nav/subnav-ico-see-all.png"></span>
              <span class="category">see all</span>
            </a>
            <span class="indicator"></span>
          </li>
        </ul>
        <ul id="nav-tab2-subnav-content" class="tab-content">
          <li class="tab">
            <ul class="subnav-grid">
              <li class="nav-grid-item item-1 first">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-2">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-3">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-4">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-5">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-6">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-7">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-8 cta-all">
                <a href="#" title="telescopes"><span>see all lorem ipsum &gt;</span></a>
              </li>
            </ul>
          </li>
          <li class="tab">
            <ul class="subnav-grid">
              <li class="nav-grid-item item-1 first">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-2">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-3">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-4">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-5">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-6">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-7">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-8 cta-all">
                <a href="#" title="telescopes">see all lorem ipsum &gt;</a>
              </li>
            </ul>
          </li>
          <li class="tab">
            <ul class="subnav-grid">
              <li class="nav-grid-item item-1 first">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-2">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-3">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-4">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-5">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-6">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-7">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-8 cta-all">
                <a href="#" title="telescopes">see all lorem ipsum &gt;</a>
              </li>
            </ul>
          </li>
          <li class="tab">
            <ul class="subnav-grid">
              <li class="nav-grid-item item-1 first">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-2">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-3">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-4">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-5">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-6">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-7">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-8 cta-all">
                <a href="#" title="telescopes">see all lorem ipsum &gt;</a>
              </li>
            </ul>
          </li>
          <li class="tab">
            <ul class="subnav-grid">
              <li class="nav-grid-item item-1 first">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-2">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-3">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-4">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-5">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-6">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-7">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-8 cta-all">
                <a href="#" title="telescopes">see all lorem ipsum &gt;</a>
              </li>
            </ul>
          </li>
          <li class="tab">
            <ul class="subnav-grid">
              <li class="nav-grid-item item-1 first">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-2">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-3">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-4">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-5">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-6">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-7">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-8 cta-all">
                <a href="#" title="telescopes">see all lorem ipsum &gt;</a>
              </li>
            </ul>
          </li>
          <li class="tab">
            <ul class="subnav-grid">
              <li class="nav-grid-item item-1 first">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-2">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-3">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-4">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-5">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-6">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-7">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-8 cta-all">
                <a href="#" title="telescopes">see all lorem ipsum &gt;</a>
              </li>
            </ul>
          </li>
          <li class="tab">
            <ul class="subnav-grid">
              <li class="nav-grid-item item-1 first">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-2">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-3">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-4">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-5">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-6">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-7">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-8 cta-all">
                <a href="#" title="telescopes">see all lorem ipsum &gt;</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li id="nav-tab3" class="tab brands">
        <ul class="nav-grid">
          <li class="nav-grid-item item-1 first">
            <a href="#" title="Sony">
              <img src="img/nav/nav-brand-sony.png" alt="Sony">
            </a>
          </li>
          <li class="nav-grid-item item-2">
            <a href="#" title="Canon">
              <img src="img/nav/nav-brand-canon.png" alt="Canon">
            </a>
          </li>
          <li class="nav-grid-item item-3">
            <a href="#" title="Epson">
              <img src="img/nav/nav-brand-epson.png" alt="Epson">
            </a>
          </li>
          <li class="nav-grid-item item-4">
            <a href="#" title="Panasonic">
              <img src="img/nav/nav-brand-panasonic.png" alt="Panasonic">
            </a>
          </li>
          <li class="nav-grid-item item-5">
            <a href="#" title="LG">
              <img src="img/nav/nav-brand-lg.png" alt="LG">
            </a>
          </li>
          <li class="nav-grid-item item-6">
            <a href="#" title="Samsung">
              <img src="img/nav/nav-brand-samsung.png" alt="Samsung">
            </a>
          </li>
          <li class="nav-grid-item item-7">
            <a href="#" title="Apple">
              <img src="img/nav/nav-brand-apple.png" alt="Apple">
            </a>
          </li>
          <li class="nav-grid-item item-8">
            <a href="#" title="Microsoft">
              <img src="img/nav/nav-brand-microsoft.png" alt="Microsoft">
            </a>
          </li>
          <li class="nav-grid-item item-9">
            <a href="#" title="Insignia">
              <img src="img/nav/nav-brand-insignia.png" alt="Insignia">
            </a>
          </li>
          <li class="nav-grid-item item-10">
            <a href="#" title="Intel">
              <img src="img/nav/nav-brand-intel.png" alt="Intel">
            </a>
          </li>
          <li class="nav-grid-item item-11">
            <a href="#" title="LG">
              <img src="img/nav/nav-brand-lg.png" alt="LG">
            </a>
          </li>
          <li class="nav-grid-item item-12">
            <a href="#" title="hp">
              <img src="img/nav/nav-brand-hp.png" alt="HP">
            </a>
          </li>
          <li class="nav-grid-item item-13">
            <a href="#" title="Nikon">
              <img src="img/nav/nav-brand-nikon.png" alt="Nikon">
            </a>
          </li>
          <li class="nav-grid-item item-14">
            <a href="#" title="Belkin">
              <img src="img/nav/nav-brand-belkin.png" alt="Belkin">
            </a>
          </li>
          <!-- Ticket VWMLSI-279
          <li class="nav-grid-item item-15 last cta-all">
            <a href="#" title="See all brands">See all brands &gt;</a>
          </li> -->
        </ul>
      </li>
      <li id="nav-tab4" class="tab mini-cart">

        <div id="minicart-box">

        	<div class="minicart-border-block"></div>

        	<div class="empty-mini">

        		<div class="empty-mini-message">
        			<p>Your cart is empty.</p>
        			<p>Continue shopping or sign-in to view your saved cart.</p>
        		</div>

        		<div class="empty-mini-signin">
    					<a href="#" title="Sign-In">
    						<span>Sign In</span>
    					</a>
    				</div>

        		<div class="minicart-banner lifestyle">
        			<h3 class="minicart-h3">Track the success of your workouts.</h3>
        			<a href="#" class="minicart-cta">Learn More</a>
        		</div>

        	</div>

        	<div id="minicart-banner-box">
        		<div class="minicart-banner ship">
        			<h3 class="minicart-h3"><span class="minicart-bold">Free Shipping</span> on All Orders!</h3>
        			<a href="#" class="minicart-cta">Learn More</a>
        		</div>

        		<div class="minicart-banner brand">
        			<h3 class="minicart-h3">Shop Skullcandy for <span class="minicart-bold">10% off</span>.</h3>
        			<a href="#" class="minicart-cta">Learn More</a>
        		</div>

        		<div class="minicart-banner lifestyle">
        			<h3 class="minicart-h3">Track the success of your workouts.</h3>
        			<a href="#" class="minicart-cta">Learn More</a>
        		</div>
        	</div><!-- end banner box -->


        	<form id="minicart-form" method="POST" action="mini-cart-remove.jsp">
        		<div id="minicart-cart">
        			<ul id="minicart-item-list">

					<!-- PRODUCTS IN CART -->
					<!-- BEGIN TEMPLATE FRAGMENT REFERENCE - DO NOT INCULUDE THIS CODE IN FINAL TEMPLATE -->
          <!-- ONLOAD WE'RE MAKING THE FIRST REFRESH OF THE MINICART WITH AJAX
        				<script type="text/javascript">
          				includeFragment('inc/fragments/items-in-minicart.html');
        				</script>
          -->
        			<!-- END TEMPLATE FRAGMENT REFERENCE - DO NOT INCULUDE THIS CODE IN FINAL TEMPLATE -->
					<!-- END PRODUCTS IN CART -->

        			</ul>
        		</div><!-- end minicart-cart -->

        		<div class="minicart-summary">
        			<div class="minicart-next">
        				<a href="#" class="prev-items-link">Last <span id="next-item-count">3</span> Items</a>
        				<a href="#" class="next-items-link">Next <span id="next-item-count">3</span> Items</a>
        			</div>

        			<div class="minicart-total">
        				<div class="actual-sub">
        					$<span id="minicart-subtotal">309.98</span>
        				</div>
        				<span class="label">Subtotal:</span>
        			</div><!-- end total -->

        			<div class="minicart-buttons">
        				<div class="view-cart">
        					<a href="#" title="View Cart" class="arial">
        						View Cart (<div id="qty-in-mini" class="data">2</div>)
        					</a>
        				</div>
        				<div class="checkout">
        					<input class="button add-cart-cta" type="submit" title="Checkout" value="Checkout">
        				</div>
        			</div><!-- end buttons -->
        		</div><!-- end minicart summary -->
        	</form>
        </div><!-- end minicart-box -->
      </li>
    </ul>
  </nav>
  <nav id="mls-nav-mobile" class="mls-nav">
     <ul id="nav-mobile-tabs-primary" class="nav-tabs tab-menu left">
      <li class="nav-item tab nav-actions first">
        <a href="#">menu</a>
      </li>
      <li class="logo first">
        <h2>
          <a href="/" title="VZW: MLS">Gadgets <span class="and">&amp;</span> Gear</a>
        </h2>
      </li>
    </ul>
    <ul id="nav-mobile-search-cat" class="nav-tabs nav-search-cart right">
      <li id="nav-mobile-cart" class="tab nav-item nav-cart last"><a href="#nav-cart" title="Cart">cart</a><span class="count">999</span></li>
    </ul>
    <ul id="mls-nav-mobile-content" class="mls-nav-content tab-content">
      <li id="nav-mobile-tab1" class="tab">
        <ul class="accordion-nav">
          <li class="nav-item tab"><a href="#lifestyles" title="Lifestyles"><span>lifestyles</span></a>
            <ul class="tall-tab-section accordion-content">
              <li class="tall-tab item-1 first">
                <a href="#" title="Fashionista">
                  <img class="tab-bg" src="img/nav/bgFashionista.jpg">
                  <figure class="tab-fig">
                    <img src="img/nav/fashionista.png" alt="Fashionista">
                    <figcaption>Fashionista</figcaption>
                  </figure>
                </a>
              </li>
              <li class="tall-tab item-2">
                <a href="#" title="Fitness Buff">
                  <img class="tab-bg" src="img/nav/bgFitness.jpg">
                  <figure class="tab-fig">
                    <img src="img/nav/fitness.png" alt="Fitness Buff">
                    <figcaption>Fitness Buff</figcaption>
                  </figure>
                </a>
              </li>
              <li class="tall-tab item-3">
                <a href="#" title="Medialorem">
                  <img class="tab-bg" src="img/nav/bgMedialorem.jpg">
                  <figure class="tab-fig">
                    <img src="img/nav/medialorem.png" alt="Medialorem">
                    <figcaption>Medialorem</figcaption>
                  </figure>
                </a>
              </li>
              <li class="tall-tab item-4">
                <a href="#" title="Traveler">
                  <img class="tab-bg" src="img/nav/bgTraveler.jpg">
                  <figure class="tab-fig">
                    <img src="img/nav/traveler.png" alt="Traveler">
                    <figcaption>Traveler</figcaption>
                  </figure>
                </a>
              </a>
              </li>
              <li class="tall-tab item-5">
                <a href="#" title="Modern Family">
                  <img class="tab-bg" src="img/nav/bgFamily.jpg">
                  <figure class="tab-fig">
                    <img src="img/nav/family.png" alt="Modern Family">
                    <figcaption>Modern Family</figcaption>
                  </figure>
                </a>
              </a>
              </li>
              <li class="tall-tab item-6 last">
                <a href="#" title="Fun Seeker">
                  <img class="tab-bg" src="img/nav/bgFunseeker.jpg">
                  <figure class="tab-fig">
                    <img src="img/nav/funseeker.png" alt="Fun Seeker">
                    <figcaption>Fun Seeker</figcaption>
                  </figure>
                </a>
              </a>
              </li>
            </ul>
          </li>
          <li class="nav-item tab"><a href="#products" title="Products"><span>products</span></a>
            <ul class="accordion-content nav-grid">
              <li class="nav-grid-item item-1 first">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-2">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-3">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-4">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-5">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-6">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-7">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-8">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-9">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
              <li class="nav-grid-item item-10">
                <a href="#" title="lorem ipsum">
                  <figure class="nav-grid-fig">
                    <img src="img/nav/fpo-nav-grid-item.png" alt="alt"/>
                    <figcaption class="title">lorem ipsum</figcaption>
                  </figure>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item tab"><a href="#brands" title="Brands"><span>brands</span></a>
            <ul class="accordion-content nav-grid">
              <li class="nav-grid-item item-1 first">
                <a href="#" title="Sony">
                  <img src="img/nav/nav-brand-sony.png" alt="Sony">
                </a>
              </li>
              <li class="nav-grid-item item-2">
                <a href="#" title="Canon">
                  <img src="img/nav/nav-brand-canon.png" alt="Canon">
                </a>
              </li>
              <li class="nav-grid-item item-3">
                <a href="#" title="Epson">
                  <img src="img/nav/nav-brand-epson.png" alt="Epson">
                </a>
              </li>
              <li class="nav-grid-item item-4">
                <a href="#" title="Panasonic">
                  <img src="img/nav/nav-brand-panasonic.png" alt="Panasonic">
                </a>
              </li>
              <li class="nav-grid-item item-5">
                <a href="#" title="LG">
                  <img src="img/nav/nav-brand-lg.png" alt="LG">
                </a>
              </li>
              <li class="nav-grid-item item-6">
                <a href="#" title="Samsung">
                  <img src="img/nav/nav-brand-samsung.png" alt="Samsung">
                </a>
              </li>
              <li class="nav-grid-item item-7">
                <a href="#" title="Apple">
                  <img src="img/nav/nav-brand-apple.png" alt="Apple">
                </a>
              </li>
              <li class="nav-grid-item item-8">
                <a href="#" title="Microsoft">
                  <img src="img/nav/nav-brand-microsoft.png" alt="Microsoft">
                </a>
              </li>
              <li class="nav-grid-item item-9">
                <a href="#" title="Insignia">
                  <img src="img/nav/nav-brand-insignia.png" alt="Insignia">
                </a>
              </li>
              <li class="nav-grid-item item-10 last">
                <a href="#" title="Intel">
                  <img src="img/nav/nav-brand-intel.png" alt="Intel">
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item last"><a href="#" title="Special Offers"><span>special offers</span></a>

          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div id="mls-nav-mobile-modal"></div>
  <section id="minicart-shipping-modal" class="lightbox">
  	<div class="lightbox-info-block">
  		<div class="lightbox-close"></div>

  		<h3 class="lightbox-headline">
  			<span class="bold">Free</span> 2-Day Shipping</span>
  		</h3>
  		<div class="lightbox-details">
  			<span class="bold">Free 2-Day Shipping:</span> Free 2-Day Shipping when you order online Monday - Friday by 4.30pm!
  			Some customers may need to select the Free 2-Day Shipping option in the Shipping drop=down menu at checkout.
  			Signature will be required upon delivery.
  		</div>

  		<div class="lightbox-details">
  			<span class="bold">Accessory-Only Orders:</span> Free 2-Day Shipping for orders totaling $49 or more when you order online Monday - Friday by 4.30pm<span class="superscript">*</span>.  Free Ground Shipping on all other orders<span class="superscript">**</span>.
  			Some customers may need to select the Free Shipping option in the drop down at checkout.  Signature will be required upon delivery.
  		</div>

  		<div class="lightbox-fineprint">
  			<span class="superscript">*</span>Free 2-Day Shipping when you order online Monday - Friday by 4.30pm.
  			Available for purchases placed on VerizonWireless.com for delivery within the U.S. only, excluding Alaska and Hawaii.
  			Orders placed by 4.30pm local time Monday - Friday (excluding holidays) will deliver in two (2) business days.
  			Orders placed after 4.30pm local time on Friday and before 4.30pm local time on Monday will be delivered on the following Wednesday. Subject to credit authorization, verification and inventory availability.
  		</div>

  		<div class="lightbox-fineprint">
  			<span class="superscript">**</span>Free Ground Shipping available for accessory-only purchases placed on VerizonWireless.com for delivery.
  		</div>

  	</div>
  </section><!-- end minicart shipping modal -->
</header>
