<ul id="product-colors" class="product-colors inline-list">
    <li class="color black active">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="black">
            <img src="img/product-category-listing/pick-blk.png"/>
        </a>
    </li>
    <li class="color white">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="white">
            <img src="img/product-category-listing/pick-wht.png"/>
        </a>
    </li>
    <li class="color red">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="red">
            <img src="img/product-category-listing/pick-red.png"/>
        </a>
    </li>
        <li class="color grey">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="grey">
            <img src="img/product-category-listing/pick-gry.png"/>
        </a>
    </li>
    <li class="color yellow">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="yellow">
            <img src="img/product-category-listing/pick-ylw.png"/>
        </a>
    </li>
     <li class="color blue ">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="blue">
            <img src="img/product-category-listing/pick-blu.png"/>
        </a>
    </li>
    <li class="color green">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="green">
            <img src="img/product-category-listing/pick-grn.png"/>
        </a>
    </li>
    <li class="color purple">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="purple">
            <img src="img/product-category-listing/pick-prp.png"/>
        </a>
    </li>
        <li class="color orange">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="orange">
            <img src="img/product-category-listing/pick-org.png"/>
        </a>
    </li>
        <li class="color pink">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="pink">
            <img src="img/product-category-listing/pick-pnk.png"/>
        </a>
    </li>
    </li>
        <li class="color silver">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="silver">
            <img src="img/product-category-listing/pick-slv.png"/>
        </a>
    </li>
    </li>
        <li class="color gold">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="gold">
            <img src="img/product-category-listing/pick-gld.png"/>
        </a>
    </li>
</ul>
