<ul id="product-colors" class="product-colors inline-list">
    <li class="color black active" data-color="black">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#?color=red" class="action data-color" title="black">
            <img src="img/product-category-listing/pick-blk.png"/>
        </a>
    </li>
    <li class="color white" data-color="white">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#?color=red" class="action data-color" title="white">
            <img src="img/product-category-listing/pick-wht.png"/>
        </a>
    </li>
    <li class="color blue" data-color="blue">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#?color=red" class="action data-color" title="red">
            <img src="img/product-category-listing/pick-red.png"/>
        </a>
    </li>
</ul>
