<ul id="product-colors" class="product-colors inline-list">
    <li class="color orange active">
        <span class="active-check"></span>
        <a href="#select-color" class="action" title="orange">
            <img src="img/product-category-listing/pick-org.png"/>
        </a>
    </li>
    <li class="color blue">
        <span class="active-check"></span>
        <a href="#select-color" class="action" title="blue">
            <img src="img/product-category-listing/pick-blu.png"/>
        </a>
    </li>
    <li class="color blue">
        <span class="active-check"></span>
        <a href="#select-color" class="action" title="red">
            <img src="img/product-category-listing/pick-red.png"/>
        </a>
    </li>
        <li class="color green">
        <span class="active-check"></span>
        <a href="#select-color" class="action" title="green">
            <img src="img/product-category-listing/pick-grn.png"/>
        </a>
    </li>
    <li class="color yellow">
        <span class="active-check"></span>
        <a href="#select-color" class="action" title="yellow">
            <img src="img/product-category-listing/pick-ylw.png"/>
        </a>
    </li>
    <li class="color purple">
        <span class="active-check"></span>
        <a href="#select-color" class="action" title="purple">
            <img src="img/product-category-listing/pick-prp.png"/>
        </a>
    </li>
</ul>
