<ul id="product-colors" class="product-colors inline-list">
    <li class="color black active">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="black">
            <img src="img/product-category-listing/pick-blk.png"/>
        </a>
    </li>
    <li class="color white">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="white">
            <img src="img/product-category-listing/pick-wht.png"/>
        </a>
    </li>
    <li class="color blue out-of-stock">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="blue">
            <img src="img/product-category-listing/pick-blu.png"/>
        </a>
    </li>
        <li class="color grey">
        <span class="active-check"></span>
        <span class="OOS">Out of Stock</span>
        <a href="#select-color" class="action" title="grey">
            <img src="img/product-category-listing/pick-gry.png"/>
        </a>
    </li>

</ul>
