<div class="modal-overlay-background"></div>
<div class="complex-item-modal modal-overlay">
	<a href="#" class="close-btn"></a>
	<h1>Want to check out your device first?</h1>
	<div class="product-image">
		<img src="img/droid.jpg"/>
	</div>
	<div class="info review-details">
       <header class="review-header">
			<h1 class="title">Name of Product </h1>
			<span class="title">$149.00</span>
			<div class="rating stars red three-half">(21)</div>
			</header>
        <p class="copy">
          "Lorem ipsum dolor sit amet, consectet adipiscing elit lorem epsim dolor."
        </p>
	</div>
	<div class="actions">
		<a href="#" class="contextual-link">no thanks</a>
		<a href="#" class="checkout-link"><span>check out</span></a>
	</div>
</div>

