<li class="featured content-item">
    <form method="post" action="#">
      <a class="content-link" href="#" title="content title">
        <figure class="content-fig">
          <img src="img/product-category-listing/pcl-beats.jpg" alt="Beats by Dre" />
        </figure>
        <section class="content-detail">
          <strong class="name"><span><span class="brand">Beats by Dre</span> Pro Headphones</span></strong>
          <div class="price">$299.00<span class="sale"><!--sale price would go to the left, and original would be here--></span></div>
          <div class="rating stars three-half">(21)</div>
        </section>
      </a>
      <div class="color-picker">
      <ul class="colors">
        <li class="color">
          <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
        </li>
        <li class="color">
          <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
        </li>
        <li class="color">
          <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
        </li>
        <li class="color">
          <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
        </li>
        <li class="color">
          <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
        </li>
      </ul>
      </div>
      <div class="content-details">
        <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
        <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
      </div>
    </form>
</li>
