<!-- Begin Special Offers content grid item -->
<li class="content-item">
    <form method="post" action="#">
    <a class="content-link" href="#" title="content title">

        <!-- Begin Content Grid Image -->
        <figure class="content-fig">
            <img alt="product name" src="img/product-category-listing/pcl-brookstone.jpg"/>
        </figure>
        <!-- End Content Grid Image -->

        <!-- Begin Content Grid Item Details -->
        <section class="content-detail">
            <h1 class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></h1>
            <div class="price">$189.00<span class="sale"></span></div>

            <!-- Begin Rating Count/Stars -->
            <div class="rating"><span class="stars four"></span><span class="rating-count">(47)</span></div>
            <!-- End Rating Count/Stars -->

        </section>
        <!-- End Content Grid Item Details -->
    </a>

    <!-- Begin Color Picker -->
    <div class="color-picker">
        <ul class="colors">
            <li class="color">
                <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
            </li>
            <li class="color">
                <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
            </li>
            <li class="color">
                <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
            </li>
            <li class="color">
                <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
            </li>
            <li class="color">
                <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
            </li>
        </ul>
    </div>
    <!-- End Color Picker -->

    <!-- Begin Grid Item Details -->
    <div class="content-details">
        <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
        <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
    </div>
    <!-- End Grid Item Details -->
    </form>
</li>
<!-- End Special Offers content grid item -->
