<article class="story">
    <figure class="story-fig">
        <img src="img/content-landing/story-image.jpg" alt="story title">
    </figure>
    <div class="story-content">
        <header class="story-header">
            <time class="pub-date" pubdate datetime="2013-01-03">03.01.2013</time>
            <h1 class="title">Lorem Ipsum Dolor</h1>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <a href="article.jsp?id=someId321" class="content-cta article data-article">read story</a>
    </div>
    <div class="story-social">
        <script>
            includeFragment('inc/fragments/social.html');
        </script>
    </div>
</article>
