<!-- BEGIN THE CONTENT GRID FRAGMENT -->
<li class="content-item"><form method="post" action="#">
    <a class="content-link" href="#" title="content title">
        <span class="sale-tag">
            <img src="../img/special-offers-landing/sale-tag.png" alt="On Sale">
            <span class="copy">SALE <span class="hide-for-mobile">10% OFF UNTIL 10/23</span></span>
        </span>
        <figure class="content-fig">
            <img alt="product name" src="img/product-category-listing/pcl-brookstone.jpg">
        </figure>
        <section class="content-detail">
            <strong class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></strong>
            <div class="price">
                <span class="sale">$199.99</span>
                <span class="original">249.99</span>
            </div>
            <div class="rating stars three-half">(21)</div>
        </section>
    </a>
    <div class="color-picker">
        <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                <img src="img/product-category-listing/pick-blk.png">
                </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                <img src="img/product-category-listing/pick-gry.png">
                </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                <img src="img/product-category-listing/pick-wht.png">
                </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                <img src="img/product-category-listing/pick-org.png">
                </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                <img src="img/product-category-listing/pick-ylw.png">
                </a>
            </li>
        </ul>
    </div>
    <div class="content-details">
        <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
        <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart"></div>
    </div></form>
</li>
<!-- END CONTENT GRID FRAGMENT -->
<!-- REPEATING CONTENT GRID FRAGMENT TO FILL IN TEMPLATE FOR VIEWING PURPOSES -->
<li class="content-item"><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-denon.jpg" />
    </figure>
    <section class="content-detail">
      <strong class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></strong>
      <div class="price">
        $189.00
        <span class="sale">
          <!--sale price would go to the left, and original would be here-->
        </span>
      </div>
      <div class="rating stars three-half">(21)</div>
    </section>
  </a>
  <div class="color-picker">
    <ul class="colors">
      <li class="color">
        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
      </li>
    </ul>
  </div>
  <div class="content-details">
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div></form>
</li>
<li class="content-item"><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-isound.jpg" />
    </figure>
    <section class="content-detail">
      <strong class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></strong>
      <div class="price">
        $189.00
        <span class="sale">
          <!--sale price would go to the left, and original would be here-->
        </span>
      </div>
      <div class="rating stars three-half">(21)</div>
    </section>
  </a>
  <div class="color-picker">
    <ul class="colors">
      <li class="color">
        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
      </li>
    </ul>
  </div>
  <div class="content-details">
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div></form>
</li>
<li class="content-item"><form method="post" action="#">
  <!-- item 4 -->
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-jabra-soulmate.jpg" />
    </figure>
    <section class="content-detail">
      <strong class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></strong>
      <div class="price">
        $189.00
        <span class="sale">
          <!--sale price would go to the left, and original would be here-->
        </span>
      </div>
      <div class="rating stars three-half">(21)</div>
    </section>
  </a>
  <div class="color-picker">
    <ul class="colors">
      <li class="color">
        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
      </li>
    </ul>
  </div>
  <div class="content-details">
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div></form>
</li>
<li class="content-item"><form method="post" action="#">
  <!-- item 5 -->
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-jawbone.jpg" />
    </figure>
    <section class="content-detail">
      <strong class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></strong>
      <div class="price">
        $189.00
        <span class="sale">
          <!--sale price would go to the left, and original would be here-->
        </span>
      </div>
      <div class="rating stars three-half">(21)</div>
    </section>
  </a>
  <div class="color-picker">
    <ul class="colors">
      <li class="color">
        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
      </li>
    </ul>
  </div>
  <div class="content-details">
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div>
  <div class="sale-featured four-across">
    <img src="img/product-detail-page/plp-spcl/plp-featured-sale-bg.png" class="sale-img" title="Headphone on Sale">
    <div class="sale-details">
      <div class="splash">
        <span class="digits">10</span>
        <span class="unit">%</span>
        <span class="words">off</span>
      </div>
      <div class="details">
        All headphones, this week only.
      </div>
    </div>
    <div class="sale-link">
      <a href="#">Learn More</a>
    </div>
  </div>
  <!-- end sale-featured --></form>
</li>
<li class="content-item"><form method="post" action="#">
  <!-- item 6 -->
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-nixon.jpg" />
    </figure>
    <section class="content-detail">
      <strong class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></strong>
      <div class="price">
        $189.00
        <span class="sale">
          <!--sale price would go to the left, and original would be here-->
        </span>
      </div>
      <div class="rating stars three-half">(21)</div>
    </section>
  </a>
  <div class="color-picker">
    <ul class="colors">
      <li class="color">
        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
      </li>
    </ul>
  </div>
  <div class="content-details">
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div></form>
</li>
<li class="content-item"><form method="post" action="#">
  <!-- item 7 -->
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-skullcandy.jpg" />
    </figure>
    <section class="content-detail">
      <strong class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></strong>
      <div class="price">
        $189.00
        <span class="sale">
          <!--sale price would go to the left, and original would be here-->
        </span>
      </div>
      <div class="rating stars three-half">(21)</div>
    </section>
  </a>
  <div class="color-picker">
    <ul class="colors">
      <li class="color">
        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
      </li>
    </ul>
  </div>
  <div class="content-details">
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div></form>
</li>
<li class="content-item"><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-brookstone.jpg" />
    </figure>
    <section class="content-detail">
      <strong class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></strong>
      <div class="price">
        $189.00
        <span class="sale">
          <!--sale price would go to the left, and original would be here-->
        </span>
      </div>
      <div class="rating stars three-half">(21)</div>
    </section>
  </a>
  <div class="color-picker">
    <ul class="colors">
      <li class="color">
        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
      </li>
    </ul>
  </div>
  <div class="content-details">
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div></form>
</li>
<li class="content-item"><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-denon.jpg" />
    </figure>
    <section class="content-detail">
      <strong class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></strong>
      <div class="price">
        $189.00
        <span class="sale">
          <!--sale price would go to the left, and original would be here-->
        </span>
      </div>
      <div class="rating stars three-half">(21)</div>
    </section>
  </a>
  <div class="color-picker">
    <ul class="colors">
      <li class="color">
        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
      </li>
    </ul>
  </div>
  <div class="content-details">
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div></form>
</li>
<li class="content-item"><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-isound.jpg" />
    </figure>
    <section class="content-detail">
      <strong class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></strong>
      <div class="price">
        $189.00
        <span class="sale">
          <!--sale price would go to the left, and original would be here-->
        </span>
      </div>
      <div class="rating stars three-half">(21)</div>
    </section>
  </a>
  <div class="color-picker">
    <ul class="colors">
      <li class="color">
        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
      </li>
    </ul>
  </div>
  <div class="content-details">
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div></form>
</li>
<li class="content-item"><form method="post" action="#">
  <a class="content-link" href="#" title="content title">
    <figure class="content-fig">
      <img alt="product name" src="img/product-category-listing/pcl-jabra-soulmate.jpg" />
    </figure>
    <section class="content-detail">
      <strong class="name"><span><span class="brand">Klipsch</span> X7i White In-Ear Headphones</span></strong>
      <div class="price">
        $189.00
        <span class="sale">
          <!--sale price would go to the left, and original would be here-->
        </span>
      </div>
      <div class="rating stars three-half">(21)</div>
    </section>
  </a>
  <div class="color-picker">
    <ul class="colors">
      <li class="color">
        <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
      </li>
      <li class="color">
        <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
      </li>
    </ul>
  </div>
  <div class="content-details">
    <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
    <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
  </div></form>
</li>
