<header class="content-landing-header">
  <div class="wrapper">
    <h2>
      <span class="results-count">200</span>
      <span class="type content-list">Stories, Guides, and Videos</span>
      <span class="type content-all">All Content</span>
    </h2>

    <div class="sort-by sort">
      <label for="sort-options">Sort By:</label>
      <select class="sort-options">
        <option value="?sort_by=most_recent" selected="selected">most recent</option>
        <option value="?sort_by=most_viewed">most viewed</option>
      </select>
    </div>
    <!-- Filters -->
    <div class="mobile-sort-filter">
        <a href="#" class="dropdown-cta sort"><span>sort</span></a>
        <a href="#" class="dropdown-cta filter"><span>filter</span></a>
        <div class="dropdown-menu">
            <ul class="submenu-list sort-options-list">
              <li class="sort-option" data-type="most-recent">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">most recent</a>
                </li>
                <li class="sort-option" data-type="most-viewed">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">most viewed</a>
                </li>
            </ul>
            <ul class="submenu-list filter-options-list">
                <li class="filter-option" data-type="compatibility">Compatibility</li>
                <li class="filter-option" data-type="special-offers">Special Offers</li>
                <li class="filter-option" data-type="colors">Colors</li>
                <li class="filter-option" data-type="lifestyles">Lifestyles</li>
                <li class="filter-option" data-type="brand">Brand</li>
            </ul>
        </div>
    </div>

    <!-- Filter panels -->
    <div class="filter-panels">
        <a href="#closePanel" class="close">close x</a>
        <div class="filter-panel compatibility" data-dimension="compatibility">
            <h2 class="dimension-title">Compatibility</h2>
            <ul class="dimension-list single-select">
                <li class="list-option first">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option last">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="filter-panel special-offers" data-dimension="special-offers">
            <h2 class="dimension-title">Special Offers</h2>
            <ul class="dimension-list single-select">
                <li class="list-option first">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option last">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="filter-panel colors" data-dimension="colors">
            <h2 class="dimension-title">Colors</h2>
            <ul class="dimension-list multi-select">
                <li class="list-option first" data-facet="white">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option" data-facet="purple">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option" data-facet="red">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option" data-facet="orange">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option last" data-facet="green">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="filter-panel lifestyles" data-dimension="lifestyles">
            <h2 class="dimension-title">Lifestyles</h2>
            <ul class="dimension-list multi-select">
                <li class="list-option first">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option last">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="filter-panel brand" data-dimension="brand">
            <h2 class="dimension-title">Brand</h2>
            <ul class="dimension-list multi-select">
                <li class="list-option first">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
                <li class="list-option last">
                    <a href="/mls/siteStoreUS/browse/ajax/guidedNavigation.jsp?N=102351+42966602&amp;Nr=sku.siteId%3A1000001">
                        <span class="facet-check"></span>
                        <span class="facet-name">facet</span>
                        <span class="facet-count">(25)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</header>