<section class="featured-reviews-module category-section hide-for-small">
<div class="section-wrap">
  <header class="content-header">
    <h2 class="title"><strong>Featured</strong> Reviews</h2>
    <div class="slide-nav"></div>
  </header>
</div>

<div class="slide-wrapper featuredReviewSlider">
<ul class="slides">
	<li class="slide">
		<div class="featured-review data-bazaarvoice">
            <input type="hidden" name="ProductId" value="11792" />
            <!--Image background color classes: red, light-teal, silver, light-yellow, green, blue, yellow, charcoal, magenta, purple, teal -->
			<div class="product-img red">
				<img src="img/home/babymonitor.png" />
			</div>
			<div class="product-details">
				<p class="post-info">
					<span class="user-name data-bazaarvoice-user">Dave Smith</span> | <span class="post-date data-bazaarvoice-date">April 2013</span>
				</p>
				<p class="user-review data-bazaarvoice-quote"></p>
				<span class="carrot"></span>
				<strong class="product-title">Withings Smart Baby Monitor</strong>
                <p class="product-price">$249.<sup>99</sup></p>
				<div class="stars four red"><a href="#" class="review-count" title="See reviews for this item.">(47)</a></div>
                <a href="#" class="button promo-cta"><span>view product</span></a>
			</div>
		</div>
	</li>
    <li class="slide">
        <div class="featured-review data-bazaarvoice">
            <input type="hidden" name="ProductId" value="11944" />
            <div class="product-img red">
                <img src="img/home/babymonitor.png" />
            </div>
            <div class="product-details">
                <p class="post-info">
                    <span class="user-name data-bazaarvoice-user">Dave Smith</span> | <span class="post-date data-bazaarvoice-date">April 2013</span>
                </p>
                <p class="user-review data-bazaarvoice-quote"></p>
                <span class="carrot"></span>
                <strong class="product-title">Withings Smart Baby Monitor</strong>
                <p class="product-price">$249.<sup>99</sup></p>
                <div class="stars four red"><a href="#" class="review-count" title="See reviews for this item.">(47)</a></div>
                <a href="#" class="button promo-cta"><span>view product</span></a>
            </div>
        </div>
    </li>
    <li class="slide">
        <div class="featured-review data-bazaarvoice">
            <input type="hidden" name="ProductId" value="12214" />
            <div class="product-img green">
                <img src="img/home/babymonitor.png" />
            </div>
            <div class="product-details">
                <p class="post-info">
                    <span class="user-name data-bazaarvoice-user">Dave Smith</span> | <span class="post-date data-bazaarvoice-date">April 2013</span>
                </p>
                <p class="user-review data-bazaarvoice-quote"></p>
                <span class="carrot"></span>
                <strong class="product-title">Withings Smart Baby Monitor Withings Smart Baby Monitor Withings Smart Baby Monitor Withings Smart Baby Monitor Withings Smart Baby Monitor Withings Smart Baby Monitor Withings Smart Baby Monitor Withings Smart Baby Monitor Withings Smart Baby Monitor Withings Smart Baby Monitor</strong>
                <p class="product-price">$249.<sup>99</sup></p>
                <div class="stars four red"><a href="#" class="review-count" title="See reviews for this item.">(47)</a></div>
                <a href="#" class="button promo-cta"><span>view product</span></a>
            </div>
        </div>
    </li>
    <li class="slide">
        <div class="featured-review data-bazaarvoice">
            <input type="hidden" name="ProductId" value="12381" />
            <div class="product-img yellow">
                <img src="img/home/babymonitor.png" />
            </div>
            <div class="product-details">
                <p class="post-info">
                    <span class="user-name data-bazaarvoice-user">Dave Smith</span> | <span class="post-date data-bazaarvoice-date">April 2013</span>
                </p>
                <p class="user-review data-bazaarvoice-quote"></p>
                <span class="carrot"></span>
                <strong class="product-title">Withings Smart Baby Monitor</strong>
                <p class="product-price">$249.<sup>99</sup></p>
                <div class="stars four red"><a href="#" class="review-count" title="See reviews for this item.">(47)</a></div>
                <a href="#" class="button promo-cta"><span>view product</span></a>
            </div>
        </div>
    </li>
    <li class="slide">
        <div class="featured-review data-bazaarvoice">
            <input type="hidden" name="ProductId" value="11792" />
            <div class="product-img blue">
                <img src="img/home/babymonitor.png" />
            </div>
            <div class="product-details">
                <p class="post-info">
                    <span class="user-name data-bazaarvoice-user">Dave Smith</span> | <span class="post-date data-bazaarvoice-date">April 2013</span>
                </p>
                <p class="user-review data-bazaarvoice-quote"></p>
                <span class="carrot"></span>
                <strong class="product-title">Withings Smart Baby Monitor</strong>
                <p class="product-price">$249.<sup>99</sup></p>
                <div class="stars four red"><a href="#" class="review-count" title="See reviews for this item.">(47)</a></div>
                <a href="#" class="button promo-cta"><span>view product</span></a>
            </div>
        </div>
    </li>
</ul>
</div>
</section>
