<div id="btf-anchor" class="anchor-bar">
    <form action="?" method="POST" id="anchorBarForm" name="anchorBarForm">
        <div class="anchor-thumb">
            <img src="img/product-detail-page/pdp-products/belkin-charger-thumb-1.png" class="product-thumb" id="anchor-product-thumb" alt="Belkin AC Charger with Swivel Plug" />
        </div>
        <h2 class="anchor-title">
        <span id="anchor-product-brand" class="brand">Belkin</span>
        <span id="anchor-product-name">AC Charger with Swivel Plug</span>
        </h2>
        <dl>
            <dt>Size:</dt>
            <dd id="anchor-product-size">small,</dd>
            <dt>Color:</dt>
            <dd id="anchor-product-color">black</dd>
        </dl>
        <div class="anchor-add-cart"><input id="anchor-add-to-cart" class="add-cart-cta" type="submit" title="Add to Cart" value="Add to Cart"></div>
    </form>
</div>
