  <ul class="guides-slider content-grid guide-grid slides">
    <li class="first content-item guide-slide">
      <div class="wrapper red">
        <p class="guide-copy"><a href="#guide-cta?id=12345" class="data-article" title="Read guide">5 Things to know about 7.1</a></p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon1.png" alt="5 Things Icon" />
      </div>
    </li>
    <li class="content-item guide-slide">
      <div class="wrapper dark-gray">
        <p class="guide-copy"><a href="#guide-cta?id=12345" class="data-article" title="Read guide">Quality audio that's waterproof</a></p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon2.png" alt="Waterproof Icon" />
      </div>
    </li>
    <li class="content-item guide-slide">
      <div class="wrapper green">
        <p class="guide-copy"><a href="#guide-cta?id=12345" class="data-article" title="Read guide">Best heapdhones for working</a></p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon3.png" alt="Work Icon" />
      </div>
    </li>
    <li class="content-item guide-slide">
      <div class="wrapper yellow">
        <p class="guide-copy"><a href="#guide-cta?id=12345" class="data-article" title="Read guide">what's hot now in audio</a></p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon4.png" alt="What&rsquo;s Hot Icon" />
      </div>
    </li>
    <li class="content-item guide-slide">
      <div class="wrapper purple">
        <p class="guide-copy"><a href="#guide-cta?id=12345" class="data-article" title="Read guide">5 Things to know about 7.1</a></p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon1.png" alt="5 Things Icon" />
      </div>
    </li>
    <li class="content-item guide-slide">
      <div class="wrapper blue">
        <p class="guide-copy"><a href="#guide-cta?id=12345" class="data-article" title="Read guide">Quality audio that's waterproof</a></p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon2.png" alt="Waterproof Icon" />
      </div>
    </li>
    <li class="content-item guide-slide">
      <div class="wrapper magenta">
        <p class="guide-copy"><a href="#guide-cta?id=12345" class="data-article" title="Read guide">Best heapdhones for working</a></p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon3.png" alt="Work Icon" />
      </div>
    </li>
    <li class="last content-item guide-slide">
      <div class="wrapper light-yellow">
        <p class="guide-copy"><a href="#guide-cta?id=12345" class="data-article" title="Read guide">what's hot now in audio</a></p>
        <a href="#guide-cta?id=12345" class="story-cta data-article" title="Read guide">Read guide &gt;</a>
        <img class="guide-icon" src="img/lifestyle-landing/guide-icon4.png" alt="What&rsquo;s Hot Icon" />
      </div>
    </li>
  </ul>