<!-- begin Highlights module -->
<div class="highlight-module feature-module">
    <h3 class="title"><strong>Highlights</strong></h3>
    <ul class="tabs">
        <li data-tabname="one" class="active">
            <span class="image icon-app-enabled"></span>
            <span class="title">APP ENABLED</span>
            <span class="marker"></span>
        </li>
        <li data-tabname="two">
            <span class="image icon-data-plan-needed"></span>
            <span class="title">DATA PLAN NEEDED</span>
            <span class="marker"></span>
        </li>
        <li data-tabname="three">
            <span class="image icon-wifi-enabled"></span>
            <span class="title">WIFI ENABLED</span>
            <span class="marker"></span>
        </li>
        <li data-tabname="four">
            <span class="image icon-smart-accessory"></span>
            <span class="title">SMART ACCESSORY</span>
            <span class="marker"></span>
        </li>
    </ul>

    <ul class="content">
        <li data-tabname="one">
            <span class="title">Apps for this Product</span>
            <ul>
                <li class="one">
                    <img src="../img/product-detail-page/pdp-plus/features-facebook.png" alt="" />
                    <p>
                        <span class="title">Facebook</span>
                        <span class="copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</span>
                        <div class="learn-more"><a class="learn-more-link" href="#" title="Learn more...">LEARN MORE</a>
                            <div class="learn-more-dropdown">
                              <span class="marker"></span>
                              <div class="learn-more-options">
                                <h4>Download from the app stores</h4>
                                <ul class="learn-more-list">
                                  <li class="app-store">
                                      <a href="#" target="_blank"><img src="../img/product-detail-page/pdp-plus/app-store.png" alt="App store" /></a>
                                      <a class="app-text-link" href="#" target="_blank">App Store<span class="link-marker">&nbsp;</span></a>
                                  </li>
                                  <li class="google-play">
                                      <a href="#" target="_blank"><img src="../img/product-detail-page/pdp-plus/google-play.png" alt="Google Play" /></a>
                                      <a class="app-text-link" href="#" target="_blank">Google Play<span class="link-marker">&nbsp;</span></a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                        </div>
                    </p>
                </li>
                <li class="two">
                    <img src="../img/product-detail-page/pdp-plus/features-yelp.png" alt="" />
                    <p>
                        <span class="title">Yelp</span>
                        <span class="copy">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
                        <div class="learn-more"><a class="learn-more-link" href="#" title="Learn more...">LEARN MORE</a>
                            <div class="learn-more-dropdown">
                              <span class="marker"></span>
                              <div class="learn-more-options">
                                <h4>Download from the app stores</h4>
                                <ul class="learn-more-list">
                                  <li class="app-store">
                                      <a href="#" target="_blank"><img src="../img/product-detail-page/pdp-plus/app-store.png" alt="App store" /></a>
                                      <a class="app-text-link" href="#" target="_blank">App Store<span class="link-marker">&nbsp;</span></a>
                                  </li>
                                  <li class="google-play">
                                      <a href="#" target="_blank"><img src="../img/product-detail-page/pdp-plus/google-play.png" alt="Google Play" /></a>
                                      <a class="app-text-link" href="#" target="_blank">Google Play<span class="link-marker">&nbsp;</span></a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                        </div>
                    </p>
                </li>
                <li class="three">
                    <img src="../img/product-detail-page/pdp-plus/features-foursquare.png" alt="" />
                    <p>
                        <span class="title">Foursquare</span>
                        <span class="copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</span>
                        <div class="learn-more"><a class="learn-more-link" href="#" title="Learn more...">LEARN MORE</a>
                            <div class="learn-more-dropdown">
                              <span class="marker"></span>
                              <div class="learn-more-options">
                                <h4>Download from the app stores</h4>
                                <ul class="learn-more-list">
                                  <li class="app-store">
                                      <a href="#" target="_blank"><img src="../img/product-detail-page/pdp-plus/app-store.png" alt="App store" /></a>
                                      <a class="app-text-link" href="#" target="_blank">App Store<span class="link-marker">&nbsp;</span></a>
                                  </li>
                                  <li class="google-play">
                                      <a href="#" target="_blank"><img src="../img/product-detail-page/pdp-plus/google-play.png" alt="Google Play" /></a>
                                      <a class="app-text-link" href="#" target="_blank">Google Play<span class="link-marker">&nbsp;</span></a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                        </div>
                    </p>
                </li>
            </ul>
        </li>
        <li data-tabname="two">
            <!-- Content -->
            [placeholder 2]
        </li>
        <li data-tabname="three">
            <!-- Content -->
            [placeholder 3]
        </li>
        <li data-tabname="four">
            <!-- Content -->
            [placeholder 4]
        </li>
    </ul>

    <ul class="summary">
        <li class="one">
            <div class="graphic">
                <img src="/img/product-detail-page/pdp-plus/battery-icon.png" alt="Battery" />
                <span>BATTERY</span>
            </div>
            <div class="figure">
                <span class="digit">9</span>
                <span class="measure">hrs</span>
            </div>
        </li>
        <li class="two">
            <div class="graphic">
                <img src="/img/product-detail-page/pdp-plus/standby-icon.png" alt="Standby" />
                <span>STANDBY</span>
            </div>
            <div class="figure">
                <span class="digit">100</span>
                <span class="measure">hrs</span>
            </div>
        </li>
        <li class="three">
            <div class="graphic">
                <img src="/img/product-detail-page/pdp-plus/connectivity-icon.png" alt="Connectivity" />
                <span>CONNECTIVITY</span>
            </div>
            <div class="figure">
                <span class="digit">36</span>
                <span class="measure">ft</span>
            </div>
        </li>
        <li class="four">
            <div class="graphic">
                <img src="/img/product-detail-page/pdp-plus/weight-icon.png" alt="Weight" />
                <span>WEIGHT</span>
            </div>
            <div class="figure">
                <span class="digit">.21</span>
                <span class="measure">kg</span>
            </div>
        </li>
    </ul>
</div>
<!-- end Highlights module -->
