<header class="home-hero">
        <div id="home-hero-slider" class="slider">
            <ul class="slides">
                <li class="first slide">
                  <img class="banner" src="img/home/1.jpg" title="">
                    <div class="product-hero">
                        <img class="" src="img/home/watch.png"/>
                        <h1 class="story-title">run smarter2</h1>
                    </div>
                    <div class="hero-info hide-for-small">
                        <span class="carrot"></span>
                        <h3>Nike+ Sportswatch GPS</h3>
                        <p class="hero-copy">
                            Lorem ipsum dolor sit amet, consect etur adipisicing elit Lorem ipsum dolor sit amet, consect etur.
                        </p>
                        <h2 class="price">$179<sup>99</sup></h2>
                        <a href="#" class="button promo-cta"><span>see details</span></a>
                        <a href="#" class="button promo-cta"><span>see all fitness</span></a>
                    </div>
                    <div class="mobile-hero-info show-for-small">
                        <span class="carrot"></span>
                        <p class="mobile-copy"><span class="product-title">Nike GPS Sportswatch</span><span class="price">$179.<sup>99</sup></span></p>
                        <p class="mobile-cta"><a class="see-details" href="#r2">See Details</a></p>
                    </div>
                </li>
                <li class="slide alt">
                  <img class="banner" src="img/home/2.jpg" title="">
                    <div class="hero-info">
                        <h1 class="story-title">run smarter</h1>
                        <div class="hero-sub hide-for-small">
                            <p class="hero-copy">
                                <span class="bullet"></span>
                                Check out Sony-X and Sony products
                            </p>
                            <a href="#" class="button promo-cta"><span>see all</span></a>
                        </div>
                    </div>

                    <div class="mobile-hero-info show-for-small">
                        <span class="carrot"></span>
                        <p class="mobile-copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                        <p class="mobile-cta"><a class="see-details" href="#r1">Read Story</a></p>
                    </div>
                </li>
            </ul>
        </div>
</header>
