<header class="home-hero">
    <!-- add class "wow" for this hero style -->
    <div id="home-hero-slider" class="slider wow">
        <ul class="slides">
            <li class="first slide" data-cuepoint="0">
                 <!-- Video || Image Background -->
                <div class="hero-background">
                   <video style="width: 100%; height: 100%;" poster="/img/wow-hero.jpg" autoplay="true" src="http://s7.vzw.com/is/content/VerizonWireless/Videos/ISO/Accessories/jabra_sport_wireless_UK_2min_v1_low.mp4" width="1280" height="720" preload="auto"></video>
                </div>

                <!-- Title -->
                <h1 class="hero-title">
                    Say hello to the perfect <br />
                    <strong>SOUNDTRACK</strong>
                </h1>

                <!-- Hero navigation -->
                <div class="hero-nav">
                    <h2>
                        Shop mobile accessories by your lifestyle
                    </h2>

                    <a href="#">Fitness Fan</a>
                    <a href="#">Traveler</a>
                    <a href="#">Media Enthusiast</a>
                    <a href="#">Home Techie</a>
                    <a href="#">Fun &amp; Gamer</a>
                    <a href="#">Trendsetter</a>

                </div>

                <!-- Sidebar -->
                <div class="hero-sidebar">
                    <header>
                        <h3>Gadgets &amp; Gear</h3>
                        <strong>Your mobile accessories shop</strong>
                    </header>

                    <div class="bullet">
                        <strong>Free Shipping</strong>
                        Free 3-5 day ground shipping
                    </div>
                    <div class="bullet">
                        <strong>Easy Returns</strong>
                        Online and in-store
                    </div>
                    <div class="bullet">
                        <strong>Compatible Accessories</strong>
                        Even for non-Verizon Devices
                    </div>
                </div>

            </li>

            <li class="slide" data-cuepoint="4000">
                 <!-- Video || Image Background -->
                <div class="hero-background">
                   <img class="background-media" src="/img/wow-hero2.jpg" alt="placeholder" />
                </div>

                <!-- Title -->
                <h1 class="hero-title">
                    Say hello to the perfect <br />
                    <strong>SOMETHING</strong>
                </h1>

                <!-- Hero navigation -->
                <div class="hero-nav">
                    <h2>
                        Shop mobile accessories by your lifestyle
                    </h2>

                    <a href="#">Fitness Fan</a>
                    <a href="#">Traveler</a>
                    <a href="#">Media Enthusiast</a>
                    <a href="#">Home Techie</a>
                    <a href="#">Fun &amp; Gamer</a>
                    <a href="#">Trendsetter</a>

                </div>

                <!-- Sidebar -->
                <div class="hero-sidebar">
                    <header>
                        <h3>Gadgets &amp; Gear</h3>
                        <strong>Your mobile accessories shop</strong>
                    </header>

                    <div class="bullet">
                        <strong>Free Shipping</strong>
                        Free 3-5 day ground shipping
                    </div>
                    <div class="bullet">
                        <strong>Easy Returns</strong>
                        Online and in-store
                    </div>
                    <div class="bullet">
                        <strong>Compatible Accessories</strong>
                        Even for non-Verizon Devices
                    </div>
                </div>

            </li>

            <li class="slide" data-cuepoint="8000">
                 <!-- Video || Image Background -->
                <div class="hero-background">
                   <img class="background-media" src="/img/wow-hero.jpg" alt="placeholder" />
                </div>

                <!-- Title -->
                <h1 class="hero-title">
                    Say hello to the perfect <br />
                    <strong>SOMETHING #2</strong>
                </h1>

                <!-- Hero navigation -->
                <div class="hero-nav">
                    <h2>
                        Shop mobile accessories by your lifestyle
                    </h2>

                    <a href="#">Fitness Fan</a>
                    <a href="#">Traveler</a>
                    <a href="#">Media Enthusiast</a>
                    <a href="#">Home Techie</a>
                    <a href="#">Fun &amp; Gamer</a>
                    <a href="#">Trendsetter</a>

                </div>

                <!-- Sidebar -->
                <div class="hero-sidebar">
                    <header>
                        <h3>Gadgets &amp; Gear</h3>
                        <strong>Your mobile accessories shop</strong>
                    </header>

                    <div class="bullet">
                        <strong>Free Shipping</strong>
                        Free 3-5 day ground shipping
                    </div>
                    <div class="bullet">
                        <strong>Easy Returns</strong>
                        Online and in-store
                    </div>
                    <div class="bullet">
                        <strong>Compatible Accessories</strong>
                        Even for non-Verizon Devices
                    </div>
                </div>

            </li>

        </ul>
    </div>
</header>
