<li id="minicart-1" class="minicart-item one bundle-item">
    <!-- item 1 of many -->
    <form method="post" action="#">
        <div class="item-image-block">
            <img class="minicart-item-image" src="img/bb/bb-minicart-item.png" title="Product title">
        </div>
        <div class="item-info-block">
            <ul>
                <li class="minicart-item-title"><a href="#" class="product-link" title="Product name"><span class="product-title">Nokia Lumia 822 bundle</span></a></li>
                <li class="item-details">
                <div class="minicart-item-price">
                    <span class="strikethrough">$62.07</span>
                    <span class="price">$49.00</span>
                </div>
                <div class="minicart-sale offer-toggle">
                    Bundle Price
                </div>
                </li>
                <li class="item-qty">Quantity: <span class="minicart-item-qty">1</span></li>
            </ul>
        </div>
        <!-- end item-info block -->
        <div class="minicart-edit">
            <div class="edit">
                <a href="cart-base.html">Edit</a>
            </div>
            <div class="remove">
                <a href="#" class="data-cart-remove data-confirm-removal">Remove</a>
            </div>
        </div>
        <!-- end mincart edit -->
        <div class="bundle-disclaimer">
            <span href="#" class="remove">
            </span>
            <p>Congrats! You just got bundle pricing—saving you $13.97. Check out your cart to see details.</p>
        </div>
    </form>
</li>
<li id="minicart-1" class="minicart-item one">
    <!-- item 1 of many -->
    <form method="post" action="#">
        <div class="item-image-block">
            <img class="minicart-item-image" src="img/product-detail-page/pdp-plus/dre-beats-1-thumb.png" title="Product title">
        </div>
        <div class="item-info-block">
            <ul>
                <li class="minicart-item-title"><a href="#" class="product-link" title="Product name"><span class="product-title">Beats by Dre - Wireless Over-Ear Headphones</span></a></li>
                <li class="item-details">
                <div class="minicart-item-price">
                    $<span class="price">59.99</span>
                </div>
                <div class="minicart-sale offer-toggle">
                    Sale
                </div>
                <div class="color-size">
                    <div class="minicart-item-color">
                        Black
                    </div>
                    ,&nbsp;
                    <div class="minicart-item-size">
                        Large
                    </div>
                </div>
                </li>
                <li class="item-qty">Quantity: <span class="minicart-item-qty">1</span></li>
            </ul>
        </div>
        <!-- end item-info block -->
        <div class="minicart-edit">
            <div class="edit">
                <a href="cart-base.html">Edit</a>
            </div>
            <div class="remove">
                <a href="#" class="data-cart-remove data-confirm-removal">Remove</a>
            </div>
        </div>
        <!-- end mincart edit -->
    </form>
</li>
<!-- end minicart-item -->
<li id="minicart-2" class="minicart-item">
    <!-- item 2 of many -->
    <form method="post" action="#">
        <div class="item-image-block">
            <img class="minicart-item-image" src="img/product-detail-page/pdp-plus/dre-beats-1-thumb.png" title="Product title">
        </div>
        <div class="item-info-block">
            <ul>
                <li class="minicart-item-title"><a href="#" class="product-link" title="Product name"><span class="product-title">Beats by Dre - Wireless Over-Ear Headphones</span></a></li>
                <li class="item-details">
                <div class="minicart-item-price">
                    $<span class="price">59.99</span>
                </div>
                <div class="minicart-sale offer-toggle">
                    Sale
                </div>
                <div class="color-size">
                    <div class="minicart-item-color">
                        Black
                    </div>
                    ,&nbsp;
                    <div class="minicart-item-size">
                        Large
                    </div>
                </div>
                </li>
                <li class="item-qty">Quantity: <span class="minicart-item-qty">1</span></li>
            </ul>
        </div>
        <!-- end item-info block -->
        <div class="minicart-edit">
            <div class="edit">
                <a href="cart-base.html">Edit</a>
            </div>
            <div class="remove">
                <a href="#" class="data-cart-remove data-confirm-removal">Remove</a>
            </div>
        </div>
        <!-- end mincart edit -->
    </form>
</li>
<!-- end minicart-item -->
<li id="minicart-3"class="minicart-item">
    <!-- item 3 of many -->
    <form method="post" action="#">
        <div class="item-image-block">
            <img class="minicart-item-image" src="img/product-detail-page/pdp-plus/dre-beats-1-thumb.png" title="Product title">
        </div>
        <div class="item-info-block">
            <ul>
                <li class="minicart-item-title"><a href="#" class="product-link" title="Product name"><span class="product-title">Beats by Dre - Wireless Over-Ear Headphones</span></a></li>
                <li class="item-details">
                <div class="minicart-item-price">
                    $<span class="price">59.99</span>
                </div>
                <div class="minicart-sale offer-toggle">
                    Sale
                </div>
                <div class="color-size">
                    <div class="minicart-item-color">
                        Black
                    </div>
                    ,&nbsp;
                    <div class="minicart-item-size">
                        Large
                    </div>
                </div>
                </li>
                <li class="item-qty">Quantity: <span class="minicart-item-qty">1</span></li>
            </ul>
        </div>
        <!-- end item-info block -->
        <div class="minicart-edit">
            <div class="edit">
                <a href="cart-base.html">Edit</a>
            </div>
            <div class="remove">
                <a href="#" class="data-cart-remove data-confirm-removal">Remove</a>
            </div>
        </div>
        <!-- end mincart edit -->
    </form>
</li>
<!-- end minicart-item -->
<li id="minicart-4" class="minicart-item">
    <!-- item 4 of many -->
    <form method="post" action="#">
        <div class="item-image-block">
            <img class="minicart-item-image" src="img/product-detail-page/pdp-plus/dre-beats-1-thumb.png" title="Product title">
        </div>
        <div class="item-info-block">
            <ul>
                <li class="minicart-item-title"><a href="#" class="product-link" title="Product name"><span class="product-title">Beats by Dre - Wireless Over-Ear Headphones</span></a></li>
                <li class="item-details">
                <div class="minicart-item-price">
                    $<span class="price">59.99</span>
                </div>
                <div class="minicart-sale offer-toggle">
                    Sale
                </div>
                <div class="color-size">
                    <div class="minicart-item-color">
                        Black
                    </div>
                    ,&nbsp;
                    <div class="minicart-item-size">
                        Large
                    </div>
                </div>
                </li>
                <li class="item-qty">Quantity: <span class="minicart-item-qty">1</span></li>
            </ul>
        </div>
        <!-- end item-info block -->
        <div class="minicart-edit">
            <div class="edit">
                <a href="cart-base.html">Edit</a>
            </div>
            <div class="remove">
                <a href="#" class="data-cart-remove data-confirm-removal">Remove</a>
            </div>
        </div>
        <!-- end mincart edit -->
    </form>
</li>
<!-- end minicart-item -->
<li id="minicart-5" class="minicart-item">
    <!-- item 5 of many -->
    <form method="post" action="#">
        <div class="item-image-block">
            <img class="minicart-item-image" src="img/product-detail-page/pdp-plus/dre-beats-1-thumb.png" title="Product title">
        </div>
        <div class="item-info-block">
            <ul>
                <li class="minicart-item-title"><a href="#" class="product-link" title="Product name"><span class="product-title">Beats by Dre - Wireless Over-Ear Headphones</span></a></li>
                <li class="item-details">
                <div class="minicart-item-price">
                    $<span class="price">59.99</span>
                </div>
                <div class="minicart-sale offer-toggle">
                    Sale
                </div>
                <div class="color-size">
                    <div class="minicart-item-color">
                        Black
                    </div>
                    ,&nbsp;
                    <div class="minicart-item-size">
                        Large
                    </div>
                </div>
                </li>
                <li class="item-qty">Quantity: <span class="minicart-item-qty">1</span></li>
            </ul>
        </div>
        <!-- end item-info block -->
        <div class="minicart-edit">
            <div class="edit">
                <a href="cart-base.html">Edit</a>
            </div>
            <div class="remove">
                <a href="#" class="data-cart-remove data-confirm-removal">Remove</a>
            </div>
        </div>
        <!-- end mincart edit -->
    </form>
</li>
<!-- end minicart-item -->
<li id="minicart-6" class="minicart-item">
    <!-- item 6 of many -->
    <form method="post" action="#">
        <div class="item-image-block">
            <img class="minicart-item-image" src="img/product-detail-page/pdp-plus/dre-beats-1-thumb.png" title="Product title">
        </div>
        <div class="item-info-block">
            <ul>
                <li class="minicart-item-title"><a href="#" class="product-link" title="Product name"><span class="product-title">Beats by Dre - Wireless Over-Ear Headphones</span></a></li>
                <li class="item-details">
                <div class="minicart-item-price">
                    $<span class="price">59.99</span>
                </div>
                <div class="minicart-sale offer-toggle">
                    Sale
                </div>
                <div class="color-size">
                    <div class="minicart-item-color">
                        Black
                    </div>
                    ,&nbsp;
                    <div class="minicart-item-size">
                        Large
                    </div>
                </div>
                </li>
                <li class="item-qty">Quantity: <span class="minicart-item-qty">1</span></li>
            </ul>
        </div>
        <!-- end item-info block -->
        <div class="minicart-edit">
            <div class="edit">
                <a href="cart-base.html">Edit</a>
            </div>
            <div class="remove">
                <a href="#" class="data-cart-remove data-confirm-removal">Remove</a>
            </div>
        </div>
        <!-- end mincart edit -->
    </form>
</li>
<!-- end minicart-item -->