<!-- begin Key Features module -->
<div class="key-features feature-module">
    <h3 class="title"><strong>Key</strong> Features</h3>
    <div class="flexslider">
        <ul>
            <li class="video" style="height:720px;">
                <em>Scene 7 video Player</em>
                <script type="text/javascript" language="javascript" ><!--
                    if (typeof(s7uev) == 'undefined'){s7uev = {};}s7uev.imageMapSupport = {};
                    s7uev.imageMapSupport.callBack = "";
                    s7uev.imageMapSupport.urlPassBack = "";
                    s7uev.imageMapSupport.windowName = "mainwindow";
                    s7uev.imageMapSupport.windowFeatures = "toolbar=yes,location=yes,directories=yes,status=no,menubar=no,scrollbars=yes,resizable=yes,top=20,left=20";
                    s7uev.imageMapSupport.instance = "hVerizonWirelessVerizonWireless/Videos/ISO/Accessories/jabra_sport_wireless_UK_2min_v1_low.mp4";
                    </script>
                    <script type="text/javascript" language="javascript" src="http://s7.vzw.com/s7/JavaScript/s7ViewerFuncs.js" ></script>
                    <script type="text/javascript" language="javascript"><!--
                    function s7ComponentEvent(objID, compClass, instName, timeStamp, eventData){
                     s7track(eventData);
                    }//--></script>
                    <script type="text/javascript" language="javascript" src=""></script>
                    <script type="text/javascript" language="javascript"><!--
                    document.write('<ob'+ 'ject classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"');
                    document.write('  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,65,0"');
                    document.write('  id="hVerizonWirelessVerizonWireless/Videos/ISO/Accessories/jabra_sport_wireless_UK_2min_v1_low.mp4" width="1280" height="720" align="">');
                    document.write('<param name="movie" value="http://s7.vzw.com/skins/VerizonWireless/xSystem/VZWVideoPlayer.swf?company=VerizonWireless&contentRoot=/skins/&videoserverurl=rtmp://s7strmn2.scene7.com/s7strmn2/e2&vidServerUrl=/is/content/&comServerUrl=rtmp://s7strmn2.scene7.com/s7strmn2/e2&config=VerizonWireless/VzW_VideoPlayer&serverUrl=http://s7.vzw.com/is/image/&stageSize=1280,720&company=VerizonWireless">');
                    document.write('<param name="flashvars" value="asset=VerizonWireless/Videos/ISO/Accessories/jabra_sport_wireless_UK_2min_v1_low.mp4"> ');
                    document.write('<param name="fullScreenOnSelection" value="true">');
                    document.write('<param name="menu" value="false">');
                    document.write('<param name="quality" value="high">');
                    document.write('<param name="wmode" value="opaque">');
                    document.write('<param name="scale" value="noscale">');
                    document.write('<param name="salign" value="LT">');
                    document.write('<param name="allowFullScreen" value="true"> ');
                    document.write('<param name="bgcolor" value="#FFFFFF">');
                    document.write('<param name="allowScriptAccess" value="always">');
                    document.write('<em' + 'bed src="http://s7.vzw.com/skins/VerizonWireless/xSystem/VZWVideoPlayer.swf?company=VerizonWireless&contentRoot=/skins/&videoserverurl=rtmp://s7strmn2.scene7.com/s7strmn2/e2&vidServerUrl=/is/content/&comServerUrl=rtmp://s7strmn2.scene7.com/s7strmn2/e2&config=VerizonWireless/VzW_VideoPlayer&serverUrl=http://s7.vzw.com/is/image/&stageSize=1280,720&company=VerizonWireless" fullScreenOnSelection="true" allowScriptAccess="always" wmode="opaque"  quality="high" bgcolor="#FFFFFF" ');
                    document.write('width="1280" height="720" SWLIVECONNECT="true" flashvars="asset=VerizonWireless/Videos/ISO/Accessories/jabra_sport_wireless_UK_2min_v1_low.mp4" ');
                    document.write('  name="hVerizonWirelessVerizonWireless/Videos/ISO/Accessories/jabra_sport_wireless_UK_2min_v1_low.mp4" type="application/x-shockwave-flash" menu="false" allowFullScreen="true" pluginpage="http://www.macromedia.com/go/getflashplayer">');
                    document.write('</em' + 'bed>');
                    document.write('</ob' + 'ject>');
                //--></script>
            </li>
            <li class="video">
                <em>Mediaelement JS Video Player</em>
                <video style="width: 100%; height: 100%;" src="http://s7.vzw.com/is/content/VerizonWireless/Videos/ISO/Accessories/jabra_sport_wireless_UK_2min_v1_low.mp4" width="1280" height="720" controls="controls" preload="none"></video>
            </li>
            <li>
                <p class="feature">
                    <span class="image">
                        <img src="../img/product-detail-page/pdp-plus/key-icon-sound.png" alt="" />
                        <span>SOUND QUALITY</span>
                        <span class="marker"></span>
                    </span>
                    <span class="copy-container">
                        <em>Incredibly Clear Sound</em>
                        <span class="copy">
                            Lorem Ipsum dolor sit amet, consectetur adispiscing. Lorem Ipsum dolor sit amet, consectetur adispiscing.
                        </span>
                    </span>
                </p>
                <img src="../img/product-detail-page/pdp-plus/btf-hero-right.jpg" alt="" />
            </li>
            <li class="right">
                <p class="feature">
                    <span class="image">
                        <img src="../img/product-detail-page/pdp-plus/key-icon-wireless.png" alt="" />
                        <span>WIRELESS</span>
                        <span class="marker"></span>
                    </span>
                    <span class="copy-container">
                        <em>Pair Your Headphones to Any Bluetooth-Enabled Device</em>
                        <span class="copy">
                            Lorem Ipsum dolor sit amet, consectetur adispiscing. Lorem Ipsum dolor sit amet, consectetur adispiscing.
                        </span>
                    </span>
                </p>
                <img src="../img/product-detail-page/pdp-plus/btf-hero-left.jpg" alt="" />
                <ul class="companion">
                    <li>
                        <img src="../img/product-detail-page/pdp-plus/btf-hero-plugs.png" alt="RECHARGING" />
                        <p class="copy-container">
                            <em class="title">RECHARGING</em>
                            <span class="copy">Lorem Ipsum dolor sit amet, con sectetur adipiscing elit.</span>
                        </p>
                    </li>
                    <li>
                        <img src="../img/product-detail-page/pdp-plus/btf-hero-bluetooth-icon.jpg" alt="BLUETOOTH PAIRING" />
                        <p class="copy-container">
                            <em class="title">BLUETOOTH PAIRING</em>
                            <span class="copy">Lorem Ipsum dolor sit amet, con sectetur adipiscing elit.</span>
                        </p>
                    </li>
                </ul>
            </li>

        </ul>
    </div>


</div>



<!-- end Key Features module -->
