<div id="minicart-banner-box">
                <div class="minicart-banner ship">
                    <h3 class="minicart-h3"><span class="minicart-bold">Free Shipping</span> on All Orders!</h3>
                    <a href="#" class="minicart-cta">Learn More</a>
                </div>

                <div class="minicart-banner brand">
                    <h3 class="minicart-h3">Shop Skullcandy for <span class="minicart-bold">10% off</span>.</h3>
                    <a href="#" class="minicart-cta">Learn More</a>
                </div>

                <div class="minicart-banner lifestyle">
                    <h3 class="minicart-h3">Track the success of your workouts.</h3>
                    <a href="#" class="minicart-cta">Learn More</a>
                </div>
            </div><!-- end banner box -->