<div class="modal-overlay-background"></div>
<div class="complex-item-modal modal-overlay">
	<a href="#" class="close-btn"></a>
	<h1>You still have items in your cart:</h1>
	
	<p class="mixedcart-note">Phone &amp; Devices and Gadgets &amp; Gear orders must be completed seperately, and shipping methods and cost may vary.</p>

	<div id="mixedcart">
        <ul id="mixedcart-item-list">

        	<li class="minicart-item one">
				<!-- item 1 of many -->
				<form method="post" action="#">
				    <div class="item-image-block">
				        <img class="minicart-item-image" src="img/product-detail-page/pdp-plus/dre-beats-1-thumb.png" title="Product title">
				    </div>
				    <div class="item-info-block">
				        <ul>
				            <li class="minicart-item-title"><a href="#" class="product-link" title="Product name"><span class="product-title">Beats by Dre - Wireless Over-Ear Headphones</span></a></li>
				            <li class="item-details">
					            <div class="minicart-item-price">
					                $<span>59.99</span>
					            </div>
					            <!--
					            <div class="minicart-sale offer-toggle">
					                Sale
					            </div>
					            <div class="color-size">
					                <div class="minicart-item-color">
					                    Black
					                </div>
					                ,&nbsp;
					                <div class="minicart-item-size">
					                    Large
					                </div>
					            </div>
					        	-->
				            </li>
				            <!--
				            <li class="item-qty">Quantity: <span class="minicart-item-qty">1</span></li>
				        	-->
				        </ul>
				    </div>
				</form>
			</li>

			<li class="minicart-item one">
				<!-- item 1 of many -->
				<form method="post" action="#">
				    <div class="item-image-block">
				        <img class="minicart-item-image" src="img/product-detail-page/pdp-plus/dre-beats-1-thumb.png" title="Product title">
				    </div>
				    <div class="item-info-block">
				        <ul>
				            <li class="minicart-item-title"><a href="#" class="product-link" title="Product name"><span class="product-title">Beats by Dre - Wireless Over-Ear Headphones</span></a></li>
				            <li class="item-details">
					            <div class="minicart-item-price">
					                $<span>59.99</span>
					            </div>
					            <!--
					            <div class="minicart-sale offer-toggle">
					                Sale
					            </div>
					            <div class="color-size">
					                <div class="minicart-item-color">
					                    Black
					                </div>
					                ,&nbsp;
					                <div class="minicart-item-size">
					                    Large
					                </div>
					            </div>
					        	-->
				            </li>
				            <!--
				            <li class="item-qty">Quantity: <span class="minicart-item-qty">1</span></li>
				        	-->
				        </ul>
				    </div>
				</form>
			</li>

			<li class="minicart-item one">
				<!-- item 1 of many -->
				<form method="post" action="#">
				    <div class="item-image-block">
				        <img class="minicart-item-image" src="img/product-detail-page/pdp-plus/dre-beats-1-thumb.png" title="Product title">
				    </div>
				    <div class="item-info-block">
				        <ul>
				            <li class="minicart-item-title"><a href="#" class="product-link" title="Product name"><span class="product-title">Beats by Dre - Wireless Over-Ear Headphones</span></a></li>
				            <li class="item-details">
					            <div class="minicart-item-price">
					                $<span>59.99</span>
					            </div>
					            <!--
					            <div class="minicart-sale offer-toggle">
					                Sale
					            </div>
					            <div class="color-size">
					                <div class="minicart-item-color">
					                    Black
					                </div>
					                ,&nbsp;
					                <div class="minicart-item-size">
					                    Large
					                </div>
					            </div>
					        	-->
				            </li>
				            <!--
				            <li class="item-qty">Quantity: <span class="minicart-item-qty">1</span></li>
				        	-->
				        </ul>
				    </div>
				</form>
			</li>

			<li class="minicart-item one">
				<!-- item 1 of many -->
				<form method="post" action="#">
				    <div class="item-image-block">
				        <img class="minicart-item-image" src="img/product-detail-page/pdp-plus/dre-beats-1-thumb.png" title="Product title">
				    </div>
				    <div class="item-info-block">
				        <ul>
				            <li class="minicart-item-title"><a href="#" class="product-link" title="Product name"><span class="product-title">Beats by Dre - Wireless Over-Ear Headphones</span></a></li>
				            <li class="item-details">
					            <div class="minicart-item-price">
					                $<span>59.99</span>
					            </div>
					            <!--
					            <div class="minicart-sale offer-toggle">
					                Sale
					            </div>
					            <div class="color-size">
					                <div class="minicart-item-color">
					                    Black
					                </div>
					                ,&nbsp;
					                <div class="minicart-item-size">
					                    Large
					                </div>
					            </div>
					        	-->
				            </li>
				            <!--
				            <li class="item-qty">Quantity: <span class="minicart-item-qty">1</span></li>
				        	-->
				        </ul>
				    </div>
				</form>
			</li>

			<li class="minicart-item one">
				<!-- item 1 of many -->
				<form method="post" action="#">
				    <div class="item-image-block">
				        <img class="minicart-item-image" src="img/product-detail-page/pdp-plus/dre-beats-1-thumb.png" title="Product title">
				    </div>
				    <div class="item-info-block">
				        <ul>
				            <li class="minicart-item-title"><a href="#" class="product-link" title="Product name"><span class="product-title">Beats by Dre - Wireless Over-Ear Headphones</span></a></li>
				            <li class="item-details">
					            <div class="minicart-item-price">
					                $<span>59.99</span>
					            </div>
					            <!--
					            <div class="minicart-sale offer-toggle">
					                Sale
					            </div>
					            <div class="color-size">
					                <div class="minicart-item-color">
					                    Black
					                </div>
					                ,&nbsp;
					                <div class="minicart-item-size">
					                    Large
					                </div>
					            </div>
					        	-->
				            </li>
				            <!--
				            <li class="item-qty">Quantity: <span class="minicart-item-qty">1</span></li>
				        	-->
				        </ul>
				    </div>
				</form>
			</li>
        </ul>
    </div><!-- end mixedcart -->

    <div class="mixedcart-next">
        <a href="#" class="prev-items">Last <span>3</span> Items</a>
        <a href="#" class="next-items">Next <span>3</span> Items</a>
    </div>

	<div class="actions mixedcart-actions">
		<a href="#" class="continue-link"><span>Continue to Gadgets &amp; Gear</span></a>
		<a href="#" class="checkout-link"><span>Check out items</span></a>
	</div>
</div>