      <section class="mobile-community category-section hide-for-medium hide-for-small">
        <div class="section-wrap">
          <header class="content-header">
            <h1 class="title"><strong>Mobile</strong> Community</h1>
          </header>
        </div>

        <div class="slide-wrapper">
          <ul class="tiles">
            <li class="youtube">
              <img src="../img/home/mobileCommunity1.jpg" />
              <figure class="icon"></figure>
            </li>
            <li class="facebook">
              <img src="../img/home/mobileCommunity2.jpg" />
              <figure class="icon"></figure>
            </li>
            <li class="pinterest">
              <img src="../img/home/mobileCommunity3.jpg" />
              <figure class="icon"></figure>
            </li>
            <li class="twitter">
              <p>"Send us shots of your favorite cases to lorem ipsum dolor aliqua lectu eget utum" #VZWcases</p>
              <figure class="icon"></figure>
            </li>
            <li class="pinterest">
              <img src="../img/home/mobileCommunity4.jpg" />
              <figure class="icon"></figure>
            </li>
            <li class="twitter-alt">
              <p>"Nulla facilisi sumi. Aliqua a lectus sit amet libero pasd sodales higa fots faucibus eget utum orci."</p>
              <figure class="icon"></figure>
            </li>
            <li class="facebook">
              <img src="../img/home/mobileCommunity5.jpg" />
              <figure class="icon"></figure>
            </li>
            <li class="instagram">
              <img src="../img/home/mobileCommunity6.jpg" />
              <figure class="icon"></figure>
            </li>
        </div>
      </section>