<section id="pdp-bundle-modal-block" class="lightbox">
    <div class="lightbox-info-block">
        <div class="lightbox-close"></div>
        <section class="quick-view-item">
            <div class="offer-box">
                <div class="offer-amt">20</div>
                <div class="offer-unit">%</div>
                <div class="offer-off">Off</div>
            </div>
            <div id="quick-view-slider" class="bundle"><img src="img/product-detail-page/plp-spcl/plp-bundle-item.png" alt="Nokia Lumia 822 Bundle" /></div>
        </section>
        <section class="quick-view-details bundle">
            <div class="column">
                <header class="product-header">
                    <p class="product-shipping"><span>Free Shipping</span></p>
                    <h2 class="product-name">Nokia Lumia 822 Bundle</h2>
                </header>
                <div class="bundle-details">
                    <p>Nemo poro quisquam est qui dolorem ipsum. The bundle includes:</p>
                    <ul id="bundle-pieces">
                        <li>Nokia Lumia 822 Anti-Scratch Display Protectors</li>
                        <li>Nokia Lumia 822 Phone Case </li>
                        <li>Verizon Vehicle Charger with Dual Output</li>
                    </ul>
                </div>
            </div>
            <div class="column pricing">
                <div class="product-pricing">
                    <div class="sale">Reg.$<span>99.99</span></div>
                    <div class="price">$<span>79<sup>99</sup></span></div>
                </div>
                <div class="value-add">You save 20% when you buy all three</div>
            </div>
            <div class="column add-cart">
                <div class="product-actions">
                    <input id="product-add-to-cart" class="add-cart-cta" type="submit" title="Add Bundle to Cart" value="Add Bundle to Cart">
                </div>
            </div>
        </section>
    </div>
</section>
