<section id="pdp-hero">

    <!-- required to load hero slideshow -->
    <input type="hidden" id="imageID" value="Beats-Over-The-Ear-Black-iSet" />
    <input type="hidden" id="heroImageSetID" value="Beats-Over-The-Ear-Black-iSet" />
    <input type="hidden" id="imageSetID" value="Nest-Thermostat-iSet" />

    <div id="carousel-block">
        <div id="carousel">
            <div id="focus" class="flexslider product-slider">
                <ul class="slides"></ul>
            </div>

            <div class="view-to-scale">
                <span id="view-scale" class="view-to-scale-link zoom-xtras-control">View to Scale</span>
            </div>

            <div class="thumb-wrap">
                <div id="thumbs" class="flexslider product-slider">
                    <ul class="slides"></ul>
                    <div class="carousel-zoom zoom-xtras-control"></div>
                    <div class="view-360-box"><a class="view-360" class="zoom-xtras-control"></a></div>
                </div>
            </div>
        </div>

        <div class="crsl-offer-box">
            <div>
                <h4 class="offer-amt">10<span class="offer-unit">%</span></h4>
                <span class="offer-off">Off</span>
            </div>
        </div>

        <div class="hero-breadcrumbs">
            <a href="#" itemprop="breadcrumb" class="breadcrumb-link first" title="Back to Previous Page">audio</a>
            <a href="#" itemprop="breadcrumb" class="breadcrumb-link" title="Back to Previous Page">headphones</a>

        </div>
    </div>

    <div id="cart-block">
        <div class="light">
            <div class="pdp-banner-shipping">
                <div class="dropdown-link">
                    <span class="bold">Free Shipping</span> on all orders!
                </div>
                <div class="dropdown-panel">
                    <div class="dropdown-pointer"></div>
                    <span>Lorem ipsum dolor sequitat nes serva dos.</span>
                </div>
            </div>
            <header id="pdp-cart-header">
                <div class="brand-sku">
                    <div id="product-brand-field" class="brand">Belkin</div>
                    <div id="product-sku-field" class="sku">SKU #768324</div>
                </div>
                <h1 class="product-title">AC Charger with Swivel Plug</h1>
                <span class="mobile-view-price">
                    <span class="measure">$</span>
                    <span class="value">249 <em>99</em></span>
                    <span class="retail"><em>Reg.</em><em>$299.99</em></span>
                </span>
                <ul id="review-block">
                    <li>
                        <div class="rating red stars three-half">
                            <span class="review-link" title="See reviews for this item.">(<span id="pdp-cart-review-count" data-tabname="reviews">47 Reviews</span>)</span>
                        </div>
                    </li>
                </ul>
            </header>
            <div class="pdp-cart-shipping hide-for-mobile">
                <ul class="ship-details offer">
                    <li class="pdp-cart-shipping-item discount offer">
                        <span class="dropdown-link">10% Off Until 10/23<span class="marker">&nbsp;</span></span>
                        <div class="dropdown-panel">
                            <div class="dropdown-pointer"></div>
                            <h5 class="offer-title">Lorem ipsum dolor sit amet con sectetur</h5>
                            <p class="offer-details">Adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="offer-link" title="Offer Details">Offer Details</a>
                        </div>
                    </li>
                    <li class="pdp-cart-shipping-item discount offer">
                        <span class="dropdown-link">15% Employees Discount<span class="marker">&nbsp;</span></span>
                        <div class="dropdown-panel">
                            <div class="dropdown-pointer"></div>
                            <h5 class="offer-title">Lorem ipsum dolor sit amet con sectetur</h5>
                            <p class="offer-details">Adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="offer-link" title="Offer Details">Offer Details</a>
                        </div>
                    </li>
                    <li class="pdp-cart-shipping-item rcv-by">Receive by 1/23</li>
                </ul>
                <div class="pdp-cart-compat guest">
                    <a class="compat-link guest" title="Check compatibility of this item" data-tabname="compatibility">Check compatibility</a>
                </div>
            </div>
        </div>
        <div class="dark">
            <form id="pdp-add-to-cart" class="pdp-form-box data-product-attributes">
                <div class="pdp-size-color">
                    <input type="hidden" name="sku" value="768324" />

                    <div class="color-info"><span class="color-label"><span id="pdp-current-color" class="color-option">black</span></span></div>
                    <div class="product-color">
                        <ul id="product-colors" class="product-colors inline-list">
                            <li class="color black active" data-color="black">
                                <span class="active-check"></span>
                                <span class="OOS">Out of Stock</span>
                                <a href="#?color=black" class="action data-color" title="black">
                                <img src="img/product-category-listing/pick-blk.png"/>
                                </a>
                            </li>
                            <li class="color white" data-color="white">
                                <span class="active-check"></span>
                                <span class="OOS">Out of Stock</span>
                                <a href="#?color=white" class="action data-color" title="white">
                                <img src="img/product-category-listing/pick-wht.png"/>
                                </a>
                            </li>
                            <li class="color red" data-color="blue">
                                <span class="active-check"></span>
                                <span class="OOS">Out of Stock</span>
                                <a href="#?color=red" class="action data-color" title="red">
                                <img src="img/product-category-listing/pick-red.png"/>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="size-select-box ">
                        <select id="pdp-size-select" name="pdpSizeSelect" class="size-select">
                            <option value="0" disabled selected>Size</option>
                            <option value="1">Small</option>
                            <option value="2">Medium</option>
                            <option value="3">Large</option>
                            <option value="4">X Large</option>
                        </select>
                        <span class="item-OOS-message">Sorry, this item is out of stock.</span>
                        <span class="item-expired-message">Sorry, this item has been discontinued.</span>
                    </div>
                    <div class="color-select-box">
                        <div class="swatch"></div>
                        <select id="pdp-color-select" name="pdpColorSelect" class="color-select">
                            <option value="black" selected>Black</option>
                            <option value="grey">Grey</option>
                            <option value="white">White</option>
                            <option value="red">Red</option>
                            <option value="yellow">Yellow</option>
                            <option value="blue">Blue</option>
                            <option value="green">Green</option>
                            <option value="orange">Orange</option>
                            <option value="purple">Purple</option>
                            <option value="pink">Pink</option>
                            <option value="silver">Silver</option>
                            <option value="gold">Gold</option>
                        </select>
                    </div>
                </div>
                <div class="pdp-cart-shipping show-for-mobile">
                <ul class="ship-details offer">
                    <li class="pdp-cart-shipping-item discount offer">
                        <span class="dropdown-link">10% Off Until 10/23<span class="marker">&nbsp;</span></span>
                        <div class="dropdown-panel">
                            <div class="dropdown-pointer"></div>
                            <h5 class="offer-title">Lorem ipsum dolor sit amet con sectetur</h5>
                            <p class="offer-details">Adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="offer-link" title="Offer Details">Offer Details</a>
                        </div>
                    </li>
                    <li class="pdp-cart-shipping-item discount offer">
                        <span class="dropdown-link">15% Employees Discount<span class="marker">&nbsp;</span></span>
                        <div class="dropdown-panel">
                            <div class="dropdown-pointer"></div>
                            <h5 class="offer-title">Lorem ipsum dolor sit amet con sectetur</h5>
                            <p class="offer-details">Adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="offer-link" title="Offer Details">Offer Details</a>
                        </div>
                    </li>
                    <li class="pdp-cart-shipping-item rcv-by">Receive by 1/23</li>
                </ul>
                <div class="pdp-cart-compat guest">
                    <a class="compat-link guest" title="Check compatibility of this item" data-tabname="compatibility">Check compatibility</a>
                </div>
            </div>
                <div class="pdp-price-cta" >
                    <div class="price-block">
                        <div class="original-price offer"><span class="sale">Sale&nbsp;</span>Reg.  $<span id="pdp-cart-original-price" class="strike">299.99</span></div>
                        <div class="actual-price">$<span id="pdp-cart-actual-price">249<span class="cents">99</span></span></div>
                    </div>
                    <div class="add-cart-box">
                        <div class="pdp-cart-red-cta-box">
                            <input data-cart-add="1" id="pdp-add-to-cart-submit" class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart">
                        </div>
                        <div class="no-cta-button">
                            <span class="OOS-text">coming soon</span>
                            <span class="expired-text">not available</span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="social-block">
                <script>includeFragment('inc/fragments/social.html');</script>
            </div>
        </div>
    </div>
    <div id="zoom-block">
        <div class="zoom-wrap">
            <div id="zoom-carousel-block">

                <div class="hide-scale controller">
                    <span id="toggle-scale" class="view-scale-link zoom-xtras-control">View to Scale</span>
                </div>

            </div>
            <div id="zoom-close" title="Back to item details">Close</div>

            <div id="zoom-controls" class="controller">
                <div class="bigger" data-zoom-state="large" title="Zoom in"></div>
                <div class="border"></div>
                <div class="smaller" data-zoom-state="small" title="Zoom out"></div>
            </div>

            <div id="zoom-block-content" class="zoom-content">
                <!-- <h1 class="zoom-block-title"></h1> -->
                <div id="zoom-block-dynamic-content"></div>

            </div>
        </div>
    </div>
</section>
