<div class="bundle">
	<div class="table-row standard single"><!-- bundle products -->
		<span class="tab"></span>
		<form method="post" action="#">
			<div class="desc-block">

				<div class="cart-product-image">
					<img src="img/cart/cart-headphones.png" title="Beats by Dre Pro On-Ear Headphones" alt="Beats by Dre Pro On-Ear Headphones" class="cart-img" >
				</div> <!-- end product image -->

				<div class="cart-product-info">
					<h2>Beats by Dre Pro On-Ear Headphones</h2>

					<div class="unit-price">
						<span class="original-price offer">$62.97</span>
						<span class="actual-price">$49.00</span>
						<span class="discount offer">YOU SAVE $13.97</span>
					</div><!-- end unit price -->
					<div class="emp-discount">Employee discount does not apply</div>

				</div><!-- end product info -->

				<div class="cart-qty-block">
					<div class="detail-box qty">
						<span class="cart-label">Qty:</span>
						<select name="cartQty" class="cart-revise-qty" data-cart-id="1">
							<option value="0">0</option>
							<option value="1" selected>1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
						<div class="update-msg">Updated</div>
						<!-- insert out of stoock & expired messaging here -->
					</div><!-- end qty detail -->

					<div class="remove">
						<a href="#">Remove</a>
					</div>

					<div class="confirm-remove">
						<p>Are you sure you want to remove this item?</p>

						<div class="cart-remove-links">
							<a href="#" class="cancel">Cancel</a>
							<span>|</span>
							<a href="#" class="remove data-cart-remove">Remove</a>
						</div>
					</div>
				</div><!-- end order-details -->

			</div><!-- end desc block -->

			<div class="sub-block">
				<h4 class="subtotal">$62<span class="cents">97</span></h4>
				<h4 class="subtotal correct">$62<span class="cents">97</span></h4>
			</div><!-- end sub block -->
		</form>
	</div><!-- end table row -->

	<div class="view-bundle-items" data-target="bundled-items">
		<p>View items in your bundle</p>
	</div>
	<div class="bundled-items">
		<div class="table-row standard bundle-item">
			<form method="post" action="#">
				<div class="desc-block">

					<div class="cart-product-image">
						<img src="img/cart/cart-headphones.png" title="Beats by Dre Pro On-Ear Headphones" alt="Beats by Dre Pro On-Ear Headphones" class="cart-img" >
					</div> <!-- end product image -->

					<div class="cart-product-info">
						<h2>Beats by Dre Pro <br/> On-Ear Headphones</h2>

						<div class="unit-price">
							<span class="original-price offer">$399.99</span>
							<span class="actual-price">$299.99</span>
							<span class="discount offer">10% off</span>
						</div><!-- end unit price -->

						<div class="new-details">
							<ul>
								<li class="size block">
									<div class="label">
										Size:
									</div>
									<div class="size data">
										small
									</div>,
								</li>

								<li class="color block">
									<div class="label">
										&nbsp;Color:
									</div>
									<div class="size data">
										black
									</div>
								</li>

							</ul>
						</div>
					</div><!-- end product info -->

					<div class="cart-qty-block">
						<div class="detail-box qty">
							<span class="cart-label">Qty:</span>
							<select name="cartQty" class="cart-revise-qty" data-cart-id="1">
								<option value="0">0</option>
								<option value="1" selected>1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
							<div class="update-msg">Updated</div>
							<!-- insert out of stoock & expired messaging here -->
						</div><!-- end qty detail -->

						<div class="remove">
							<a href="#">Remove</a>
						</div>

						<div class="confirm-remove">
							<p>Are you sure you want to remove this item?</p>

							<div class="cart-remove-links">
								<a href="#" class="cancel">Cancel</a>
								<span>|</span>
								<a href="#" class="remove data-cart-remove">Remove</a>
							</div>
						</div>
					</div><!-- end order-details -->

				</div><!-- end desc block -->

				<div class="sub-block">
					<h4 class="subtotal">$299<span class="cents">99</span></h4>
				</div><!-- end sub block -->
			</form>
		</div><!-- end table row -->

		<div class="table-row standard bundle-item">
			<form method="post" action="#">
				<div class="desc-block">

					<div class="cart-product-image">
						<img src="img/cart/cart-headphones.png" title="Beats by Dre Pro On-Ear Headphones" alt="Beats by Dre Pro On-Ear Headphones" class="cart-img" >
					</div> <!-- end product image -->

					<div class="cart-product-info">
						<h2>Beats by Dre Pro <br/> On-Ear Headphones</h2>

						<div class="unit-price">
							<span class="original-price offer">$399.99</span>
							<span class="actual-price">$299.99</span>
							<span class="discount offer">10% off</span>
						</div><!-- end unit price -->

						<div class="new-details">
							<ul>
								<li class="size block">
									<div class="label">
										Size:
									</div>
									<div class="size data">
										small
									</div>,
								</li>

								<li class="color block">
									<div class="label">
										&nbsp;Color:
									</div>
									<div class="size data">
										black
									</div>
								</li>

							</ul>
						</div>
					</div><!-- end product info -->

					<div class="cart-qty-block">
						<div class="detail-box qty">
							<span class="cart-label">Qty:</span>
							<select name="cartQty" class="cart-revise-qty" data-cart-id="1">
								<option value="0">0</option>
								<option value="1" selected>1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
	                        <div class="dropdown-panel bundle-tooltip">
	                            <div class="dropdown-pointer"></div>
	                            We've added your
	                            additional Anti-Scratch
	                            Display Protector back
	                            into de bundle.
	                        </div>
							<div class="update-msg">Updated</div>
							<!-- insert out of stoock & expired messaging here -->
						</div><!-- end qty detail -->

						<div class="remove">
							<a href="#">Remove</a>
						</div>

						<div class="confirm-remove">
							<p>Are you sure you want to remove this item?</p>

							<div class="cart-remove-links">
								<a href="#" class="cancel">Cancel</a>
								<span>|</span>
								<a href="#" class="remove data-cart-remove">Remove</a>
							</div>
						</div>
					</div><!-- end order-details -->

				</div><!-- end desc block -->

				<div class="sub-block">
					<h4 class="subtotal">$299<span class="cents">99</span></h4>
				</div><!-- end sub block -->
			</form>
		</div><!-- end table row -->

		<div class="table-row standard bundle-item">
			<form method="post" action="#">
				<div class="desc-block">

					<div class="cart-product-image">
						<img src="img/cart/cart-headphones.png" title="Beats by Dre Pro On-Ear Headphones" alt="Beats by Dre Pro On-Ear Headphones" class="cart-img" >
					</div> <!-- end product image -->

					<div class="cart-product-info">
						<h2>Beats by Dre Pro <br/> On-Ear Headphones</h2>

						<div class="unit-price">
							<span class="original-price offer">$399.99</span>
							<span class="actual-price">$299.99</span>
							<span class="discount offer">10% off</span>
						</div><!-- end unit price -->

						<div class="new-details">
							<ul>
								<li class="size block">
									<div class="label">
										Size:
									</div>
									<div class="size data">
										small
									</div>,
								</li>

								<li class="color block">
									<div class="label">
										&nbsp;Color:
									</div>
									<div class="size data">
										black
									</div>
								</li>

							</ul>
						</div>
					</div><!-- end product info -->

					<div class="cart-qty-block">
						<div class="detail-box qty">
							<span class="cart-label">Qty:</span>
							<select name="cartQty" class="cart-revise-qty" data-cart-id="1">
								<option value="0">0</option>
								<option value="1" selected>1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
							<div class="update-msg">Updated</div>
							<!-- insert out of stoock & expired messaging here -->
						</div><!-- end qty detail -->

						<div class="remove">
							<a href="#">Remove</a>
						</div>

						<div class="confirm-remove">
							<p>Are you sure you want to remove this item?</p>

							<div class="cart-remove-links">
								<a href="#" class="cancel">Cancel</a>
								<span>|</span>
								<a href="#" class="remove data-cart-remove">Remove</a>
							</div>
						</div>
					</div><!-- end order-details -->

				</div><!-- end desc block -->

				<div class="sub-block">
					<h4 class="subtotal">$299<span class="cents">99</span></h4>
				</div><!-- end sub block -->
			</form>
		</div><!-- end table row -->
	</div>

</div>

<div class="table-row standard single"><!-- single product -->
	<form method="post" action="#">
		<div class="desc-block">
			<div class="cart-product-image">
				<img src="img/cart/cart-headphones.png" title="Beats by Dre Pro On-Ear Headphones" alt="Beats by Dre Pro On-Ear Headphones" class="cart-img" >
			</div> <!-- end product image -->

			<div class="cart-product-info">
				<h2>Beats by Dre Pro On-Ear Headphones</h2>

				<div class="unit-price">
					<span class="actual-price">$49.00</span>
				</div><!-- end unit price -->
			</div><!-- end product info -->

			<div class="cart-qty-block">
				<div class="detail-box qty">
					<span class="cart-label">Qty:</span>
					<select name="cartQty" class="cart-revise-qty" data-cart-id="1">
						<option value="0">0</option>
						<option value="1" selected>1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
					<div class="update-msg">Updated</div>
					<!-- insert out of stoock & expired messaging here -->
				</div><!-- end qty detail -->

				<div class="remove">
					<a href="#">Remove</a>
				</div>

				<div class="confirm-remove">
					<p>Are you sure you want to remove this item?</p>

					<div class="cart-remove-links">
						<a href="#" class="cancel">Cancel</a>
						<span>|</span>
						<a href="#" class="remove data-cart-remove">Remove</a>
					</div>
				</div>
			</div><!-- end order-details -->

		</div><!-- end desc block -->

		<div class="sub-block">
			<h4 class="subtotal correct">$62<span class="cents">97</span></h4>
		</div><!-- end sub block -->
	</form>


</div><!-- end table row -->

<div class="modal-overlay-background" style="display: none;"></div>
<div class="modal-overlay bundle" style="top: 200px; display: none;"><a class="close-btn" href="#"></a>
	<div class="modal-content">
		<h1>Are you sure you want to remove this item?</h1>

		<div class="container img">
			<img itemprop="image" src="img/bb/modal-item-img.png" title="Motorola Screen Protector">
		</div>

		<div class="container content">
			<p>
				If you remove this item, you will lose the bundle savings of <b>$13.97.</b>
			</p>
			<p>
				Your other two items will go back to full price.
			</p>

			<div class="simple-slider-item">
			    <div class="simple-image">

			    </div>
			    <div class="simple-detail" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
			      	<div class="simple-price">
			      		<span class="product-title">Anti-Scratch Display Protector</span>
			        	<span class="product-price">$79.00</span>
			        </div>
			    	<div class="rating stars four red">(21)</div>

                    <a class="remove-item-link" href="#">Remove Item</a>

                    <div class="keep-item-button">
                        <div class="button" style="-webkit-user-select: none;">
                            <span>keep item</span>
                        </div>
                    </div>

			    </div>
			</div>
		</div>
	</div>
</div>




