<section id="pdp-hero">
    <div id="carousel-block">
        <div id="carousel">
            <div id="focus" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="img/product-detail-page/pdp-products/belkin-charger-large-1.png" alt="Belkin AC Charger with Swivel Plug" data-xcoord="-175" data-ycoord="-70" data-portrait-x="-130"  data-portrait-y="-80">
                    </li>
                    <li>
                        <img src="img/product-detail-page/pdp-products/belkin-charger-large-2.png" alt="Belkin AC Charger with Swivel Plug" data-xcoord="-100" data-ycoord="-90" data-portrait-x="-60"  data-portrait-y="-100">
                    </li>
                </ul>
            </div>

            <div class="view-to-scale">
                <span id="view-scale" class="view-to-scale-link zoom-xtras-control">View to Scale</span>
            </div>

            <div class="thumb-wrap">
                <div id="thumbs" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="img/product-detail-page/pdp-products/belkin-charger-thumb-1.png" alt="Belkin AC Charger with Swivel Plug">
                            <div class="vzn-active"></div>
                        </li>
                        <li>
                            <img src="img/product-detail-page/pdp-products/belkin-charger-thumb-2.png" alt="Belkin AC Charger with Swivel Plug">
                            <div class="vzn-active"></div>
                        </li>
                    </ul>
                    <div id="carousel-zoom" class="zoom-xtras-control"></div>
                    <div class="view-360-box"><a id="view-360" class="zoom-xtras-control"></a></div>
                </div>
            </div>
        </div>

        <div class="crsl-offer-box">
            <div>
                <h4 class="offer-amt">10<span class="offer-unit">%</span></h4>
                <span class="offer-off">Off</span>
            </div>
        </div>

        <div class="hero-breadcrumbs">
            <a href="#" id="pdp-breadcrumb" class="breadcrumb-link" title="Back to Previous Page">Adaptors for Travelers</a>
        </div>
    </div>

    <div id="cart-block">
        <div class="light">
            <div class="pdp-banner-shipping">
                <div class="dropdown-link">
                    <span class="bold">Free Shipping</span> on all orders!
                </div>
                <div class="dropdown-panel">
                    <div class="dropdown-pointer"></div>
                    <span>Lorem ipsum dolor sequitat nes serva dos.</span>
                </div>
            </div>
            <header id="pdp-cart-header">
                <div class="brand-sku">
                    
                    <div id="product-sku-field" class="sku">SKU #768324</div>
                </div>
                <h2 class="product-title">
                    <span id="product-brand-field" class="brand">Belkin</span>
                    AC Charger with Swivel Plug
                </h2>
                <span class="mobile-view-price">
                    <span class="measure">$</span>
                    <span class="value">249 <em>99</em></span>
                    <span class="retail"><em>Reg.</em><em>$299.99</em></span>
                </span>
                <ul id="review-block">
                    <li>
                        <div class="rating red stars three-half">
                            <span class="review-link" title="See reviews for this item.">(<span id="pdp-cart-review-count" data-tabname="reviews">47 Reviews</span>)</span>
                        </div>
                    </li>
                </ul>
            </header>
            <div class="pdp-cart-shipping">
                <ul class="ship-details offer">
                    <li class="pdp-cart-shipping-item discount offer">
                        <span class="dropdown-link">10% Off Until 10/23<span class="marker">&nbsp;</span></span>
                        <div class="dropdown-panel">
                            <div class="dropdown-pointer"></div>
                            <h5 class="offer-title">Lorem ipsum dolor sit amet con sectetur</h5>
                            <p class="offer-details">Adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="offer-link" title="Offer Details">Offer Details</a>
                        </div>
                    </li>
                    <li class="pdp-cart-shipping-item discount offer">
                        <span class="dropdown-link">15% Employees Discount<span class="marker">&nbsp;</span></span>
                        <div class="dropdown-panel">
                            <div class="dropdown-pointer"></div>
                            <h5 class="offer-title">Lorem ipsum dolor sit amet con sectetur</h5>
                            <p class="offer-details">Adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="offer-link" title="Offer Details">Offer Details</a>
                        </div>
                    </li>
                    <li class="pdp-cart-shipping-item rcv-by">Receive by 1/23</li>
                </ul>

                <div class="pdp-cart-compat signed-in">
                    <ul class="pdp-cart-compat-list">
                        <li id="signed-in-device-1" class="compat-icon compatible">
                            <img class="image" src="../img/product-detail-page/pdp-products/compat-product.png" alt="compatible device" />
                            <span class="data">Compatible with your Samsung Galaxy</span>
                        </li>
                        <li id="signed-in-device-2" class="compat-icon not-compatible">
                            <img class="image" src="../img/product-detail-page/pdp-products/compat-product.png" alt="compatible device" />
                            <span class="data">Compatible with your Samsung Galaxy</span>
                        </li>
                        <li class="compat-link-box">
                            <span class="compat-link signed" title="Check compatibility of this item.">Check compatibility</span>
                        </li>
                    </ul>
                </div>
                <div class="pdp-cart-compat guest">
                    <span class="compat-link guest" title="Check compatibility of this item" data-tabname="compatibility">Check compatibility</span>
                </div>
            </div>
        </div>
        <div class="dark">
            <form id="pdp-add-to-cart" class="pdp-form-box data-product-attributes">
                <div class="pdp-size-color">
                    <input type="hidden" name="sku" value="768324" />
                    
                    <div class="color-info"><span class="color-label"><span id="pdp-current-color" class="color-option">black</span></span></div>
                    <div class="product-color">
                        <ul id="product-colors" class="product-colors inline-list">
                            <li class="color black active" data-color="black">
                                <span class="active-check"></span>
                                <span class="OOS">Out of Stock</span>
                                <a href="#?color=black" class="action data-color" title="black">
                                <img src="img/product-category-listing/pick-blk.png"/>
                                </a>
                            </li>
                            <li class="color white" data-color="white">
                                <span class="active-check"></span>
                                <span class="OOS">Out of Stock</span>
                                <a href="#?color=white" class="action data-color" title="white">
                                <img src="img/product-category-listing/pick-wht.png"/>
                                </a>
                            </li>
                            <li class="color red" data-color="blue">
                                <span class="active-check"></span>
                                <span class="OOS">Out of Stock</span>
                                <a href="#?color=red" class="action data-color" title="red">
                                <img src="img/product-category-listing/pick-red.png"/>
                                </a>
                            </li>
                        </ul>
                        <span class="item-OOS-message show">Sorry, this item is out of stock.</span>
                        <span class="item-expired-message">Sorry, this item has been discontinued.</span>
                    </div>
                    <div class="size-select-box ">
                        <select id="pdp-size-select" name="pdpSizeSelect" class="size-select">
                            <option value="0" disabled selected>Size</option>
                            <option value="1">Small</option>
                            <option value="2">Medium</option>
                            <option value="3">Large</option>
                            <option value="4">X Large</option>
                        </select>
                    </div>
                    <div class="color-select-box">
                        <div class="swatch"></div>
                        <select id="pdp-color-select" name="pdpColorSelect" class="color-select">
                            <option value="black" selected>Black</option>
                            <option value="grey">Grey</option>
                            <option value="white">White</option>
                            <option value="red">Red</option>
                            <option value="yellow">Yellow</option>
                            <option value="blue">Blue</option>
                            <option value="green">Green</option>
                            <option value="orange">Orange</option>
                            <option value="purple">Purple</option>
                            <option value="pink">Pink</option>
                            <option value="silver">Silver</option>
                            <option value="gold">Gold</option>
                        </select>
                    </div>
                </div>
                <div class="pdp-price-cta" >
                    <div class="price-block">
                        <div class="original-price offer"><span class="sale">Sale&nbsp;</span>Reg.  $<span id="pdp-cart-original-price" class="strike">299.99</span></div>
                        <div class="actual-price">$<span id="pdp-cart-actual-price">249<span class="cents">99</span></span></div>
                    </div>
                    <div class="no-cta-button show">
                        <span class="OOS-text">coming soon</span>
                        <span class="expired-text">not available</span>
                    </div>
                </div>
            </form>
            <div class="social-block">
                <script>includeFragment('inc/fragments/social.html');</script>
            </div>
        </div>
    </div>
    <div id="zoom-block">
        <div class="zoom-wrap">
            <div id="zoom-carousel-block">
                <div id="zoom-focus" class="flexslider">
                    <ul id="zoom-slides" class="slides">
                        <li><img src="img/product-detail-page/pdp-plus/dre-beats-1.png" alt="Beats by Dre - On-Ear Wireless Headphones"></li>
                        <li><img src="img/product-detail-page/pdp-plus/dre-beats-2.png" alt="Beats by Dre - On-Ear Wireless Headphones"></li>
                        <li><img src="img/product-detail-page/pdp-plus/dre-beats-3.png" alt="Beats by Dre - On-Ear Wireless Headphones"></li>
                    </ul>
                </div>
                <div class="hide-scale">
                    <span id="toggle-scale" class="view-scale-link zoom-xtras-control">View to Scale</span>
                </div>
                <div class="thumb-wrap">
                    <div id="zoom-thumbs" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="img/product-detail-page/pdp-plus/dre-beats-1-thumb.png" alt="Beats by Dre - On-Ear Wireless Headphones">
                                <div class="vzn-active"></div>
                            </li>
                            <li>
                                <img src="img/product-detail-page/pdp-plus/dre-beats-2-thumb.png" alt="Beats by Dre - On-Ear Wireless Headphones">
                                <div class="vzn-active"></div>
                            </li>
                            <li>
                                <img src="img/product-detail-page/pdp-plus/dre-beats-3-thumb.png" alt="Beats by Dre - On-Ear Wireless Headphones">
                                <div class="vzn-active"></div>
                            </li>
                        </ul>
                        <div id="toggle-view-360"><span class="view-360-link zoom-extras-control"></span></div>
                        <div id="zoom-carousel-zoom"></div>
                    </div>
                </div>
            </div>
            <div id="zoom-close" title="Back to item details">Close</div>
            <div id="zoom-controls">
                <div class="bigger" title="Zoom in"></div>
                <div class="border"></div>
                <div class="smaller" title="Zoom out"></div>
            </div>
            <div id="zoom-scale-content" class="zoom-content">
                <div class="scale-box">
                    <div class="scale-item-left"><img src="img/product-detail-page/pdp-plus/dre-beats-1.png" alt=""/></div>
                    <div class="scale-item-right">
                        <img src="img/product-detail-page/pdp-plus/droidrazor.png"  alt="" />
                        <div class="select-block">
                            <select name="scaleDevice" id="scale-device-comparison">
                                <option value="Motorola Droid RAZR" selected>Motorola Droid RAZR HD</option>
                                <option value="HTC Droid DNA">HTC Droid DNA</option>
                                <option value="Samsung Galaxy S 4">Samsung Galaxy S 4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="zoom-view-360-content" class="zoom-content">
                <div class="view-360-box">
                    <h2>view 360</h2>
                </div>
            </div>
        </div>
    </div>
</section>
