			<div class="table-row standard"><!-- -------------- first product --------------- --><form method="post" action="#">
				<div class="desc-block">

					<div class="cart-product-image">
						<img src="img/cart/cart-headphones.png" title="Beats by Dre Pro On-Ear Headphones" alt="Beats by Dre Pro On-Ear Headphones" class="cart-img">
					</div><!-- end product image -->

					<div class="cart-product-info">
						<h2>Beats by Dre Pro On-Ear Headphones</h2>

						<div class="unit-price">
							<span class="original-price offer">$399.99</span>
							<span class="actual-price">$299.99</span>
							<span class="discount offer">10% off</span>
						</div><!-- end unit price -->

						<div class="new-details">
							<ul>
								<li class="size block">
									<div class="label">
										Size:
									</div>
									<div class="size data">
										small
									</div>,
								</li>

								<li class="color block">
									<div class="label">
										Color:
									</div>
									<div class="size data">
										black
									</div>
								</li>

							</ul>
						</div>
					</div><!-- end product info -->

					<div class="cart-qty-block">
						<div class="detail-box qty">
							<span class="cart-label">Qty:</span>
							<select name="cartQty" class="cart-revise-qty" data-cart-id="1">
								<option value="0">0</option>
								<option value="1" selected>1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
							<div class="update-msg">Updated</div>
							<!-- insert out of stoock & expired messaging here -->
						</div><!-- end qty detail -->

						<div class="remove">
							<a href="#">Remove</a>
						</div>

						<div class="confirm-remove">

							<p>Are you sure you want to remove this item?</p>

							<div class="cart-remove-links">
								<a href="#" class="cancel">Cancel</a>
								<span>|</span>
								<a href="#" class="remove data-cart-remove">Remove</a>
							</div>

						</div>

					</div><!-- end order-details -->

				</div><!-- end desc block -->

				<div class="sub-block">
					<h4 class="subtotal">$299<span class="cents">99</span></h4>
				</div><!-- end sub block --></form>
			</div><!-- end table row -->

			<div class="table-row sale"><!-- -------------- second product w/ sale state--------------- --><form method="post" action="#">
                <div class="desc-block">

                    <div class="cart-product-image">
                        <img src="img/product-detail-page/pdp-plus/dre-beats-2.png" title="Beats by Dre Pro On-Ear Headphones" alt="Beats by Dre Pro On-Ear Headphones" class="cart-img">
                    </div><!-- end product image -->

                    <div class="cart-product-info">
                        <h2>Beats by Dre Pro On-Ear Headphones</h2>

                        <div class="unit-price">
                            <span class="original-price offer">$399.99</span>
                            <span class="actual-price">$299.99</span>
                            <span class="discount offer">10% SALE</span>
                        </div><!-- end unit price -->

                        <div class="new-details">
                            <ul>
                                <li class="size block">
                                    <div class="label">
                                        Size:
                                    </div>
                                    <div class="size data">
                                        small
                                    </div>,
                                </li>

                                <li class="color block">
                                    <div class="label">
                                        Color:
                                    </div>
                                    <div class="size data">
                                        black
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div><!-- end product info -->

                    <div class="cart-qty-block">
                        <div class="detail-box qty">
                            <span class="cart-label">Qty:</span>
                            <select name="cartQty" class="cart-revise-qty" data-cart-id="1">
                                <option value="0">0</option>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <div class="update-msg">Updated</div>
                            <div class="oos-msg">Sorry, this item is out of stock.</div>
                        </div><!-- end qty detail -->

                        <div class="remove">
                            <a href="#">Remove</a>
                        </div>

                        <div class="confirm-remove">

                            <p>Are you sure you want to remove this item?</p>

                            <div class="cart-remove-links">
                                <a href="#" class="cancel">Cancel</a>
                                <span>|</span>
                                <a href="#" class="remove data-cart-remove">Remove</a>
                            </div>

                        </div>

                    </div><!-- end order-details -->

                </div><!-- end desc block -->

                <div class="sub-block">
                    <h4 class="subtotal">$299<span class="cents">99</span></h4>
                </div><!-- end sub block --></form>
            </div><!-- end table row -->

			<div class="table-row out-of-stock"><!-- -------------- third product w/ OOS state--------------- --><form method="post" action="#">
				<div class="desc-block">

					<div class="cart-product-image">
						<img src="img/product-detail-page/pdp-plus/dre-beats-2.png" title="Beats by Dre Pro On-Ear Headphones" alt="Beats by Dre Pro On-Ear Headphones" class="cart-img">
					</div><!-- end product image -->

					<div class="cart-product-info">
						<h2>Beats by Dre Pro On-Ear Headphones</h2>

						<div class="unit-price">
							<span class="original-price offer">$399.99</span>
							<span class="actual-price">$299.99</span>
							<span class="discount offer">10% off</span>
						</div><!-- end unit price -->

						<div class="new-details">
							<ul>
								<li class="size block">
									<div class="label">
										Size:
									</div>
									<div class="size data">
										small
									</div>,
								</li>

								<li class="color block">
									<div class="label">
										Color:
									</div>
									<div class="size data">
										black
									</div>
								</li>

							</ul>
						</div>
					</div><!-- end product info -->

					<div class="cart-qty-block">
						<div class="detail-box qty">
							<span class="cart-label">Qty:</span>
							<select name="cartQty" class="cart-revise-qty" data-cart-id="1">
								<option value="0">0</option>
								<option value="1" selected>1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
							<div class="update-msg">Updated</div>
							<div class="oos-msg">Sorry, this item is out of stock.</div>
						</div><!-- end qty detail -->

						<div class="remove">
							<a href="#">Remove</a>
						</div>

						<div class="confirm-remove">

							<p>Are you sure you want to remove this item?</p>

							<div class="cart-remove-links">
								<a href="#" class="cancel">Cancel</a>
								<span>|</span>
								<a href="#" class="remove data-cart-remove">Remove</a>
							</div>

						</div>

					</div><!-- end order-details -->

				</div><!-- end desc block -->

				<div class="sub-block">
					<h4 class="subtotal">$299<span class="cents">99</span></h4>
				</div><!-- end sub block --></form>
			</div><!-- end table row -->

			<div class="table-row expired"><!-- -------------- third product w/ expired state--------------- --><form method="post" action="#">
				<div class="desc-block">

					<div class="cart-product-image">
						<img src="img/product-detail-page/pdp-plus/dre-beats-3.png" title="Beats by Dre Pro On-Ear Headphones" alt="Beats by Dre Pro On-Ear Headphones" class="cart-img">
					</div><!-- end product image -->

					<div class="cart-product-info">
						<h2>Beats by Dre Pro On-Ear Headphones</h2>

						<div class="unit-price">
							<span class="original-price offer">$399.99</span>
							<span class="actual-price">$299.99</span>
							<span class="discount offer">10% off</span>
						</div><!-- end unit price -->

						<div class="new-details">
							<ul>
								<li class="size block">
									<div class="label">
										Size:
									</div>
									<div class="size data">
										small
									</div>,
								</li>

								<li class="color block">
									<div class="label">
										&nbsp;Color:
									</div>
									<div class="size data">
										black
									</div>
								</li>

							</ul>
						</div>
					</div><!-- end product info -->

					<div class="cart-qty-block">
						<div class="detail-box qty">
							<span class="cart-label">Qty:</span>
							<select name="cartQty" class="cart-revise-qty" data-cart-id="1">
								<option value="0">0</option>
								<option value="1" selected>1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
							<div class="update-msg">Updated</div>

							<div class="expired-item-msg">Sorry, this item is no longer available.</div>
						</div><!-- end qty detail -->

						<div class="remove">
							<a href="#">Remove</a>
						</div>

						<div class="confirm-remove">

							<p>Are you sure you want to remove this item?</p>

							<div class="cart-remove-links">
								<a href="#" class="cancel">Cancel</a>
								<span>|</span>
								<a href="#" class="remove data-cart-remove">Remove</a>
							</div>

						</div>

					</div><!-- end order-details -->

				</div><!-- end desc block -->

				<div class="sub-block">
					<h4 class="subtotal">$299<span class="cents">99</span></h4>
				</div><!-- end sub block --></form>
			</div><!-- end table row -->


