<div id="quick-view-overlay" class="quick-view-overlay" styles="display: block;
top: 0;
height: 600px;">
    <div class="wrapper data-product-attributes">

        <div class="quick-view-header">
            <ul class="quick-view-offers">
                <li class="first offer">free shipping</li>
                <!-- if more than one offer..
                <li class="offer"></li>
                <li class="last offer"></li> -->
            </ul>
            <a id="close-quick-view" class="quick-view-close" href="#close-quick-view">close</a>
        </div>
        <section class="quick-view-item">
            <!-- main carousel slider -->
            <div id="quick-view-slider" class="slider">
                <ul class="slides">
                    <li class="first slide">
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                    </li>
                    <li class="slide">
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                    </li>
                    <li class="last slide">
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png">
                    </li>
                </ul>
            </div>
            <div class="slider-controls">
                <ol class="slides">
                    <li>
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png" alt="Beats by Dre - On-Ear Wireless Headphones" >
                        <div class="decoration vzn-active"></div>
                    </li>
                    <li>
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png" alt="Beats by Dre - On-Ear Wireless Headphones" >
                        <div class="decoration vzn-active"></div>
                    </li>
                    <li>
                        <img src="img/product-detail-page/pdp-products/horiz/wireless-speaker1.png" alt="Beats by Dre - On-Ear Wireless Headphones" >
                        <div class="decoration vzn-active"></div>
                    </li>
                </ol>
            </div>
            <!-- end main carousel slider -->
        </section>
        <section class="quick-view-details">
            <form method="post" action="#">
                <div class="pdp-size-color column">
                    <header class="product-header">
                        <!-- product header -->
                        <h1 class="product-name"><span class="brand">jawbone</span>Up Wristband 12</h1>
                        <!-- end product header -->
                        <!-- product rating inside this block -->
                        <div class="product-rating"></div>
                        <!-- end product rating -->
                    </header> <!-- end quick view header-->
                    <ul id="review-block" class="inline-list">
                        <li>
                            <div class="ratings"></div>
                        </li>
                        <li class="reviews">
                            <a href="#" id="pdp-cart-review-count" class="review-link" title="See reviews for this item.">(47)</a>
                        </li>
                    </ul>
                    <div class="product-color"> <!-- color selector -->
                        <ul id="product-colors" class="product-colors inline-list">
                            <li class="color black active" data-color="black">
                                <span class="active-check"></span>
                                <span class="OOS">Out of Stock</span>
                                <a href="#?color=red" class="action data-color" title="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                </a>
                            </li>
                            <li class="color white" data-color="white">
                                <span class="active-check"></span>
                                <span class="OOS">Out of Stock</span>
                                <a href="#?color=red" class="action data-color" title="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                </a>
                            </li>
                            <li class="color blue" data-color="blue">
                                <span class="active-check"></span>
                                <span class="OOS">Out of Stock</span>
                                <a href="#?color=red" class="action data-color" title="red">
                                    <img src="img/product-category-listing/pick-red.png"/>
                                </a>
                            </li>
                        </ul>

                        <select id="pdp-color-select" name="pdpColorSelect" class="color-select">
                            <option value="black" selected>Black</option>
                            <option value="grey">Grey</option>
                            <option value="white">White</option>
                            <option value="red">Red</option>
                            <option value="yellow">Yellow</option>
                            <option value="blue">Blue</option>
                            <option value="green">Green</option>
                            <option value="orange">Orange</option>
                            <option value="purple">Purple</option>
                            <option value="pink">Pink</option>
                            <option value="silver">Silver</option>
                            <option value="gold">Gold</option>
                        </select>
                    </div> <!-- end color selector -->

                    <div class="size-select-box "><!-- adds class 'expanded' -->
                        <select id="pdp-size-select" name="pdpSizeSelect" class="size-select">
                            <option value="0" disabled selected>Size</option>
                            <option value="1">Small</option>
                            <option value="2">Medium</option>
                            <option value="3">Large</option>
                            <option value="4">X Large</option>
                        </select>
                        <span class="item-OOS-message">Sorry, this item is out of stock.</span>
                        <span class="item-expired-message">Sorry, this item has been discontinued.</span>
                    </div>
                </div>
                <div class="column">
                    <div class="product-pricing">
                        <!-- <div class="sale">Reg.$<span>299.99</span></div> -->
                        <div class="price">$<span>249<sup>99</sup></span></div>
                    </div>
                    <div class="product-actions">
                        <div class="pdp-cart-red-cta-box">
                            <input id="pdp-add-to-cart-submit" class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" />
                        </div>

                        <div class="no-cta-button">
                            <span class="OOS-text">coming soon</span>
                            <span class="expired-text">not available</span>
                        </div>

                        <a class="product-details product-action" href="#" title="See Details"><span>See Details</span></a>
                    </div>
                </div>
            </form>
        </section>
    </div>

    <div id="quick-view-modal" class="quick-view-modal"></div>
</div>
