
<article id="offers-onsale" class="offers-onsale category-section">
    <header class="content-header">
        <h2 class="title"><strong>On Sale</strong> Now<a href="#see-all" title="See All">see all</a></h2>
        <div class="slide-nav"></div>
    </header>
    <ul class="slides">
        <li class="first slide">
                <ul class="content-grid feature-left">
                    <!-- featured grid item -->
                    <li class="featured content-item"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img src="img/special-offers-landing/nokia-jbl-power-up-speaker.png" alt="Beats by Dre" />
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">Nokia</span> JBL Power Up Speaker</span></strong>
                                <div class="price">
                                    <span class="sale">$199.99</span>
                                    <span class="original">249.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                    <!-- end featured grid item -->

                    <!-- some items in this grid will be hidden for various screen sizes please take note of classes beginning with "hide-for" and "show-for," etc... -->
                    <li class="content-item hide-for-mobile"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="../img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img alt="product name" src="img/special-offers-landing/isound-twist-speaker.png"/>
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">iSound</span> Twist Speaker</span></strong>
                                <div class="price">
                                    <span class="sale">$99.99</span>
                                    <span class="original">139.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                    <li class="content-item hide-for-medium-down"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="../img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img alt="product name" src="img/product-category-listing/pcl-skullcandy.jpg" />
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">Skullcandy</span> JIB In-Ear Headphones</span></strong>
                                <div class="price">
                                    <span class="sale">$39.99</span>
                                    <span class="original">59.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                    <li class="content-item hide-for-large-grid hide-for-small-grid-down"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="../img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img alt="product name" src="img/special-offers-landing/isound-twist-speaker.png"/>
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">iSound</span> Twist Speaker</span></strong>
                                <div class="price">
                                    <span class="sale">$99.99</span>
                                    <span class="original">139.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                    <li class="content-item hide-for-large-grid hide-for-small-grid-down"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="../img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img alt="product name" src="img/product-category-listing/pcl-skullcandy.jpg" />
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">Skullcandy</span> JIB In-Ear Headphones</span></strong>
                                <div class="price">
                                    <span class="sale">$39.99</span>
                                    <span class="original">59.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                </ul>
        </li>
        <li class="slide">
                <ul class="content-grid feature-left">
                    <!-- featured grid item -->
                    <li class="featured content-item"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img src="img/special-offers-landing/nokia-jbl-power-up-speaker.png" alt="Beats by Dre" />
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">Nokia</span> JBL Power Up Speaker</span></strong>
                                <div class="price">
                                    <span class="sale">$199.99</span>
                                    <span class="original">249.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                    <!-- end featured grid item -->

                    <!-- some items in this grid will be hidden for various screen sizes please take note of classes beginning with "hide-for" and "show-for," etc... -->
                    <li class="content-item hide-for-mobile"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="../img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img alt="product name" src="img/special-offers-landing/isound-twist-speaker.png"/>
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">iSound</span> Twist Speaker</span></strong>
                                <div class="price">
                                    <span class="sale">$99.99</span>
                                    <span class="original">139.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                    <li class="content-item hide-for-medium-down"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="../img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img alt="product name" src="img/product-category-listing/pcl-skullcandy.jpg" />
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">Skullcandy</span> JIB In-Ear Headphones</span></strong>
                                <div class="price">
                                    <span class="sale">$39.99</span>
                                    <span class="original">59.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                    <li class="content-item hide-for-large-grid hide-for-small-grid-down"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="../img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img alt="product name" src="img/special-offers-landing/isound-twist-speaker.png"/>
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">iSound</span> Twist Speaker</span></strong>
                                <div class="price">
                                    <span class="sale">$99.99</span>
                                    <span class="original">139.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                    <li class="content-item hide-for-large-grid hide-for-small-grid-down"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="../img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img alt="product name" src="img/product-category-listing/pcl-skullcandy.jpg" />
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">Skullcandy</span> JIB In-Ear Headphones</span></strong>
                                <div class="price">
                                    <span class="sale">$39.99</span>
                                    <span class="original">59.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                </ul></li>
        <li class="last slide">
                <ul class="content-grid feature-left">
                    <!-- featured grid item -->
                    <li class="featured content-item"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img src="img/special-offers-landing/nokia-jbl-power-up-speaker.png" alt="Beats by Dre" />
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">Nokia</span> JBL Power Up Speaker</span></strong>
                                <div class="price">
                                    <span class="sale">$199.99</span>
                                    <span class="original">249.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                    <!-- end featured grid item -->

                    <!-- some items in this grid will be hidden for various screen sizes please take note of classes beginning with "hide-for" and "show-for," etc... -->
                    <li class="content-item hide-for-mobile"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="../img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img alt="product name" src="img/special-offers-landing/isound-twist-speaker.png"/>
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">iSound</span> Twist Speaker</span></strong>
                                <div class="price">
                                    <span class="sale">$99.99</span>
                                    <span class="original">139.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                    <li class="content-item hide-for-medium-down"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="../img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img alt="product name" src="img/product-category-listing/pcl-skullcandy.jpg" />
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">Skullcandy</span> JIB In-Ear Headphones</span></strong>
                                <div class="price">
                                    <span class="sale">$39.99</span>
                                    <span class="original">59.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                    <li class="content-item hide-for-large-grid hide-for-small-grid-down"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="../img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img alt="product name" src="img/special-offers-landing/isound-twist-speaker.png"/>
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">iSound</span> Twist Speaker</span></strong>
                                <div class="price">
                                    <span class="sale">$99.99</span>
                                    <span class="original">139.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                    <li class="content-item hide-for-large-grid hide-for-small-grid-down"><form method="post" action="#">
                        <a class="content-link" href="#" title="content title">
                            <span class="sale-tag">
                                <img src="../img/special-offers-landing/sale-tag.png" alt="On Sale" />
                                <span class="copy">SALE 10% OFF UNTIL 10/23</span>
                            </span>
                            <figure class="content-fig">
                                <img alt="product name" src="img/product-category-listing/pcl-skullcandy.jpg" />
                            </figure>
                            <section class="content-detail">
                                <strong class="name"><span><span class="brand">Skullcandy</span> JIB In-Ear Headphones</span></strong>
                                <div class="price">
                                    <span class="sale">$39.99</span>
                                    <span class="original">59.99</span>
                                </div>
                                <div class="rating stars four">(21)</div>
                            </section>
                        </a>
                        <div class="color-picker">
                            <ul class="colors">
                                <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
                                    <img src="img/product-category-listing/pick-blk.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
                                    <img src="img/product-category-listing/pick-gry.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
                                    <img src="img/product-category-listing/pick-wht.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
                                    <img src="img/product-category-listing/pick-org.png"/>
                                    </a>
                                </li>
                                <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
                                    <img src="img/product-category-listing/pick-ylw.png"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-details">
                            <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
                            <div class="add-cart"><input class="button add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
                        </div></form>
                    </li>
                </ul>
        </li>
    </ul>
</article>
