<section id="others-bought" class="pdp-720-plus">
    <article id="pdp-others-bought-module" class="shop-products-module category-section hide-for-small hide-for-mobile">
        <div class="section-wrap">
            <header class="content-header">
                <h2 class="title"><strong>Others</strong> Also Bought</h2>
                <div class="slide-nav"></div>
            </header>
        </div>

        <ul class="products-slider slides">
            <li class="first products-slide">
                <ul class="product-grid">
                    <li class="grid-item featured">
                        <section class="product">
                            <a href="#">
                            <header class="details">
                                <h2 class="title">Lorem Ipsum 510 UC Portable Speaker</h2>
                                <div class="rating stars four">(21)</div>
                            </header>
                            <div class="price">
                                <span>$</span>169<sup>99</sup>
                            </div>
                            <img class="product-img" src="img/lifestyle-landing/product-1.png">
                            </a>
                        </section>
                    </li>
                    <li class="grid-item wide">
                        <section class="product">
                            <a href="#">
                            <header class="details">
                                <h2 class="title">Lorem Ipsum 510 UC Portable Speaker</h2>
                                <div class="rating stars four">(21)</div>
                            </header>
                            <div class="price">
                                <span>$</span>29<sup>99</sup>
                            </div>
                            <img class="product-img" src="img/lifestyle-landing/product-2.png">
                            </a>
                        </section>
                    </li>
                    <li class="grid-item single">
                        <section class="product cases">
                            <a href="#">
                            <header class="details">
                                <h3 class="desc">Shop All</h3>
                                <h2 class="title">Cases</h2>
                            </header>
                            <img class="product-img" src="img/lifestyle-landing/product-3.png">
                            </a>
                        </section>
                    </li>
                    <li class="grid-item single">
                        <section class="product headphones">
                            <a href="#">
                            <header class="details">
                                <h3 class="desc">Shop All</h3>
                                <h2 class="title">Headphones</h2>
                            </header>
                            <img class="product-img" src="img/lifestyle-landing/product-4.png">
                            </a>
                        </section>
                    </li>
                    <li class="grid-item wide">
                        <section class="product">
                            <a href="#">
                            <header class="details">
                                <h2 class="title">Lorem Ipsum 510 UC Portable Speaker</h2>
                                <div class="rating stars four">(21)</div>
                            </header>
                            <div class="price">
                                <span>$</span>19<sup>99</sup>
                            </div>
                            <img class="product-img" src="img/lifestyle-landing/product-5.png">
                            </a>
                        </section>
                    </li>
                </ul>
            </li>
            <li class="products-slide">
                <ul class="product-grid">
                    <li class="grid-item featured">
                        <section class="product">
                            <a href="#">
                            <header class="details">
                                <h2 class="title">Lorem Ipsum 510 UC Portable Speaker</h2>
                                <div class="rating stars four">(21)</div>
                            </header>
                            <div class="price">
                                <span>$</span>249<sup>99</sup>
                            </div>
                            <img class="product-img" src="img/lifestyle-landing/product-6.png">
                            </a>
                        </section>
                    </li>
                    <li class="grid-item wide">
                        <section class="product">
                            <a href="#">
                            <header class="details">
                                <h2 class="title">Lorem Ipsum 510 UC Portable Speaker</h2>
                                <div class="rating stars four">(21)</div>
                            </header>
                            <div class="price">
                                <span>$</span>29<sup>99</sup>
                            </div>
                            <img class="product-img" src="img/lifestyle-landing/product-2.png">
                            </a>
                        </section>
                    </li>
                    <li class="grid-item single">
                        <section class="product cases">
                            <a href="#">
                            <header class="details">
                                <h3 class="desc">Shop All</h3>
                                <h2 class="title">Cases</h2>
                            </header>
                            <img class="product-img" src="img/lifestyle-landing/product-3.png">
                            </a>
                        </section>
                    </li>
                    <li class="grid-item single">
                        <section class="product headphones">
                            <a href="#">
                            <header class="details">
                                <h3 class="desc">Shop All</h3>
                                <h2 class="title">Headphones</h2>
                            </header>
                            <img class="product-img" src="img/lifestyle-landing/product-4.png">
                            </a>
                        </section>
                    </li>
                    <li class="grid-item wide">
                        <section class="product">
                            <a href="#">
                            <header class="details">
                                <h2 class="title">Lorem Ipsum 510 UC Portable Speaker</h2>
                                <div class="rating stars four">(21)</div>
                            </header>
                            <div class="price">
                                <span>$</span>19<sup>99</sup>
                            </div>
                            <img class="product-img" src="img/lifestyle-landing/product-5.png">
                            </a>
                        </section>
                    </li>
                </ul>
            </li>
            <li class="last products-slide">
                <ul class="product-grid">
                    <li class="grid-item featured">
                        <section class="product">
                            <a href="#">
                            <header class="details">
                                <h2 class="title">Lorem Ipsum 510 UC Portable Speaker</h2>
                                <div class="rating stars four">(21)</div>
                            </header>
                            <div class="price">
                                <span>$</span>169<sup>99</sup>
                            </div>
                            <img class="product-img" src="img/lifestyle-landing/product-1.png">
                            </a>
                        </section>
                    </li>
                    <li class="grid-item wide">
                        <section class="product">
                            <a href="#">
                            <header class="details">
                                <h2 class="title">Lorem Ipsum 510 UC Portable Speaker</h2>
                                <div class="rating stars four">(21)</div>
                            </header>
                            <div class="price">
                                <span>$</span>29<sup>99</sup>
                            </div>
                            <img class="product-img" src="img/lifestyle-landing/product-2.png">
                            </a>
                        </section>
                    </li>
                    <li class="grid-item single">
                        <section class="product cases">
                            <a href="#">
                            <header class="details">
                                <h3 class="desc">Shop All</h3>
                                <h2 class="title">Cases</h2>
                            </header>
                            <img class="product-img" src="img/lifestyle-landing/product-3.png">
                            </a>
                        </section>
                    </li>
                    <li class="grid-item single">
                        <section class="product headphones">
                            <a href="#">
                            <header class="details">
                                <h3 class="desc">Shop All</h3>
                                <h2 class="title">Headphones</h2>
                            </header>
                            <img class="product-img" src="img/lifestyle-landing/product-4.png">
                            </a>
                        </section>
                    </li>
                    <li class="grid-item wide">
                        <section class="product">
                            <a href="#">
                            <header class="details">
                                <h2 class="title">Lorem Ipsum 510 UC Portable Speaker</h2>
                                <div class="rating stars four">(21)</div>
                            </header>
                            <div class="price">
                                <span>$</span>19<sup>99</sup>
                            </div>
                            <img class="product-img" src="img/lifestyle-landing/product-5.png">
                            </a>
                        </section>
                    </li>
                </ul>
            </li>
        </ul>
    </article>
</section>
