<section id="similar-products" class="content-items">
    <article id="pdp-similar-products-module" class="shop-products-module similar-products-module category-section pdp-similar-content">
        <header class="content-header">
            <h2 class="title"><strong>Similar</strong> Products<em><span class="more">+</span><span class="less">-</span></em></h2>
            <div class="slide-nav"></div>
        </header>
    <ul class="content-grid slides" itemscope itemtype="http://schema.org/Product">
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item1" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/fitbit.png" title="Fitbit Activity Tracker">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">Fitbit</span> Activity Tracker</span></h3>
              <div class="simple-price">
                <span itemprop="price">$79.00</span>
                <span class="sale">
                  <!--$299.00-->
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item2" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/iphone5-screen-protector.png" title="iPhone 5 Screen Protector">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">iPhone 5</span> Screen Protector</span></h3>
              <div class="simple-price">
                <span itemprop="price">$19.00</span>
                <span class="sale">
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item3" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/boomerang.png" title="iSound Boomerang Speaker">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">iSound</span> Boomerang Speaker</span></h3>
              <div class="simple-price">
                <span itemprop="price">$189.00</span>
                <span class="sale">
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item4" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/globe-cruiser.png" title="Denon Globe Cruiser On-Ear Headphones">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">Denon</span> Globe Cruiser On-Ear Headphones</span></h3>
              <div class="simple-price">
                <span itemprop="price">$499.00</span>
                <span class="sale">
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item5" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Awesome In-Ear Headphones">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">Awesome</span> In-Ear Headphones</span></h3>
              <div class="simple-price">
                <span itemprop="price">$29.00</span>
                <span class="sale">
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item1" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/fitbit.png" title="Fitbit Activity Tracker">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">Fitbit</span> Activity Tracker</span></h3>
              <div class="simple-price">
                <span itemprop="price">$79.00</span>
                <span class="sale">
                  <!--$299.00-->
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item2" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/iphone5-screen-protector.png" title="iPhone 5 Screen Protector">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">iPhone 5</span> Screen Protector</span></h3>
              <div class="simple-price">
                <span itemprop="price">$19.00</span>
                <span class="sale">
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item3" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/boomerang.png" title="iSound Boomerang Speaker">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">iSound</span> Boomerang Speaker</span></h3>
              <div class="simple-price">
                <span itemprop="price">$189.00</span>
                <span class="sale">
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item4" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/globe-cruiser.png" title="Denon Globe Cruiser On-Ear Headphones">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">Denon</span> Globe Cruiser On-Ear Headphones</span></h3>
              <div class="simple-price">
                <span itemprop="price">$499.00</span>
                <span class="sale">
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item5" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Awesome In-Ear Headphones">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">Awesome</span> In-Ear Headphones</span></h3>
              <div class="simple-price">
                <span itemprop="price">$29.00</span>
                <span class="sale">
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item1" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/fitbit.png" title="Fitbit Activity Tracker">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">Fitbit</span> Activity Tracker</span></h3>
              <div class="simple-price">
                <span itemprop="price">$79.00</span>
                <span class="sale">
                  <!--$299.00-->
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item2" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/iphone5-screen-protector.png" title="iPhone 5 Screen Protector">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">iPhone 5</span> Screen Protector</span></h3>
              <div class="simple-price">
                <span itemprop="price">$19.00</span>
                <span class="sale">
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item3" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/boomerang.png" title="iSound Boomerang Speaker">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">iSound</span> Boomerang Speaker</span></h3>
              <div class="simple-price">
                <span itemprop="price">$189.00</span>
                <span class="sale">
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item4" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/globe-cruiser.png" title="Denon Globe Cruiser On-Ear Headphones">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">Denon</span> Globe Cruiser On-Ear Headphones</span></h3>
              <div class="simple-price">
                <span itemprop="price">$499.00</span>
                <span class="sale">
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
      <li class="content-item"><form method="post" action="#">
        <a href="#" title="view this item5" class="product-link">
          <div class="simple-slider-item">
            <div class="simple-image">
              <img itemprop="image" src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Awesome In-Ear Headphones">
            </div>
            <div class="simple-detail" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <h3 class="product-title" itemprop="name"><span class="product-seller-title"><span itemprop="seller">Awesome</span> In-Ear Headphones</span></h3>
              <div class="simple-price">
                <span itemprop="price">$29.00</span>
                <span class="sale">
                  <!--sale price would go to the left, and original would be here-->
                </span>
              </div>
              <div class="rating stars four">(21)</div>
            </div>
          </div>
          <!-- end simple item -->
        </a>
        <div class="color-picker">
          <ul class="colors">
            <li class="color"><a href="pick-color.jsp" title="black" data-color="black">
              <img src="img/product-category-listing/pick-blk.png" alt="Color Black" title="Black" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="gray" data-color="gray">
              <img src="img/product-category-listing/pick-gry.png" alt="Color Gray" title="Gray" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="white" data-color="white">
              <img src="img/product-category-listing/pick-wht.png" alt="Color White" title="White" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="orange" data-color="orange">
              <img src="img/product-category-listing/pick-org.png" alt="Color Orange" title="Orange" />
              </a>
            </li>
            <li class="color"><a href="pick-color.jsp" title="yellow" data-color="yellow">
              <img src="img/product-category-listing/pick-ylw.png" alt="Color Yellow" title="Yellow" />
              </a>
            </li>
          </ul>
        </div>
        <div class="content-details">
          <div class="quick-view"><a href="?pid=00110001" title="Quickview">quickview</a></div>
          <div class="add-cart"><input class="add-cart-cta data-cart-add" type="submit" title="Add to Cart" value="Add to Cart" /></div>
        </div>
      </form></li>
    </ul>
    </article>
</section>
