<section id="social-email-overlay" class="lightbox">
    <div class="lightbox-info-block">
        <div class="lightbox-close"></div>
        <h3 class="lightbox-headline">Share this Item</h3>
        <div class="lightbox-content">
            <figure class="lightbox-fig">
                <img src="img/product-detail-page/pdp-plus/dre-beats-1.png" alt="" />
                <figcaption>Lorem Ipsum Descriptum</figcaption>
            </figure>
            <form id="lightbox-email-modal" name="lightbox-email-modal" class="lightbox-email-modal" method="post" action="social-share-example.json">
                <div class="lightbox-input-wrap">
                    <label for="lightbox-your-email">Your Email</label>
                    <input id="lightbox-your-email" name="lightbox-your-email" type="email" class="lightbox-your-email" placeholder="Email Address" value="" />
                </div>
                <div class="lightbox-input-wrap">
                    <label for="lightbox-recipient-email">Recipient Email</label>
                    <input id="lightbox-recipient-email" name="lightbox-recipient-email" type="email" class="lightbox-recipient-email" placeholder="Email Address" value="" />
                </div>
                <div class="lightbox-cta">
                    <input type="submit" id="lightbox-email-send" class="" value="Send" title="Send" />
                </div>
            </form>
        </div>
    </div>
</section>
