<div id="special-offers" class="special-offers category-section">
    <header class="content-header">
        <h2 class="title"><strong>Special</strong> Offers</h2>
        <div class="slide-nav"></div>
    </header>
    <ul class="slides">
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/special-offers-landing/special-offer-promo-fpo-camera.png" class="sale-img" title="Camera on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">10</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all headphones,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                             <img src="img/special-offers-landing/special-offer-promo-fpo-over-head-headphones.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <h2>What’s hot now in audio</h2>
                                <p class="description">Lorem ipsum neque porro quisquam est qui dolorem ipsum quia dolor sit ame</p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/special-offers-landing/special-offer-promo-fpo-camera.png" class="sale-img" title="Camera on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/special-offers-landing/special-offer-promo-fpo-camera.png" class="sale-img" title="Camera on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">10</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all headphones,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                             <img src="img/special-offers-landing/special-offer-promo-fpo-over-head-headphones.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <h2>What’s hot now in audio</h2>
                                <p class="description">Lorem ipsum neque porro quisquam est qui dolorem ipsum quia dolor sit ame</p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/special-offers-landing/special-offer-promo-fpo-camera.png" class="sale-img" title="Camera on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/special-offers-landing/special-offer-promo-fpo-camera.png" class="sale-img" title="Camera on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">10</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all headphones,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                             <img src="img/special-offers-landing/special-offer-promo-fpo-over-head-headphones.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <h2>What’s hot now in audio</h2>
                                <p class="description">Lorem ipsum neque porro quisquam est qui dolorem ipsum quia dolor sit ame</p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/special-offers-landing/special-offer-promo-fpo-camera.png" class="sale-img" title="Camera on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/special-offers-landing/special-offer-promo-fpo-camera.png" class="sale-img" title="Camera on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">10</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all headphones,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                             <img src="img/special-offers-landing/special-offer-promo-fpo-over-head-headphones.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <h2>What’s hot now in audio</h2>
                                <p class="description">Lorem ipsum neque porro quisquam est qui dolorem ipsum quia dolor sit ame</p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/special-offers-landing/special-offer-promo-fpo-camera.png" class="sale-img" title="Camera on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/special-offers-landing/special-offer-promo-fpo-camera.png" class="sale-img" title="Camera on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">10</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all headphones,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                             <img src="img/special-offers-landing/special-offer-promo-fpo-over-head-headphones.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <h2>What’s hot now in audio</h2>
                                <p class="description">Lorem ipsum neque porro quisquam est qui dolorem ipsum quia dolor sit ame</p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/special-offers-landing/special-offer-promo-fpo-camera.png" class="sale-img" title="Camera on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item-wrapper">
                        <a href="#" title="Shop Offers">
                            <img src="img/product-detail-page/plp-spcl/plp-item-sale-bg.png" class="sale-img" title="Headphone on Sale">
                            <span class="sale-details">
                                <span class="splash">
                                    <span class="digits">20</span>
                                    <span class="measure">
                                        <span class="unit">%</span>
                                        <span class="words">OFF</span>
                                    </span>
                                </span>
                                <p class="details">
                                    all audio,<br/> this week only
                                </p>
                            </span>
                            <span class="shop" title="Shop Offers">SHOP OFFERS &#62;</span>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
