<header class="special-offers-header header-promo">
  <figure class="promo-fig">
    <img src="img/special-offers-landing/special-offer-promo-fpo.png">
  </figure>
  <div class="promo-content">
    <h1 class="promo-copy">
      <span class="first">Buy 3 headphones</span>&nbsp;<span>get</span><strong>20<sup>%</sup><span>off</span></strong>
      <a href="#" class="button promo-cta" title="learn more"><span>see details</span></a>
    </h1>
	<span class="caret show-for-mobile"></span>
	<div class="mobile-details show-for-mobile">
		<p class="mobile-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
    <p class="mobile-cta"><span><a class="see-details" href="#">See details</a></span></p>
	</div>
  </div>
  <div class="special-header">
    <strong>Shop</strong><span>Special offers</span>
  </div>
</header>
