      <section class="trending-categories category-section hide-for-small">
        <div class="section-wrap">
          
          <header class="content-header" style="margin-bottom: -24px;">
            <div class="numberCircle">3</div>
            <div style="float:left; padding-left: 10px;"><h2 class="title" style="text-transform: none;"><strong>Shop by </strong> TOP BRANDS</h2></div>
          </header>
    		<div>
		        <li class="topbrandsRow">
		        	<span><a href="#" title="Apple"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-APPLE-Retina-COLOR?$nav-ml-retina$&wid=160&hei=120" alt="Apple"></a></span>
					<span><a href="#" title="Beats"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-BEATS-Retina-COLOR?$nav-ml-retina$&wid=160&hei=120" alt="Beats"></a></span>
		        	<span><a href="#" title="Belkin"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-BELKIN-Retina-COLOR?$nav-ml-retina$&wid=160&hei=120" alt="Belkin"></a></span>
					<span><a href="#" title="Bose"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-BOSE-Retina-COLOR?$nav-ml-retina$&wid=160&hei=120" alt="Bose"></a></span>
					<span><a href="#" title="Fitbit"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-FITBIT-Retina-COLOR?$nav-ml-retina$&wid=160&hei=120" alt="Fitbit"></a></span>
		        </li>
		        
		        <li class="topbrandsRow">
		        	<span><a href="#" title="Incipio"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-INCIPIO-Retina-COLOR?$nav-ml-retina$&wid=160&hei=120" alt="Incipio"></a></span>
					<span><a href="#" title="Jawbone"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-JAWBONE-Retina-COLOR?$nav-ml-retina$&wid=160&hei=120" alt="Jawbone"></a></span>
		        	<span><a href="#" title="Lifeproof"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-LIFEPROOF-Retina-COLOR?$nav-ml-retina$&wid=160&hei=120" alt="LifeProof"></a></span>
					<span><a href="#" title="Mophie"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-MOPHIE-Retina-COLOR?$nav-ml-retina$&wid=160&hei=120" alt="Mophie"></a></span>
					<span><a href="#" title="Motorola"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-MOTOROLA-Retina-COLOR?$nav-ml-retina$&wid=160&hei=120" alt="Motorola"></a></span>
		        </li>
		        <li class="topbrandsRow">
		        	<span><a href="#" title="OtterBox"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-OTTERBOX-Retina-COLOR?$nav-ml-retina$&wid=160&hei=120" alt="Otterbox"></a></span>
					<span><a href="#" title="Plantronics"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-Plantronics-Retina-COLOR?$nav-ml-retina$&wid=160&hei=120" alt="Plantronics"></a></span>
		        	<span><a href="#" title="Samsung"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-SAMSUNG-Retina-COLOR?$nav-ml-retina$&wid=160&hei=120" alt="Samsung"></a></span>
					<span><a href="#" title="Speck"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-SPECK-Retina-COLOR?$nav-ml-retina$&wid=160&hei=120" alt="Speck"></a></span>
					<span><a href="#" title="Viva Movil Color"><img src="http://s7.vzw.com/is/image/VerizonWireless/BrandLogos-Viva-Movil-Color-Retina?$nav-ml-retina$&nav-ml-retina$&wid=160&hei=120" alt="Viva Movil"></a></span>
		        </li>
    		</div>
        </div>
<br/><br/>
</section>    