<section class="trending-lifestyles-module category-section">

	<div class="section-wrap">
	  <header class="content-header">
	    <h1 class="title"><strong>Featured </strong>Lifestyles</h1>
	  </header>
	</div>

	<ul class="section-tabs">
		<li class="tab audio-video active">
			<a href="#audio-video">
				<span class="icon audio-video"></span>
				<h2>audio/video</h2>
			</a>
			<span class="carrot"></span>
		</li>
		<li class="tab fitness-health">
			<a href="#fitness-health">
				<span class="icon fitness-health"></span>
				<h2>fitness/health</h2>
			</a>
			<span class="carrot"></span>
		</li>
		<li class="tab traveler">
			<a href="#traveler">
				<span class="icon traveler"></span>
				<h2>traveler</h2>
			</a>
			<span class="carrot"></span>
		</li>
	</ul>

    <div class="lifestyle-tab-content">

        <div id="audio-video" class="audio-video tab-content active">
            <div class="slide-wrapper trendingLifestyleSlider">
                <ul class="slides">
                    <li class="slide">
                      <div class="featured-tile">
                        <span class="featured-image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image">
                        </span>
                          <div class="details">
                            <h5>Audiophile</h5>
                            <h3>Alpha Ipsum Dolor Sit</h3>
                            <p>Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                            <a href="#" title="Related Lifestyle Story">Read Story</a>
                          </div>
                          <div class="product-reveal"></div>
                          <div class="related-product">
                              <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                              <a href="#" title="view this item" class="product-link">
                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                            </a>
                          </div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Beats by Dre Headphones...<br/>$299.99</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">View product</a></div>
                      </div>
                    </li>
                    <li class="slide">
                      <div class="featured-tile">
                        <span class="featured-image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image">
                        </span>
                          <div class="details">
                            <h5>Audiophile</h5>
                            <h3>Alpha Ipsum Dolor Sit</h3>
                            <p>Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                            <a href="#" title="Related Lifestyle Story">Read Story</a>
                          </div>
                          <div class="product-reveal"></div>
                          <div class="related-product">
                              <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                              <a href="#" title="view this item" class="product-link">
                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                            </a>
                          </div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Beats by Dre Headphones...<br/>$299.99</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">View product</a></div>
                      </div>
                    </li>
                    <li class="slide">
                      <div class="featured-tile">
                        <span class="featured-image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image">
                        </span>
                          <div class="details">
                            <h5>Audiophile</h5>
                            <h3>Alpha Ipsum Dolor Sit</h3>
                            <p>Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                            <a href="#" title="Related Lifestyle Story">Read Story</a>
                          </div>
                          <div class="product-reveal"></div>
                          <div class="related-product">
                              <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                              <a href="#" title="view this item" class="product-link">
                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                            </a>
                          </div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Beats by Dre Headphones...<br/>$299.99</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">View product</a></div>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="fitness-health" class="fitness-health tab-content">
            <div class="slide-wrapper trendingLifestyleSlider">
                <ul class="slides">
                    <li class="slide">
                      <div class="featured-tile">
                        <span class="featured-image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image">
                        </span>
                          <div class="details">
                            <h5>Audiophile</h5>
                            <h3>Alpha Ipsum Dolor Sit</h3>
                            <p>Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                            <a href="#" title="Related Lifestyle Story">Read Story</a>
                          </div>
                          <div class="product-reveal"></div>
                          <div class="related-product">
                              <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                              <a href="#" title="view this item" class="product-link">
                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                            </a>
                          </div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Beats by Dre Headphones...<br/>$299.99</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">View product</a></div>
                      </div>
                    </li>
                    <li class="slide">
                      <div class="featured-tile">
                        <span class="featured-image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image">
                        </span>
                          <div class="details">
                            <h5>Audiophile</h5>
                            <h3>Alpha Ipsum Dolor Sit</h3>
                            <p>Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                            <a href="#" title="Related Lifestyle Story">Read Story</a>
                          </div>
                          <div class="product-reveal"></div>
                          <div class="related-product">
                              <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                              <a href="#" title="view this item" class="product-link">
                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                            </a>
                          </div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Beats by Dre Headphones...<br/>$299.99</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">View product</a></div>
                      </div>
                    </li>
                    <li class="slide">
                      <div class="featured-tile">
                        <span class="featured-image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image">
                        </span>
                          <div class="details">
                            <h5>Audiophile</h5>
                            <h3>Alpha Ipsum Dolor Sit</h3>
                            <p>Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                            <a href="#" title="Related Lifestyle Story">Read Story</a>
                          </div>
                          <div class="product-reveal"></div>
                          <div class="related-product">
                              <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                              <a href="#" title="view this item" class="product-link">
                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                            </a>
                          </div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Beats by Dre Headphones...<br/>$299.99</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">View product</a></div>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="traveler" class="traveler tab-content">
            <div class="slide-wrapper trendingLifestyleSlider">
                <ul class="slides">
                    <li class="slide">
                      <div class="featured-tile">
                        <span class="featured-image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image">
                        </span>
                          <div class="details">
                            <h5>Audiophile</h5>
                            <h3>Alpha Ipsum Dolor Sit</h3>
                            <p>Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                            <a href="#" title="Related Lifestyle Story">Read Story</a>
                          </div>
                          <div class="product-reveal"></div>
                          <div class="related-product">
                              <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                              <a href="#" title="view this item" class="product-link">
                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                            </a>
                          </div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Beats by Dre Headphones...<br/>$299.99</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">View product</a></div>
                      </div>
                    </li>
                    <li class="slide">
                      <div class="featured-tile">
                        <span class="featured-image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image">
                        </span>
                          <div class="details">
                            <h5>Audiophile</h5>
                            <h3>Alpha Ipsum Dolor Sit</h3>
                            <p>Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                            <a href="#" title="Related Lifestyle Story">Read Story</a>
                          </div>
                          <div class="product-reveal"></div>
                          <div class="related-product">
                              <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                              <a href="#" title="view this item" class="product-link">
                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                            </a>
                          </div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Beats by Dre Headphones...<br/>$299.99</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">View product</a></div>
                      </div>
                    </li>
                    <li class="slide">
                      <div class="featured-tile">
                        <span class="featured-image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-large-1.png" alt="Large Story Hero Image">
                        </span>
                          <div class="details">
                            <h5>Audiophile</h5>
                            <h3>Alpha Ipsum Dolor Sit</h3>
                            <p>Alpha suspendisse consequat lacinia sapien a placerat. Pellentesque vel massa felis. Sed accumsan vulputate nisi sit amet tincidunt. Cras nec lorem purus, sed tempor est.</p>
                            <a href="#" title="Related Lifestyle Story">Read Story</a>
                          </div>
                          <div class="product-reveal"></div>
                          <div class="related-product">
                              <h4 class="related-product-title">Related Product with a Title Long Enough to Take up Two Lines</h4>
                              <a href="#" title="view this item" class="product-link">
                                <img src="img/product-detail-page/pdp-products/btf/blue-headphones.png" title="Related Product Title" alt="Related Product Title">
                                <div class="related-product-cta">More about these <span class="product-title">Awesome Blue Headphones</span></div>
                            </a>
                          </div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-top-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Alpha ipsum dolor sit amet, consectrtur adipisicing ...</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">Read Story</a></div>
                      </div>
                      <div class="tile">
                          <div class="image">
                            <img src="img/product-detail-page/pdp-plus/lifestyles-small-bottom-1.jpg" title="Lifestyles Story">
                          </div>
                          <div class="teaser">Beats by Dre Headphones...<br/>$299.99</div>
                          <div class="read-story"><a href="#" class="read-story-link" title="Read this story">View product</a></div>
                      </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>


</section>
