      <section class="trending-categories category-section hide-for-small">
        <div class="section-wrap">
          <header class="content-header">
            <h2 class="title"><strong>Product</strong> Categories</h2>
            <div class="slide-nav"></div>
          </header>
        </div>
        <div class="section-wrap">
          <div class="slide-wrapper fslider">
            <ul class="slides">

              <li class="">
                <a href="#">
                  <p>SEE ALL <br/> AUDIO</p>
                  <img src="../img/home/trending-audio.jpg"/>
                </a>
              </li>

              <li class="">
                <a href="#">
                  <p>SEE ALL <br/> CHARGERS</p>
                  <img src="../img/home/trending-chargers.jpg"/>
                </a>
              </li>

              <li class="">
                <a href="#">
                  <p>SEE ALL <br/> AUDIO</p>
                  <img src="../img/home/trending-audio.jpg"/>
                </a>
              </li>

              <li class="">
                <a href="#">
                  <p>SEE ALL <br/> CHARGERS</p>
                  <img src="../img/home/trending-chargers.jpg"/>
                </a>
              </li>

              <li class="">
                <a href="#">
                  <p>SEE ALL <br/> CASES</p>
                  <img src="../img/home/trending-cases.jpg"/>
                </a>
              </li>

              <li class="">
                <a href="#">
                  <p>SEE ALL <br/> HEADSETS</p>
                  <img src="../img/home/trending-headsets.jpg"/>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>    