
#site-header {
	#mls-nav {
		#nav-tab4 {
			width: 58%;
			#minicart-box {
				#minicart-cart,
				.minicart-summary {
					width:54%;
				}
			}
		}
	}
}

#minicart-box {
	.minicart-border-block {
		width: 87px !important;
	}
}