.home-page {
    .hide-for-large-down,
    .hide-for-large-grid
    {
        display: block !important;
    }

    // HPQC 6094
    .home-hero #home-hero-slider .slides li.alt .hero-info .hero-sub 
    {
        width:284px;

        .hero-copy
        {
            line-height: 28px;
        }
    }

    .madlib .content-grid .content-item .content-fig
    {
        margin: 15px 0 0;
    }

    .madlib .content-header, // MyMobileLife header
     .trending-categories, // Trending Categories
     .trending-products-module .content-header, // Trending Products
     .trending-lifestyles-module .content-header, // FeaturedLifestyles header
     .featured-reviews-module .content-header // FeaturedReviews header
     {
        max-width: 1076px;
        min-width: 1076px;

        .trending-categories .flex-viewport { // show only five boxes
            width: 1025px;
        }

    }

    .content-grid .content-item {
        a.see-all-cta{
            height:187px;
        }
    }

    .featured-reviews-module {
        .featured-review {
            .product-details {
                .carrot {
                    left: 471px;
                }
            }
        }
    }

    section.madlib, section.trending-products-module, section.trending-categories, section.trending-lifestyles-module .section-wrap, section.featured-reviews-module .section-wrap {
        .content-grid .content-item {
            width: 20%;
        }
    }
}
