.home-page {

    /*===========================================
    =            Trending Categories            =
    ===========================================*/
     .madlib .content-header, // MyMobileLife
     .trending-categories, // Trending Categories
     .trending-products-module .content-header, // Trending Products
     .trending-lifestyles-module .content-header, // FeaturedLifestyles header
     .featured-reviews-module .content-header // FeaturedReviews header
     {
        // max-width: 646px;
        // min-width: 646px;
        max-width: 431px;
        min-width: 431px;
     }



    .home-hero {
        #home-hero-slider {
            .slides{
                height: 302px;
                li{
                    &.alt {
                        .hero-info {
                            h1, h2 {
                                &.story-title {
                                    padding: 45px 0 0 29px;
                                    line-height: normal;
                                    letter-spacing: -.07em;
                                    text-align: left;
                                    font: {
                                        family: $fontVzwBoldItalic;
                                        size: 48px;
                                    }
                                }
                            }
                        }
                    }
                    .product-hero {
                        width: 100%;
                        h1 {
                            color: $colorVzwNavBrd;
                            display: inline-block;
                            float: left;
                            text-align: left;
                            width: 60%;
                            line-height: 28px;
                            padding: 15px 0 0 15px;
                            font: {
                                family: $fontVzwBoldItalic;
                                size: 32px;
                            }
                        }
                    }
                }
            }

            &.wow
            {
                .slides 
                {
                    height: auto;
                }

                .hero-title 
                {
                    bottom: 180px;
                    font-size: 22px;

                    strong
                    {
                        font-size: 62px;
                    }
                }
            }
        }
    }
}
