    #cart-block{
        width:40%;
        .product-title{
            font-size:24px;
        }
    }
    #carousel-block{
        width:60%;
        .crsl-offer-box{
            > div{
                position:relative;
            }
            width:125px;
            height:125px;
            .offer-amt{
                font-size:58px;
                margin:26px auto 0;
            }
            .offer-unit{
                font-size:26px;

            }
            .offer-off{
                font-size: 12px;
                position: static;
                margin-left: -8px;
            }
        }
    }
