// Font Variables
$fontArial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontVzw: "Verizon Apex";
$fontVzwBook: "Verizon Apex Book";
$fontVzwBookItalic: "Verizon Apex Book Italic";
$fontVzwBold: "Verizon Apex Bold";
$fontVzwBoldItalic: "Verizon Apex Bold Italic";
$fontVzwLight: "Verizon Apex Light";
$fontVzwMedium: "Verizon Apex Medium";

// Global colors
$colorVzwRed: #ED1C24;
$colorVzwRedPrimary: #ED1C24;
$colorVzwLogoBg: #B30000;
$colorVzwNavBrd: #FFFFFF;
$colorVzwNavBrdShade: #D1D3D0;
$colorNavLinks: #333;
$colorNavAccountLinks: #999;
$colorProductPanelBorder: #E5E5E5;
$tabsBGcolor: #DFE3E4;
$colorActiveTabBg: #ECEDEE;
$colorActiveTabBrd: #B7BBBD;
$colorNavMobile: #3C4045;
$colorVzwNavOffer: #2fbdb1;
$colorNavItemBorder: #F0F3F3;
$colorBGYellow: #C49F39;
$colorBGBlue: #3B73B0;

// mega-menu
$colorCountRed: #C00;
$colorSubnavTabBg: #D2D3D4;
$colorSubnavActiveTabBg: #2A2D32;
$colorSubnavTabBrd: #C5C9CB;
$colorSubnavGridBrd: #C9CDCE;
$colorNavGridText: #333333;

// 404
$colorTxtGray: #333;
$colorBdrGray: #ccc;

// Product, cart & checkout colors //
$cartGreyLt: #b0b0b0;
$cartGreyMd: #666666;
$cartGreyDk: #3d4146;
$cartGreySelect: #adadad;
$cartGreyAltWht: #edefef;
$cartGreyFocus: #d9d9d9;

$actLinkBlue: #0066cc;
$successGreen: #54b87d;

$featuredBg : #27a0cc;
$techinfoBg : #119a70;
$highlightBg: #29a0cd;
$pdpAmber: #ffba62;
$saleBannerBG: #3195A9;
$pdpOfferRed: #ed1c24;

//category landing
$colorCategoryCTA: #06C;
$colorCategoryListHdrBg: #29bdb1;
$colorHdrInfoBg: #DADEDE;
$bgPositionPromoSmall: -85px 35px;
$bgColorPromo: #ecedee;
$bgColorPromoTitle: #2d3133;
$colorPromo: #666666;

// brand landing
$colorPromoBg: #EEEEEE;
$colorPromoFont: #6D6E71;

// General Variables
$globalGutter: 30px;


// Home page
$colorPromoBg: #EEEEEE;
$colorPromoFont: #6D6E71;
$cartGreyLt: #727272;
$cartGreyMd: #666666;
$cartGreyDk: #3d4146;
$controlTxt: #c5c7c7;

$colorVzwRed: #ED1C24;
$actLinkBlue: #0066cc;

$specialOfferBlue: #3195A9;

$fontArial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontVzw: "Verizon Apex";
$fontVzwBook: "Verizon Apex Book";
$fontVzwBookItalic: "Verizon Apex Book Italic";
$fontVzwBold: "Verizon Apex Bold";
$fontVzwBoldItalic: "Verizon Apex Bold Italic";
$fontVzwLight: "Verizon Apex Light";
$fontVzwMedium: "Verizon Apex Medium";

$cartGreyLt: #727272;
$cartGreyMd: #666666;
$cartGreyDk: #3d4146;
$controlTxt: #c5c7c7;

$colorVzwRed: #ED1C24;
$actLinkBlue: #0066cc;

$specialOfferBlue: #3195A9;

$availColorBlk: #2e2e2e;
$availColorWht: #ffffff;
$availColorGrey: #b1b0b0;
$availColorBlue: #51b0d8;

$pdpGreyMd: #d6dcdc;
$featuredBg : #27a0cc;
$techinfoBG : #119a70;
$pdpGreyMd: #d6dcdc;
$featuredBg : #27a0cc;
$techinfoBg : #119a70;
$btfHiliteBg : #2a2d32;
$contHiliteBg : #eaecec;

//content-landing
$colorLightBg: #EFF2F2;
$colorArticleBorder: #DCDEDE;
$colorSocialCount: #848483;
$colorShowMoreBorder: #D1D2D2;

// Product Listing
$colorDarkGray: #333;
$colorMediumGray: #656;
$colorLightGray: #999;
$colorFeaturedPrice: #C00;
$colorProductListHeaderBg: #EBEEEE;
$colorLightGrayBorder: #ECEDEE;
$colorQuickViewBackground: #EAEDED;
$colorQuickViewLink: #0066CC;
$colorQuickViewTitle: #3D4146;

$colorNewProduct: #cd9d37;
$colorSaleBG:#ffba62;

$sizeHeaderFont: 80px;
$sizeHeaderFontMed: 60px;
$sizeHeaderFontSmall: 32px;
$sizeHeaderFilterFont: 18px;
$sizeHeaderFilterFontSmall: 14px;

$wrapperPaddingLarge: 40px 30px 35px;
$wrapperPaddingSmall: 20px 15px;

$leftColWidth: 255px;

// Search resoults
$searchBG: #E5EBEB;
$sortBG: #F1F3F2;
