    #zoom-slides {
        li {
            img {
                margin-top: -5%;
            }
        }
    }

    #zoom-block {
        .zoom-content {
            top: 5%;
        }
    }


    #similar-products {
        .similar-products-module {
            ul.slides {
                li {
                    width: 20%;
                }
            }
        }
    }