.header-promo{
    .special-header{
        display:none;
    }
}

.hide-for-mobile {
    display: none !important;
}
.bundle-deals {
	.flex-viewport {
		//margin-left: -35px;
	}
}
.category-section {
    .slide-nav{
        display:none;
    }
    .content-grid {
        .content-item {
            &.featured {
                padding: 35px 15px 15px 15px;
                .content-detail {
                    .price {}
                }
            }
            .content-fig,
            .content-detail {
                float: none;
                width: 100%;
            }
            .content-fig {
                margin: 0 auto;
                max-width: 70%;
            }
            .content-detail {
                .name,
                .price {
                    float: left;
                    clear: left;
                }
                .price { color: #000; }
                .rating {
                    float: right;
                    position: static;
                }
            }
        }
        .content-item.large {
            .content-detail .content-copy {
                margin: 0;
            }
            .content-fig {
                overflow:hidden;
                max-height: 180px;
                img {
                    max-width: 100%;
                    margin: 0;
                }
            }
        }
    }
}
.bundle-deals {
    .quick-view-item {
        .offer-box {
            width: 100px !important;
            height: 100px !important;

            .offer-amt{
                font-size: 46px !important;
                margin: 18px 0 0 15px !important;
            }
            .offer-unit{
                right: 10px !important;
            }
            .offer-off{
                bottom: 29px !important;
                right: 13px !important;
            }
        }
    }
}